<template>
    <div class="container mx-auto px-6 py-10">
        <h2 class="text-4xl font-medium uppercase mb-3">Checkout</h2>
        <div class="order-summary">
            <div class="table-container">
                <span></span>
                <div class="overflow-x-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th width="80">No.</th>
                                <th width="100">Qty.</th>
                                <th width="80">Unit</th>
                                <th width="100">Item Code</th>
                                <th width="270">Item Description</th>
                                <th width="140">Promoted Item?</th>
                                <th width="140">Unit Price</th>
                                <th width="140">Price</th>
                                <th width="140">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span class="block w-auto">
                                        <input
                                            type="text"
                                            name
                                            id
                                            value="1"
                                            class="block w-full p-2"
                                        />
                                    </span>
                                </td>
                                <td>
                                    <span>Pack</span>
                                </td>
                                <td>
                                    <span>123ABC</span>
                                </td>
                                <td>
                                    <span>Lorem ipsum dolor sit amet</span>
                                </td>
                                <td>
                                    <span>Yes</span>
                                </td>
                                <td>
                                    <span>Php 0,000.00</span>
                                </td>
                                <td>
                                    <span>Php 0,000.00</span>
                                </td>
                                <td>
                                    <span>Php 0,000.00</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span class="block w-auto">
                                        <input
                                            type="text"
                                            name
                                            id
                                            value="1"
                                            class="block w-full p-2"
                                        />
                                    </span>
                                </td>
                                <td>
                                    <span>Pack</span>
                                </td>
                                <td>
                                    <span>123ABC</span>
                                </td>
                                <td>
                                    <span>Lorem ipsum dolor sit amet</span>
                                </td>
                                <td>
                                    <span>Yes</span>
                                </td>
                                <td>
                                    <span>Php 0,000.00</span>
                                </td>
                                <td>
                                    <span>Php 0,000.00</span>
                                </td>
                                <td>
                                    <span>Php 0,000.00</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-sm">
                <ul class="order-amount">
                    <li>
                        <span class>Gross Amount:</span>
                        <span>Php 0,000.00</span>
                    </li>
                    <li>
                        <span>Less - Pick-Up Allowances:</span>
                        <span>Php 0,000.00</span>
                    </li>
                    <li>
                        <span>Less - Payment Discount:</span>
                        <span>Php 0,000.00</span>
                    </li>
                    <li>
                        <span class="font-bold">Net Amount:</span>
                        <span class="font-bold">Php 0,000.00</span>
                    </li>
                </ul>
                <em
                    class="block text-red text-right p-3"
                >Prices and availability is subject to change without prior notice.</em>
            </div>

            <div class="button-group mt-8 w-full lg:justify-end">
                <!-- <div></div> -->
                <div class="mt-10 lg:mt-0">
                    <button class="button gray">Edit</button>
                    <button class="button default">Change Payment Option</button>
                    <button class="button default">Continue Shopping</button>
                    <button class="button default">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "checkout-component"
};
</script>
