<template>
    <div>
        <div class="table-container">
            <div class="scrollable hidden md:block">
                <table>
                    <thead>
                        <tr>
                            <th width="220" class="text-center">Qty.</th>
                            <th width="110" class="text-center">Item Code</th>
                            <th width="64">&nbsp;</th>
                            <th width="24" class="p-0">&nbsp;</th>
                            <th>Item Description</th>
                            <th v-if="!hidePrices" width="140" class="text-right">Price</th>
                            <th v-if="!hidePrices" width="150" class="text-right">Total Price</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="scrollable" id="order_list">
                <table>
                    <thead class="md:hidden">
                        <tr>
                            <th width="220" class="text-center">Qty.</th>
                            <th width="110" class="text-center">Item Code</th>
                            <th width="64">&nbsp;</th>
                            <th width="24">&nbsp;</th>
                            <th>Item Description</th>
                            <th v-if="!hidePrices" width="140" class="text-right">Price</th>
                            <th v-if="!hidePrices" width="150" class="text-right">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            class="cursor-pointer"
                            :id="item.item_code"
                            v-for="item in items"
                            :key="item.id"
                        >
                            <td width="220">
                                <quantity-picker-component
                                    @onChangeQuantity="onChangeQuantity($event)"
                                    :item="item"
                                    :disabled="hidePrices"
                                ></quantity-picker-component>
                            </td>

                            <td
                                @click="onShowModal(item)"
                                width="110"
                                class="text-center"
                            >{{item.item_code}}</td>
                            <td width="64">
                                <button @click="onAttempToRemove(item)" class="w-full block">
                                    <i class="ico-trash"></i>
                                </button>
                            </td>
                            <td @click="onShowModal(item)" width="24" class="promo-v">
                                <span v-if="$itemPromo(item) && showPromo">
                                    <img src="../../assets/img/promo-v@2x.png" width="16" />
                                </span>
                            </td>
                            <td @click="onShowModal(item)">
                                <span>{{item.item.description}}</span>
                            </td>
                            <td
                                v-if="!hidePrices"
                                @click="onShowModal(item)"
                                width="140"
                                class="text-right"
                            >
                                <span class="font-bold">&#8369; {{item.price}}</span>
                            </td>
                            <td
                                v-if="!hidePrices"
                                @click="onShowModal(item)"
                                width="150"
                                class="text-right"
                            >
                                <span class="font-bold">&#8369; {{item.total_price}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <table class="add-item">
                <tr id="order_item" v-show="isAddingNewItem || _.isEmpty(items)">
                    <td width="220" class="disabled">
                        <quantity-picker-component :disabled="true" :item="{quantity: 0}"></quantity-picker-component>
                    </td>
                    <td class="item-code" width="110">
                        <multiselect
                            v-if="isAddingNewItem || _.isEmpty(items)"
                            track-by="label"
                            label="label"
                            v-model="newProduct"
                            class="item-code"
                            placeholder
                            v-focus="isAddingNewItem"
                            :reset-after="true"
                            :allowEmpty="true"
                            :showLabels="false"
                            :loading="isCodeSearching"
                            :options="searchItems"
                            :show-no-results="false"
                            @select="onAddToCart($event)"
                            @search-change="onSearchItemCode($event)"
                            @close="clearOptions()"
                        >
                            <span slot="noOptions">Enter an item code</span>
                        </multiselect>
                    </td>
                    <!-- <td width="64">
                        <button @click="isAddingNewItem = false; " class="w-full block">
                            <i class="ico-trash"></i>
                        </button>
                    </td>-->
                    <td width="64">
                        <button @click="onAttempToRemove(item)" class="w-full block disabled">
                            <i class="ico-trash"></i>
                        </button>
                    </td>
                    <td width="300">
                        <span v-if="notExist" class="text-red pl-6">Item code doesn't exist</span>
                    </td>
                </tr>
            </table>
        </div>
        <span v-if="allowAddItem" class="block mt-3">
            <button @click="onAddNewItem" class="button default sm text-white">Add Item</button>
        </span>

        <product-info-modal
            v-if="modalData"
            :data="modalData"
            :onShow="showModal"
            v-model="showModal"
            @onChangeQuantity="onChangeQuantity($event)"
            @onProductFavorite="onProductFavorite($event)"
            :hidePrices="hidePrices"
        ></product-info-modal>
        <remove-item-modal
            v-if="removeModalData"
            :data="removeModalData"
            :onShow="showRemoveModal"
            v-model="showRemoveModal"
        ></remove-item-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
/* eslint-disable camelcase */

import { mapGetters, mapMutations } from "vuex";
import { Toast } from "@interfaces/swal";
import { QuantityPickerComponent } from "@components/common/index";
import Multiselect from "vue-multiselect";
import {
    ProductInfoModal,
    RemoveItemModal
} from "@components/common/modal/index";
export default {
    name: "order-brand-list",
    props: {
        items: Array,
        allowAddItem: Boolean,
        paymentType: [String, Number],
        transactionType: [String, Number],
        branch: [String, Number],
        shipAddress: [String, Number],
        hidePrices: { type: Boolean, default: false },
        showPromo: { type: Boolean, default: false }
    },
    data() {
        return {
            notExist: false,
            isAddingNewItem: false,
            newProduct: {},
            isSearching: false,
            showModal: false,
            modalData: {},
            showRemoveModal: false,
            removeModalData: {},
            searchItems: [],
            requestCancelled: false
        };
    },
    components: {
        QuantityPickerComponent,
        ProductInfoModal,
        RemoveItemModal,
        Multiselect
    },
    watch: {
        searchItemResult(newValue) {
            this.searchItems = newValue;
        }
    },
    methods: {
        onAddNewItem() {
            this.isAddingNewItem = !this.isAddingNewItem;
        },
        onAttempToRemove(item) {
            this.showRemoveModal = true;
            this.removeModalData = item;
        },
        onChangeQuantity: _.debounce(function(item) {
            const { ref, quantity } = item;
            const params = {
                ref,
                quantity,
                refresh_cart: true
            };
            this.$store.dispatch("CART_STORE/updateCartItem", params);
        }, 500),

        onSearchItemCode: _.debounce(async function(event) {
            if (!_.isEmpty(event)) {
                this.notExist = false;
                const params = {
                    keyword: event
                };
                params.data =
                    this.transactionType === "DEL"
                        ? { ship_to_id: this.shipAddress }
                        : { branch: this.branch };
                this.requestCancelled = false;
                await this.$store.dispatch(
                    "UTILITIES_STORE/onSearchItemsKeyword",
                    params
                );

                if (!this.isCodeSearching && !this.requestCancelled) {
                    this.notExist = _.isEmpty(this.searchItemResult);
                }
            }
        }, 500),
        async onProductFavorite(product) {
            const { branch_code, item_code, code } = product;
            let favorite = product.item.favorite;
            let itemCode = !item_code ? code : item_code;
            let branchCode = !branch_code
                ? this.personal_token.info.default_branch_code
                : branch_code;

            await this.$store.dispatch("PRODUCT_STORE/favoriteProduct", {
                branch_code: branchCode,
                item_code: itemCode,
                favorite: !favorite
            });
        },
        ...mapMutations({
            setCartItems: "CART_STORE/setCartDataItems",
            setIsLoading: "UTILITIES_STORE/setIsLoading"
        }),
        async onAddToCart(selected) {
            let exist = {};
            // Add the component back in
            _.map(this.cartItems, item => {
                if (item.item_code === selected.value) {
                    exist = item;
                    item.focus = true;
                } else {
                    item.focus = false;
                }
                return item;
            });

            if (!_.isEmpty(exist)) {
                this.newProduct = {};
                this.searchItems = [];
                let title = exist.available
                    ? "This item is already in your list"
                    : "Oops, the item is no longer available in this branch.";
                Toast.fire({
                    icon: "info",
                    title
                });

                var quantity_picker = document.getElementsByClassName(
                    `quantity_picker${selected.value}`
                );
                quantity_picker[0].focus();

                return;
            }
            const params = {
                branch_code: this.branch,
                transaction_type: this.transactionType,
                payment_code: this.paymentType,
                ship_to_id: this.shipAddress,
                item_code: selected.value
            };
            const response = await this.$store.dispatch(
                "CART_STORE/addToCart",
                params
            );
            if (response.success) {
                this.newProduct = {};
                this.isAddingNewItem = false;
            } else {
                Toast.fire({
                    icon: "info",
                    title: response.message
                });
            }
        },
        clearOptions() {
            if (
                this.cancelSources &&
                !_.isEmpty(this.cancelSources.onSearchItemsKeyword)
            ) {
                this.cancelSources.onSearchItemsKeyword.cancel();
            }
            this.setIsLoading(false);
            this.notExist = false;
            this.requestCancelled = true;
            this.searchItems = [];
            this.newProduct = {};
        },

        onShowModal(product) {
            if (!this.allowAddItem) {
                return;
            }
            this.showModal = true;
            product.editable = true;
            product.alreadyInCart = true;
            this.modalData = _.clone(product);
        }
    },
    computed: {
        ...mapGetters({
            isLoading: "CART_STORE/isLoading",
            cart: "CART_STORE/cart",
            isBranchLoading: "BRANCH_STORE/isLoading",
            branches: "BRANCH_STORE/branches",
            searchItemResult: "UTILITIES_STORE/searchItemResult",
            isCodeSearching: "UTILITIES_STORE/isLoading",
            cancelSources: "UTILITIES_STORE/cancelSources"
        })
    }
};
</script>
