<template>
    <div class="container m-auto px-6 pb-10">
        <div class="text-center mb-5">
            <span class="bg-gray-100 text-center inline-block py-2 px-6">
                <p
                    class="mb-0"
                >You have no items on cart. Please fill-up the fields to make your order/s.</p>
            </span>
        </div>
        <div class="order-summary">
            <div class="button-group mb-5">
                <div class="flex justify-between md:flex-row md:justify-start">
                    <div class="flex-grow mb-4 md:flex-grow-0 md:mb-0 md:mr-4">
                        <strong class="mr-4 md:text-xs">Warehouse/Branch</strong>
                        <span class="dropr w-full md:text-xs">
                            <i class="ico-arrow-d"></i>
                            <b-form-select
                                v-model="branch"
                                :options="branches"
                                @change="onSelectBranch"
                            ></b-form-select>
                        </span>
                    </div>
                    <div class="flex-grow mb-4 md:flex-grow-0 md:mb-0 md:mr-4">
                        <strong class="mr-4 md:text-xs">Payment Mode</strong>
                        <span class="dropr w-full md:text-xs">
                            <i class="ico-arrow-d"></i>
                            <b-form-select
                                v-model="paymentType"
                                :options="payments"
                                @change="onChangePaymentType"
                            ></b-form-select>
                        </span>
                    </div>
                    <div class="flex-grow mb-4 md:flex-grow-0 md:mb-0 md:mr-4">
                        <strong class="mr-4 md:text-xs">Ship to Address</strong>
                        <span class="dropr w-full md:text-xs">
                            <i class="ico-arrow-d"></i>
                            <b-form-select
                                v-model="shipAddress"
                                :options="personal_token.info.ship_tos"
                                @change="onChangePaymentType"
                            ></b-form-select>
                        </span>
                    </div>
                    <div class="flex-grow mb-4 md:flex-grow-0 md:mb-0">
                        <strong class="mr-4 md:text-xs">Transaction Type</strong>
                        <span class="dropr w-full md:text-xs">
                            <i class="ico-arrow-d"></i>
                            <b-form-select
                                v-model="transactionType"
                                :options="transactionTypes"
                                @change="onChangePaymentType"
                            ></b-form-select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-container">
                <div class="overflow-x-auto">
                    <table>
                        <thead>
                            <tr>
                                <th width="120" class="text-center">Qty.</th>
                                <th width="100">Item Code</th>
                                <th width="64"></th>
                                <th width="24"></th>
                                <th class="pl-6">Item Description</th>
                                <th width="140">Price</th>
                                <th width="140">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="qty-counter">
                                        <button disabled="disabled">
                                            <i class="ico-minus"></i>
                                        </button>
                                        <input type="text" />
                                        <button>
                                            <i class="ico-plus"></i>
                                        </button>
                                    </span>
                                    Quantity Counter Component
                                    <span
                                        class="qty-counter"
                                    >
                                        <button disabled="disabled">
                                            <i class="ico-minus"></i>
                                        </button>
                                        <input type="text" onclick="this.select();" />
                                        <button>
                                            <i class="ico-plus"></i>
                                        </button>
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        <input
                                            type="text"
                                            class="p-2"
                                            style="max-width: 100px"
                                            onclick="this.select();"
                                        />
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        <button>
                                            <i class="ico-trash"></i>
                                        </button>
                                    </span>
                                </td>
                                <td class="bg-red">
                                    <span class="promo-v">Promo</span>
                                </td>
                                <td class="pl-6">
                                    <span></span>
                                </td>
                                <td>
                                    <span>₱ 0.00</span>
                                </td>
                                <td>
                                    <span>₱ 0.00</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <span class="block mt-3">
                <button class="button default sm text-white">
                    <i class="ico-plus font-bold"></i> Add Item
                </button>
            </span>
            <div class="text-sm">
                <div class="order-amount">
                    <ul>
                        <li>
                            <span>Gross Amount:</span>
                            <span class="amount-value">₱ 0.00</span>
                        </li>
                        <li>
                            <span>Less - Pick-Up Allowances:</span>
                            <span class="amount-value">₱ 0.00</span>
                        </li>
                        <li class="border-b">
                            <span>Less - Payment Discount:</span>
                            <span class="amount-value">₱ 0.00</span>
                        </li>
                    </ul>
                    <hr class="float-right" style="width: 150px;" />
                    <ul class="mt-2">
                        <li>
                            <span class="text-base text-purple-500">Net Amount:</span>
                            <span class="amount-value font-bold text-base text-purple-500">₱ 0.00</span>
                        </li>
                    </ul>
                </div>
                <em
                    class="block text-red text-right p-3"
                >Prices and availability is subject to change without prior notice.*</em>
            </div>
            <div class="button-group mt-8">
                <div>
                    <button class="button red">Clear Cart</button>
                </div>
                <div class="mt-10 lg:mt-0">
                    <button class="button default disabled">Save as Template</button>
                    <button class="button default">Continue Shopping</button>
                    <button class="button default disabled">Submit Order</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "empty-order-component"
};
</script>
