<template>
    <div class="container mx-auto px-6 py-10">
        <div class="text-center mb-5" v-if="emptyCart">
            <span class="bg-gray-100 text-center inline-block py-2 px-6">
                <p
                    class="mb-0"
                >You have no items on cart. Please fill-up the fields to make your order/s.</p>
            </span>
        </div>
        <h2 class="text-2xl lg:text-4xl font-medium uppercase mb-3">Order Summary</h2>
        <div class="main-order-summary">
            <div class="order-summary">
                <div class="button-group mb-5">
                    <div class="flex justify-between lg:flex-row lg:justify-start">
                        <div class="mb-5 lg:mb-0 lg:mr-5">
                            <strong class="mb-1 block">Transaction Type</strong>
                            <multiselect
                                v-model="transactionType"
                                v-bind="multiSelectProperties('transaction_type')"
                                @select="onUpdateCartDetails($event ,'transactionType')"
                            ></multiselect>
                        </div>

                        <div :class="{'disabled' : transactionType.value === 'PICK-UP'}">
                            <div class="mb-5 lg:mb-0 lg:mr-5">
                                <strong class="mb-1 block">Ship to Address</strong>
                                <multiselect
                                    class="ship-to-address"
                                    v-model="shipAddress"
                                    v-bind="multiSelectProperties('ship_to_id')"
                                    :disabled="transactionType === 'PICK-UP'"
                                    @select="onUpdateCartDetails($event ,'shipAddress',transactionType.value !== 'PICK-UP')"
                                ></multiselect>
                            </div>
                        </div>

                        <div :class="{'disabled' : transactionType.value === 'DEL'}">
                            <div class="mb-5 lg:mb-0 lg:mr-5">
                                <strong class="mb-1 block">Branch</strong>
                                <multiselect
                                    v-model="branch"
                                    v-bind="multiSelectProperties('branch_code')"
                                    :disabled="transactionType === 'DEL'"
                                    @select="onSelectBranch"
                                ></multiselect>
                            </div>
                        </div>
                        <div class="mb-5 lg:mb-0">
                            <strong class="mb-1 block">Payment Mode</strong>
                            <multiselect
                                v-model="paymentType"
                                v-bind="multiSelectProperties('payment_code')"
                                @select="onUpdateCartDetails($event ,'paymentType')"
                            ></multiselect>
                        </div>
                    </div>
                </div>

                <order-brand-list-component
                    :allow-add-item="true"
                    :items="filteredItems(true)"
                    :payment-type="paymentType.value"
                    :branch="branch.value"
                    :ship-address="shipAddress.value"
                    :transaction-type="transactionType.value"
                    :show-promo="true"
                ></order-brand-list-component>

                <div class="text-sm">
                    <div class="order-amount">
                        <ul>
                            <li>
                                <span>Gross Amount:</span>
                                <span class="amount-value">
                                    <span>&#8369;</span>
                                    <span class="p-0">{{cart.amount ? cart.amount.net : '0.00'}}</span>
                                </span>
                            </li>
                            <li class="border-b">
                                <span>Less - Pick-up Discount:</span>
                                <span class="amount-value">
                                    <span>&#8369;</span>
                                    <span
                                        class="p-0"
                                    >{{ cart.amount ? cart.amount.pickup_discount : '0.00'}}</span>
                                </span>
                            </li>
                            <li class="border-b">
                                <span>Less - Payment Discount:</span>
                                <span class="amount-value">
                                    <span>&#8369;</span>
                                    <span
                                        class="p-0"
                                    >{{ cart.amount ? cart.amount.payment_discount : '0.00'}}</span>
                                </span>
                            </li>
                        </ul>
                        <hr style="width: 180px" class="float-right" />
                        <ul class="mt-2">
                            <li>
                                <span class="text-base text-purple-500">Net Amount:</span>
                                <span class="amount-value font-bold text-base text-purple-500">
                                    <span>&#8369;</span>
                                    <span
                                        class="p-0"
                                    >{{cart.amount ? cart.amount.grand_total : '0.00'}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <em
                        class="block text-red text-right p-3"
                    >Prices and availability is subject to change without prior notice.*</em>
                </div>
                <div class="button-group mt-8">
                    <div>
                        <button
                            class="button red ml-0"
                            :disabled="emptyCart"
                            :class="{disabled: emptyCart}"
                            @click="onAttempClearCart"
                        >Clear Cart</button>
                    </div>
                    <div class="mt-10 lg:mt-0">
                        <button
                            v-if="$userHasPermission(PermissionNames.SaveOrderTemplate)"
                            class="button default"
                            :class="{disabled: emptyCart}"
                            @click="onSaveTemplate"
                            :disabled="emptyCart"
                        >Save as Template</button>

                        <button class="button default" @click="$goToShopping">Continue Shopping</button>
                        <button
                            class="button default"
                            :class="{disabled: emptyCart || isProcessing}"
                            :disabled="emptyCart || isProcessing"
                            @click="checkoutCart"
                        >Submit Order</button>
                    </div>
                </div>

                <!-- Unavailable items -->
                <div v-if="filteredItems(false).length" class="mt-16">
                    <h3
                        class="text-xl font-bold mb-3 text-red"
                    >{{filteredItems(false).length}} unavailable {{filteredItems(false).length > 1 ? 'items': 'item'}} in this branch:</h3>
                    <order-brand-list-component
                        :allow-add-item="false"
                        :items="filteredItems(false)"
                        :hide-prices="true"
                        :show-promo="false"
                    ></order-brand-list-component>
                </div>
            </div>
        </div>

        <branch-modal
            v-if="branchData"
            :data="branchData"
            :onShow="showBranchModal"
            v-model="showBranchModal"
            @updateCartDetails="onAttemptUpdateCartDetails($event)"
        ></branch-modal>
        <branch-success-modal
            v-if="modalDataSuccess"
            :data="modalDataSuccess"
            :onShow="showModalSuccess"
            v-model="showModalSuccess"
        ></branch-success-modal>

        <template-modal
            v-if="templateData"
            :data="templateData"
            :type="'saving-template'"
            :onShow="showTemplateModal"
            v-model="showTemplateModal"
            @saveTemplate="saveTemplate($event)"
        ></template-modal>
        <success-card-modal
            v-if="successData"
            :data="successData"
            :onShow="showSuccessModal"
            v-model="showSuccessModal"
        ></success-card-modal>

        <clear-cart-modal
            v-if="cartData"
            :data="cartData"
            :onShow="showCartModal"
            v-model="showCartModal"
            @onProceed="clearCart"
        ></clear-cart-modal>

        <checkout-prompt-modal
            v-if="checkoutPromptData"
            :data="checkoutPromptData"
            :onShow="checkoutPrompt"
            v-model="checkoutPrompt"
            @onProceedCheckout="promptCheckoutModals($event)"
        ></checkout-prompt-modal>

        <order-submitted-modal
            v-if="orderData"
            :data="orderData"
            :onShow="showOrderModal"
            v-model="showOrderModal"
            @onProceed="clearCart"
        ></order-submitted-modal>
    </div>
</template>
<script>
/* eslint-disable indent */
/* eslint-disable camelcase */
import { mapGetters, mapMutations } from "vuex";
import Multiselect from "vue-multiselect";
import { Toast } from "@interfaces/swal";
import { OrderBrandListComponent } from "./index";
import {
    BranchModal,
    BranchSuccessModal,
    TemplateModal,
    ClearCartModal,
    SuccessCardModal,
    OrderSubmittedModal,
    CheckoutPromptModal
} from "@components/common/modal/index";
export default {
    name: "order-summary-component",
    components: {
        Multiselect,
        BranchModal,
        BranchSuccessModal,
        TemplateModal,
        ClearCartModal,
        SuccessCardModal,
        OrderSubmittedModal,
        OrderBrandListComponent,
        CheckoutPromptModal
    },
    data() {
        return {
            paymentType: {},
            branch: {},
            oldBranch: {},
            shipAddress: {},
            transactionType: {},
            transactionTypes: [
                { value: "PICK-UP", text: "Pick up" },
                { value: "DEL", text: "Delivery" }
            ],
            notExist: false,
            isAddingNewItem: false,
            newProduct: {},
            isSearching: false,
            showBranchModal: false,
            branchData: {},
            showTemplateModal: false,
            templateData: {},
            showCartModal: false,
            cartData: {},
            successData: {},
            showSuccessModal: false,
            orderData: {},
            showOrderModal: false,
            modalDataSuccess: {},
            showModalSuccess: false,
            checkoutPromptData: {},
            checkoutPrompt: false,
            isProcessing: false
        };
    },
    async mounted() {
        if (!this.hasCartPermission) {
            this.$goHome();
        }

        await this.$store.dispatch("CART_STORE/getCartItems");
        if (_.isEmpty(this.branches)) {
            await this.$store.dispatch("BRANCH_STORE/getBranches");
        }
        this.newProduct.quantity = 1;
        this.onGetCartDetails();
        if (_.isEmpty(this.addresses)) {
            this.transactionTypes = _.map(this.transactionTypes, type => {
                if (type.value === "DEL") {
                    type.$isDisabled = true;
                }
                return type;
            });
        }
        if (this.$userHasPermission(this.PermissionNames.SaveOrderTemplate)) {
            this.$store.dispatch("TEMPLATES_STORE/getTemplates");
        }
    },

    watch: {
        branch(newValue, oldValue) {
            this.oldBranch = oldValue;
        }
    },

    methods: {
        onGetCartDetails() {
            this.shipAddress = this.getDefaultValues("ship_to_id");
            this.transactionType = this.getDefaultValues("transaction_type");
            this.paymentType = this.getDefaultValues("payment_code");
            this.branch = this.getDefaultValues("branch_code");
            this.oldBranch = this.branch;

            this.updateUserInfo();
        },
        updateUserInfo() {
            if (!_.isEmpty(this.transactionType)) {
                this.personal_token.info.default_transaction_type = this.transactionType.value;
            }
            if (!_.isEmpty(this.shipAddress)) {
                this.personal_token.info.default_ship_to_id = this.shipAddress.value;
            }
            if (!_.isEmpty(this.paymentType)) {
                this.personal_token.info.default_payment_code = this.paymentType.value;
            }
            this.personal_token.info.default_branch_code = this.getBranchCode();

            this.branch = this.getDefaultValues("branch_code");
            this.$store.dispatch(
                "USER_STORE/savePersonalToken",
                this.personal_token
            );
        },

        getBranchCode() {
            const branch_code =
                this.transactionType.value === "DEL"
                    ? this.shipAddress.branch_code
                    : this.branch.value;

            return branch_code;
        },

        getDefaultValues(key) {
            let optionContainer = this.getOptions(key);
            let value = "";
            let default_value = `default_${key}`;

            value = _.isEmpty(this.cart[key])
                ? this.personal_token.info[default_value]
                : this.cart[key];

            let valueObject = {};

            _.forEach(optionContainer, option => {
                // eslint-disable-next-line
                if (option.value == value) {
                    valueObject = option;
                }
            });

            return valueObject;
        },
        getOptions(key) {
            let optionContainer = [];
            switch (key) {
                case "payment_code":
                    optionContainer = this.payments;
                    break;
                case "branch_code":
                    optionContainer = this.branches;
                    break;
                case "transaction_type":
                    optionContainer = this.transactionTypes;
                    break;
                case "ship_to_id":
                    optionContainer = this.addresses;
            }

            return _.isEmpty(optionContainer) ? [] : optionContainer;
        },
        multiSelectProperties(key) {
            return {
                trackBy: "text",
                label: "text",
                options: this.getOptions(key),
                allowEmpty: false,
                showLabels: false,
                searchable: false
            };
        },
        async saveTemplate(event) {
            this.successData = event.template;
            this.showSuccessModal = event.success;
        },

        async checkoutCart() {
            if (this.emptyCart) return;
            const { transaction_type } = this.cart;
            let error = 0;
            let title = "";
            if (transaction_type === "PICK-UP" && _.isEmpty(this.branch)) {
                error++;
                title = "Please select branch.";
            }

            if (transaction_type === "DEL" && _.isEmpty(this.shipAddress)) {
                error++;
                title = "Please select delivery address.";
            }
            if (error) {
                Toast.fire({
                    icon: "info",
                    title
                });
                return;
            }
            this.isProcessing = true;
            const response = await this.$store.dispatch(
                "CART_STORE/checkoutCart"
            );
            this.promptCheckoutModals(response);
            this.isProcessing = false;
        },
        promptCheckoutModals(response) {
            if (response && response.data) {
                const {
                    success,
                    order,
                    message,
                    unavailable_items
                } = response.data;

                const params = {
                    items: unavailable_items,
                    order,
                    message
                };

                if (!success) {
                    this.checkoutPrompt = true;
                    this.checkoutPromptData = params;
                    return;
                }
                this.isProcessing = true;
                this.orderData = params;
                this.showOrderModal = true;

                this.$store.dispatch("CART_STORE/getCartItems");
                this.isProcessing = false;
            }
        },
        onAttempClearCart() {
            if (this.emptyCart) return;

            this.showCartModal = true;
            this.cartData = {};
        },
        clearCart() {
            this.$store.dispatch("CART_STORE/clearCart");
        },
        onSaveTemplate() {
            if (this.emptyCart) return;
            this.showTemplateModal = true;
            this.templateData = {};
        },
        async onAttemptUpdateCartDetails(updateCart) {
            if (updateCart) {
                await this.goToBranch();
                await this.onUpdateCartDetails(
                    this.branch,
                    "branch",
                    true,
                    false
                );
            } else {
                this.branch = this.oldBranch;
            }
        },
        goToBranch() {
            this.branch = this.newBranch;

            this.modalDataSuccess = {
                success: true,
                branch: this.branchData,
                cart: this.cart
            };
            this.showModalSuccess = true;

            this.branch = this.branchData;
        },
        async onUpdateCartDetails(
            value,
            key,
            allowToUpdate = true,
            showToast = true
        ) {
            if (_.isEmpty(this.cartItems)) {
                this[key] = value;
                this.updateUserInfo();
                return;
            }
            this[key] = value;
            if (!allowToUpdate) {
                return;
            }
            const { cart_ref, remarks } = this.cart;
            const payload = {
                cart_ref,
                transaction_type: this.transactionType.value,
                payment_code: this.paymentType.value,
                ship_to_id: this.shipAddress.value,
                branch_code: this.getBranchCode(),
                remarks,
                showToast
            };
            await this.$store.dispatch("CART_STORE/updateCart", payload);
            this.updateUserInfo();
        },

        onSelectBranch(branch) {
            this.branchData = branch;
            if (!_.isEmpty(this.cartItems)) {
                this.branchData.warning = true;
                this.showBranchModal = true;
                return;
            }
            this.onAttemptUpdateCartDetails(true);
        },
        filteredItems(availability) {
            return _.filter(this.cartItems, { available: availability });
        },
        ...mapMutations({
            setPersonalToken: "USER_STORE/setPersonalToken"
        })
    },
    computed: {
        ...mapGetters({
            isLoading: "CART_STORE/isLoading",
            cart: "CART_STORE/cart",
            isBranchLoading: "BRANCH_STORE/isLoading",
            branches: "BRANCH_STORE/branches"
        }),
        hasCartPermission() {
            return (
                this.$userHasPermission(
                    this.PermissionNames.ViewProductPrice
                ) ||
                this.$userHasPermission(this.PermissionNames.PlaceOrderOnline)
            );
        },
        emptyCart() {
            return _.isEmpty(this.filteredItems(true));
        },
        payments() {
            if (this.logged_in && this.personal_token.info.payments) {
                let options = _.map(
                    this.personal_token.info.payments,
                    payment => {
                        payment.text = payment.code;
                        payment.value = payment.code;
                        return payment;
                    }
                );
                return options;
            }
        },
        addresses() {
            if (
                this.personal_token.info &&
                !_.isEmpty(this.personal_token.info.ship_tos)
            ) {
                let options = _.map(
                    this.personal_token.info.ship_tos,
                    address => {
                        address.text = address.address;
                        address.value = address.ship_to_id;
                        return address;
                    }
                );
                return options;
            }
        }
    }
};
</script>
