<template>
    <div id="page-products">
        <div
            class="view-controls flex flex-col items-center justify-between px-10 pt-10 pb-5 md:order-2 md:flex-row"
        >
            <div class="flex items-center w-full md:w-auto">
                <strong class="mr-4 md:text-xs">Sort</strong>
                <span
                    class="inline-block border border-gray-200 p-2 pt-3 flex-1 flex-grow md:p-1 md:w-auto"
                >
                    <form action="#">
                        <span class="dropr w-full md:text-xs md:w-auto">
                            <i class="ico-arrow-d"></i>
                            <select name id class="w-full">
                                <option value>Promo Products</option>
                                <option value>Other Promo Products</option>
                                <option value>Another Promo Products</option>
                            </select>
                        </span>
                    </form>
                </span>
            </div>

            <div class="flex items-center w-full pl-8 md:inline-block md:w-auto">
                <span class="view_options">
                    <span>
                        <input type="radio" name="view_type" id="grid" checked />
                        <label for="grid">
                            <i class="ico-grid"></i>
                            <span>Grid</span>
                        </label>
                    </span>
                    <span>
                        <input type="radio" name="view_type" id="list" />
                        <label for="list">
                            <i class="ico-list"></i>
                            <span>List</span>
                        </label>
                    </span>
                    <span class="filter_options flex items-center md:hidden">
                        <input type="checkbox" id="filters" />
                        <label for="filters" id="filters_toggle">
                            <i class="ico-filter"></i>
                            <span>Filter by</span>
                        </label>
                    </span>
                </span>
            </div>
        </div>

        <div id="sidebar-div" class="hidden sidebar filters py-10 flex-1 order-1 md:block">
            <form action>
                <span class="flex justify-between mb-5">
                    <h4 class="font-bold pl-10">Filter by</h4>
                </span>
                <span>
                    <form action>
                        <span class="category-list relative">
                            <span>
                                <input type="radio" name="prod_cat" id="a" />
                                <label for="a">Noodles</label>
                            </span>
                            <span>
                                <input type="radio" name="prod_cat" id="b" />
                                <label for="b">Chips</label>
                            </span>
                            <span>
                                <input type="radio" name="prod_cat" id="c" />
                                <label for="c">Canned</label>
                            </span>
                            <span>
                                <input type="radio" name="prod_cat" id="d" />
                                <label for="d">Packed</label>
                            </span>
                            <span>
                                <input type="radio" name="prod_cat" id="e" />
                                <label for="e">Baked</label>
                            </span>
                        </span>
                    </form>
                </span>
            </form>
        </div>

        <div class="products-container order-2 md:order-3">
            <span class="block text-sm px-10 mb-8">
                Displaying products for
                <strong>(Warehouse)</strong>
                <a href="#" class="text-link">Change</a>
            </span>

            <div class="product-list">
                <ul>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/300x200" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/200x300" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/300x200" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/200x300" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/300x200" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/200x300" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/300x200" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="prod_img">
                                <img src="https://placehold.co/200x300" alt />
                            </span>
                            <span class="prod_desc">
                                <p class="font-bold">Product Name</p>
                                <button class="show-prod-info modal-open">Product Info</button>
                                <button class="add-to-cart">Add to Cart</button>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Spinner -->

            <!-- End:Spinner-->
        </div>

        <!--Modal-->
        <div class="modal">
            <div class="modal-overlay"></div>
            <div class="modal-container">
                <!-- Add margin if you want to see some of the overlay behind the modal-->
                <div class="modal-content py-4 text-left px-6">
                    <!--Title-->
                    <div class="flex justify-end items-center pb-3">
                        <div class="modal-close cursor-pointer z-50">
                            <svg
                                class="fill-current text-gray-300"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 18 18"
                            >
                                <path
                                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                                />
                            </svg>
                        </div>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <span class="w-1/3 pr-5">
                            <img class="block w-full" src="https://placehold.co/300x300" alt />
                        </span>
                        <span class="w-2/3">
                            <span class="flex items-center">
                                <h3 class="text-xl">243245</h3>
                                <span
                                    class="bg-orange-500 text-white uppercase font-bold px-3 pt-1 ml-3"
                                >Promo</span>

                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                            </span>
                            <h3 class="text-2xl font-bold">555 Tuna</h3>
                            <span class="text-xl">50/155G</span>
                            <span class="dropr border border-gray-200 p-2 pb-1 my-2">
                                <select name id class="w-full">
                                    <option value>Warehouse 1</option>
                                    <option value>Warehouse 2</option>
                                </select>
                                <i class="ico-arrow-d"></i>
                            </span>
                            <span class="item-price">
                                <strong>P180</strong>
                                <span>per unit</span>
                            </span>
                            <span class="item-price">
                                <strong>P180</strong>
                                <span>per pc.</span>
                            </span>
                        </span>
                        <span class="w-full mt-5">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum eos fuga natus.</p>
                            <p>Officiis dolores enim sit autem itaque sed praesentium reiciendis necessitatibus recusandae, exercitationem accusamus quia adipisci, repellat dignissimos ullam.</p>
                        </span>
                    </div>

                    <div class="modal-footer">
                        <div class="qty-counter">
                            <span>
                                <input type="text" class="w-16" value="1" maxlength="5" />
                                <button class="plus"></button>
                                <button class="minus"></button>
                            </span>
                            Units
                        </div>
                        <span class="text-red text-sm">Minimum of 3 orders.</span>
                        <button class="button purple pt-2 pb-1 px-5">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "products-logged-in-component"
};
</script>
