<template>
    <div>
        <hero-component
            v-if="(!_.isEmpty(pageContent) && !_.isEmpty(pageContent.banner))"
            :image-url="pageContent.banner.path"
            :show-title="true"
            :content="pageContent.short_description"
        ></hero-component>
        <div id="page-products">
            <brand-filter-component
                id="brand-filter"
                :categories="categories"
                :is-loading="categoryLoading"
            ></brand-filter-component>
            <div>
                <brand-nav-component :showTitle="true" />
                <brand-tiles-component
                    id="brand-tiles"
                    v-if="!productLoading"
                    :products="products"
                    :is-loading="productLoading"
                    @onPaginate="onPaginate($event)"
                ></brand-tiles-component>

                <spinner-component v-else />
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapGetters, mapMutations } from "vuex";
import {
    BrandTilesComponent,
    BrandFilterComponent,
    HeroComponent,
    BrandNavComponent
} from "@components/common/index";
export default {
    name: "brands-component",
    components: {
        BrandTilesComponent,
        BrandFilterComponent,
        HeroComponent,
        BrandNavComponent
    },
    props: {
        branchCode: [String]
    },
    data() {
        return {
            page: 1,
            pageContent: {},
            categoryCode: this.$route.query.category
        };
    },
    async mounted() {
        this.branch_code = _.clone(this.branchCode);

        if (!this.branch_code) {
            this.onNavigateBranch(this.$branchCode);
            return;
        }
        if (!_.isEmpty(this.$route.query.filters)) {
            let filters = _.isArray(this.$route.query.filters)
                ? this.$route.query.filters
                : [this.$route.query.filters];

            this.setFilters({ filters });
        } else {
            this.setFilters({});
        }
        await this.onGetBrands();
        if (_.isEmpty(this.categories)) {
            await this.$store.dispatch("CATEGORY_STORE/getCategories");
        }
        if (!this.pagesContent["products"]) {
            await this.$store.dispatch("PAGE_STORE/getPageContent", "products");
        }
        this.pageContent = this.pagesContent["products"];
    },
    computed: {
        ...mapGetters({
            productLoading: "PRODUCT_STORE/isLoading",
            products: "PRODUCT_STORE/products",
            filters: "PRODUCT_STORE/filters",
            categoryLoading: "CATEGORY_STORE/isLoading",
            categories: "CATEGORY_STORE/categories",
            cartLoading: "CART_STORE/isLoading"
        })
    },
    watch: {
        personal_token(newValue) {
            if (newValue.info) {
                this.branch_code = newValue.info.default_branch_code;
            }
        },
        filters: {
            deep: true,
            handler(newValue) {
                this.page = 1;
                this.onGetBrands();
            }
        },
        "$route.query"(newValue) {
            let filters = !_.isEmpty(newValue) ? newValue.filters : [];
            this.setFilters(filters);
        }
    },
    methods: {
        onGetBrands() {
            const tempParams = {
                branchCode: this.branchCode,
                limit: 20,
                page: this.page,
                category: this.categoryCode,
                filters: this.filters
            };
            this.$store.dispatch("PRODUCT_STORE/getProducts", tempParams);
        },

        onNavigateBranch(branchCode) {
            this.$router.push({
                name: "brands-branch",
                params: {
                    branchCode
                }
            });
        },
        onPaginate(page) {
            this.page = page;
            this.onGetBrands();
        },
        ...mapMutations({
            setFilters: "PRODUCT_STORE/setFilters"
        })
    }
};
</script>
