<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>
        <div class="container mx-auto px-6 py-10">
            <h3 class="text-4xl font-medium uppercase mb-3 lg:mx-10">Suy Sing Flyers</h3>
            <div class="flex flex-col lg:flex-row flex-wrap items-center justify-between">
                <div class="w-full lg:w-1/3 lg:px-10 mb-5">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" class="block w-full mb-1" />
                    </a>
                    <strong class="block font-normal">January 1-15, 2020</strong>
                    <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a>
                </div>
                <div class="w-full lg:w-1/3 lg:px-10 mb-5">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" class="block w-full mb-1" />
                    </a>
                    <strong class="block font-normal">January 1-15, 2020</strong>
                    <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a>
                </div>
                <div class="w-full lg:w-1/3 lg:px-10 mb-5">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" class="block w-full mb-1" />
                    </a>
                    <strong class="block font-normal">January 1-15, 2020</strong>
                    <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a>
                </div>
                <div class="w-full lg:w-1/3 lg:px-10 mb-5">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" class="block w-full mb-1" />
                    </a>
                    <strong class="block font-normal">January 1-15, 2020</strong>
                    <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a>
                </div>
                <div class="w-full lg:w-1/3 lg:px-10 mb-5">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" class="block w-full mb-1" />
                    </a>
                    <strong class="block font-normal">January 1-15, 2020</strong>
                    <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a>
                </div>
                <div class="w-full lg:w-1/3 lg:px-10 mb-5">
                    <a href="#">
                        <img src="https://picsum.photos/300/300" class="block w-full mb-1" />
                    </a>
                    <strong class="block font-normal">January 1-15, 2020</strong>
                    <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a>
                </div>
            </div>

            <!-- Paginator component -->
            <div>
                <div
                    class="paginator w-full flex items-center justify-between p-10 font-display lg:max-w-lg m-auto"
                >
                    <span>
                        <button class="flex items-center">
                            <i class="ico-arrow-l text-xs text-gray-500 mr-2"></i>First
                        </button>
                    </span>
                    <span>
                        <button class="flex items-center">Previous</button>
                    </span>
                    <span>
                        <button class="flex items-center">Next</button>
                    </span>
                    <span>
                        <button class="flex items-center">
                            Last
                            <i class="ico-arrow-r text-xs text-gray-500 ml-2"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { HeroComponent } from "../common/index";
import Flipbook from "flipbook-vue";
export default {
    name: "catalogue-component",
    components: {
        HeroComponent,
        Flipbook
    },
    data() {
        return {
            images: [
                "static/catalogue/1.png",
                "static/catalogue/2.png",
                "static/catalogue/3.png",
                "static/catalogue/4.png"
            ],
            page: {}
        };
    },
    async mounted() {
        if (!this.pagesContent["promotions"]) {
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "promotions"
            );
        }
        this.page = this.pagesContent["promotions"];
    }
};
</script>
