<template>
    <div>
        <div class="container mx-auto">
            <div v-if="!isLoading">
                <div class="promotion-list">
                    <div
                        v-if="!_.isEmpty(promotions)"
                        class="promo-list flex flex-col lg:flex-row flex-wrap items-start justify-between "
                    >
                        <div
                            v-for="promotion in promotions"
                            :key="promotion.id"
                            class="promo-item"
                            @click="onViewPromotions(promotion.id)"
                        >
                            <div class="promotion-img">
                                <img :src="promotion.thumbnail.path" class="block mb-1" />
                            </div>
                            <strong class="block font-normal block font-normal mt-4">{{promotion.title}}</strong>
                            <!-- <a href="#" class="block text-gray-500 underline text-sm">Download PDF</a> -->
                        </div>
                    </div>

                    <!-- Paginator component -->
                    <!-- <pagination-component></pagination-component> -->
                </div>
            </div>
            <spinner-component v-else />
        </div>
    </div>
</template>

<script>
import { HeroComponent, PaginationComponent } from "@components/common/index";
import { mapGetters } from "vuex";
export default {
    name: "promotion-tiles-component",
    components: {
        HeroComponent,
        PaginationComponent
    },
    props: {
        promotionId: [String, Number]
    },
    mounted() {
        this.$store.dispatch("PROMOTION_STORE/getPromotions");
    },
    data() {
        return {
            page: {}
        };
    },
    computed: {
        ...mapGetters({
            promotions: "PROMOTION_STORE/promotions",
            isLoading: "PROMOTION_STORE/isLoading"
        })
    },
    methods: {
        onViewPromotions(promotionId) {
            this.$router.push({
                name: "promotions-details",
                params: {
                    promotionId: promotionId.toString()
                }
            });
        }
    }
};
</script>
