<template>
    <div>
        <div v-if="!isLoading">
            <hero-component
                v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
                :image-url="page.banner.path"
                :show-title="true"
                :content="page.short_description"
            ></hero-component>
            <div class="container mx-auto py-10 px-6">
                <h2
                    class="text-2xl lg:text-4xl font-medium uppercase mb-3"
                >Suy Sing Promotions</h2>
                <promotion-tiles-component></promotion-tiles-component>
            </div>
        </div>
        <spinner-component v-else></spinner-component>
    </div>
</template>
<script>
import {
    BrandTilesComponent,
    HeroComponent,
    CarouselComponent
} from "@components/common/index";
import { PromotionTilesComponent } from "./index";
export default {
    name: "promotion-component",
    components: {
        BrandTilesComponent,
        HeroComponent,
        CarouselComponent,
        PromotionTilesComponent
    },
    data() {
        return {
            page: {},
            isLoading: false
        };
    },
    async mounted() {
        this.isLoading = true;
        if (!this.pagesContent["promotions"]) {
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "promotions"
            );
        }
        this.page = this.pagesContent["promotions"];
        this.isLoading = false;
    }
};
</script>
