<template>
    <div>
        <div v-if="!_.isEmpty(promotions)" class="blocks triple news">
            <router-link
                v-for="promotion in promotions"
                :key="promotion.id"
                :to="{name: 'promotions-details', params: {promotionId: promotion.id}}"
            >
                <span class="thumb">
                    <img v-if="promotion.thumbnail" :src="promotion.thumbnail.path" alt />
                </span>
                <span class="info">
                    <span v-if="promotion.featured" class="tag">Exclusive</span>
                </span>
            </router-link>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    name: "promotion-list-component",
    mounted() {
        this.$store.dispatch("PROMOTION_STORE/getPromotions");
    },
    methods: {
        onClick(item) {
            this.$emit("onClick", item);
        }
    },
    computed: {
        ...mapGetters({
            promotions: "PROMOTION_STORE/promotions"
        })
    }
};
</script>
