<template>
    <div>
        <article v-if="!isLoading && !itemsIsloading">
            <div v-if=" !_.isEmpty(promotion)">
                <div class="container mx-auto p-5 mt-10">
                    <span class="block mb-5">
                        <h1 class="text-2xl lg:text-4xl font-medium uppercase mb-3">Promotion</h1>
                    </span>
                    <figure v-if="promotion.banner">
                        <img :src="promotion.banner.path" alt />
                    </figure>
                    <span>
                        <div v-html="promotion.short_description"></div>
                        <div v-html="promotion.body"></div>
                    </span>
                </div>
                <div v-if="!itemsIsloading" class="container mx-auto p-5">
                    <brand-nav-component :showTitle="false" />
                    <brand-tiles-component
                        :products="promoItems"
                        :is-loading="itemsIsloading"
                        :show-title="false"
                        @onPaginate="onPaginate($event)"
                        :get-promos="true"
                    ></brand-tiles-component>
                </div>

                <div class="text-center">
                      <router-link
                          class="button default sm"
                          :to="{name: 'promotions'}"
                      >
                        <span>
                            <i class="ico-arrow-l"></i>
                            Back to Promos
                        </span>
                        </router-link>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </article>
        <spinner-component v-else />
    </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapGetters } from "vuex";
import {
    BrandTilesComponent,
    BrandNavComponent
} from "@components/common/index";
export default {
    name: "promotion-details-component",
    props: {
        promotionId: [String, Number]
    },
    data() {
        return {
            page: 1
        };
    },
    components: {
        BrandTilesComponent,
        BrandNavComponent
    },
    async mounted() {
        if (this.promotionId) {
            this.$store.dispatch(
                "PROMOTION_STORE/getPromotions",
                this.promotionId.toString()
            );
            this.getPromoItems();
        }
    },
    computed: {
        ...mapGetters({
            isLoading: "PROMOTION_STORE/isLoading",
            promotion: "PROMOTION_STORE/promotion",
            itemsIsloading: "PROMOTION_STORE/itemsIsloading",
            promoItems: "PROMOTION_STORE/promoItems"
        })
    },
    methods: {
        getPromoItems() {
            let params = {
                promo_id: this.promotionId,
                query: { page: this.page, limit: 20, branch_code: "BDO" }
            };
            if (!_.isEmpty(this.personal_token)) {
                params.query.branch_code = this.personal_token.info.default_branch_code;
            }

            this.$store.dispatch("PROMOTION_STORE/getPromotionItems", params);
        },
        onPaginate(page) {
            this.page = page;
            this.getPromoItems();
        }
    }
};
</script>
