<template>
    <div>
        <article>
            <div class="flex flex-col items-center justify-center p-10">
                <div class="p-6 my-16 rounded-lg shadow-lg w-full sm:w-4/5 md:w-3/5 xl:w-1/3">
                    <h2 class="text-2xl lg:text-4xl font-medium uppercase mb-3">Reset Password</h2>
                    <div v-if="!isLoading">
                        <span class="block mb-3">
                            <div
                                class="flex items-center justify-between bg-white border border-gray-200 inline-block px-2 py-1"
                            >
                                <input
                                    :type="icons.old === 'show' ? 'text': 'password'"
                                    class="flex-grow bg-transparent py-1 mr-3"
                                    placeholder="Type your old password"
                                    v-model="password.old_password"
                                />

                                <div
                                    class="cursor-pointer"
                                    v-html="getIcon(icons.old)"
                                    @click="toggleIcon('old')"
                                ></div>
                            </div>
                            <label
                                v-if="_.isEmpty(password.old_password) && validate"
                                class="text-red block mt-1"
                            >This field is required</label>
                        </span>

                        <span class="block mb-3">
                            <div
                                class="flex items-center justify-between bg-white border border-gray-200 inline-block px-2 py-1"
                            >
                                <input
                                    :type="icons.new === 'show' ? 'text': 'password'"
                                    class="flex-grow bg-transparent py-1 mr-3"
                                    placeholder="Type your new password"
                                    v-model="password.password"
                                />
                                <div
                                    class="cursor-pointer"
                                    v-html="getIcon(icons.new)"
                                    @click="toggleIcon('new')"
                                ></div>
                            </div>
                            <label
                                v-if="_.isEmpty(password.password) && validate"
                                class="text-red block mt-1"
                            >This field is required</label>
                        </span>

                        <span class="block mb-3">
                            <div
                                class="flex items-center justify-between bg-white border border-gray-200 inline-block px-2 py-1"
                            >
                                <input
                                    :type="icons.confirm === 'show' ? 'text': 'password'"
                                    class="flex-grow bg-transparent py-1 mr-3"
                                    placeholder="Re-type your new password"
                                    v-model="password.password_confirmation"
                                />
                                <div
                                    class="cursor-pointer"
                                    v-html="getIcon(icons.confirm)"
                                    @click="toggleIcon('confirm')"
                                ></div>
                            </div>
                            <label v-if=" validate" class="text-red block mt-1">{{errorMessage}}</label>
                        </span>

                        <span class="block text-center">
                            <button
                                class="button default sm w-full"
                                @click="onChangePassword"
                            >Submit</button>
                        </span>
                    </div>

                    <spinner-component v-else />
                </div>
            </div>
        </article>
    </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapGetters } from "vuex";
import { PasswordIcons } from "@interfaces/enum";
export default {
    name: "change-password",
    data() {
        return {
            password: {},
            validate: false,
            icons: {
                new: "hide",
                old: "hide",
                confirm: "hide"
            }
        };
    },
    mounted() {
        if (!this.logged_in) {
            this.$router.push({ name: "Home" });
        }
    },
    computed: {
        ...mapGetters({
            isLoading: "USER_STORE/isLoading"
        }),
        errorMessage() {
            const { password_confirmation, password } = this.password;
            if (_.isEmpty(password_confirmation)) {
                return "This field is required";
            }
            if (password !== password_confirmation) {
                return "Password do not match.";
            }
        }
    },
    methods: {
        onChangePassword() {
            this.validate = true;
            let error = 0;
            let keys = ["old_password", "password", "password_confirmation"];
            _.forEach(keys, key => {
                if (_.isEmpty(this.password[key])) {
                    error++;
                }
            });
            const { password_confirmation, password } = this.password;
            if (password !== password_confirmation) {
                error++;
            }
            if (error) {
                return false;
            }

            this.$store.dispatch("USER_STORE/changePassword", this.password);
        },
        toggleIcon(icon) {
            let currentIcon = this.icons[icon] === "show" ? "hide" : "show";
            this.icons[icon] = currentIcon;
        },
        getIcon(icon) {
            return PasswordIcons[icon];
        }
    }
};
</script>
