<template>
    <div id="page-profile" class="container m-auto p-6">
        <div v-if="!isLoading">
            <div class="text-center mb-5">
                <span class="bg-gray-100 text-center inline-block py-2 px-6 mt-5">
                    <p
                        class="mb-0"
                    >Want to update your information? Please call your Account Officer.</p>
                </span>
            </div>

            <h1 class="text-xl font-medium uppercase mb-3">Profile</h1>

            <div
                class="profile-details flex flex-col md:flex-row flex-wrap items-start justify-between border-b border-gray-200 pb-6"
            >
                <span class="w-full mb-4 md:w-3/12">
                    <span class="text-sm">Customer Code</span>
                    <p class="font-medium">{{accountInfo.account_code}}</p>
                </span>
                <span class="w-full mb-4 md:w-3/12">
                    <span class="text-sm">Customer Name</span>
                    <p class="font-medium">{{accountInfo.owner_name | capitalize}}</p>
                </span>
                <span class="w-full mb-4 md:w-6/12">
                    <span class="text-sm">Default Transaction Type</span>
                    <p class="font-medium">{{defaultTransactionType | capitalize}}</p>
                </span>
                <span class="w-full md:w-3/12 md:mb-0"></span>
                <span class="w-full mb-4 mb-4 md:w-3/12 md:mb-0">
                    <span class="text-sm">Default Branch</span>
                    <p class="font-medium">{{defaultBranch | capitalize}}</p>
                </span>
                <span class="w-full md:w-6/12 md:mb-0">
                    <span class="text-sm">Default Payment Mode</span>
                    <p class="font-medium">{{accountInfo.default_payment_code}}</p>
                </span>
            </div>
            <div class="flex flex-col md:flex-row pt-6">
                <span class="w-full mb-4 md:w-3/12 md:mb-0">
                    <h3 class="text-lg font-medium mb-2">Email</h3>
                    <p
                        v-for="(email, index) in accountInfo.emails"
                        :key="index"
                        class="font-bold"
                    >{{email.email}}</p>
                </span>
                <span class="w-full mb-4 md:w-3/12 md:mb-0">
                    <h3 class="text-lg font-medium mb-2">Contact Number</h3>
                    <div class="overflow-y-auto md:mr-4" style="max-height: 200px;">
                        <span
                            v-for="(contact, index) in accountInfo.contact_numbers"
                            :key="index"
                            class="block leading-tight mb-2"
                        >
                            <small class="clearfix">Contact Details</small>
                            <small>{{ index+1 }}</small>
                            <p class="font-medium">{{contact.contact_number}}</p>
                        </span>
                    </div>
                </span>
                <span class="w-full mb-4 md:w-6/12 md:mb-0">
                    <h3 class="text-lg font-medium mb-2">Address</h3>
                    <div
                        v-if="!_.isEmpty(accountInfo.ship_tos)"
                        class="overflow-y-auto md:mr-4"
                        style="max-height: 200px;"
                    >
                        <span
                            v-for="(ship_to, index) in accountInfo.ship_tos"
                            :key="index"
                            class="block leading-tight mb-2"
                        >
                            <small>{{index + 1}}</small>
                            <p class="font-medium">{{ship_to.address | capitalize}}</p>
                        </span>
                    </div>
                </span>
            </div>
            <div class="border-t border-b border-gray-200 py-10 my-5 text-center">
                <div v-if="!successCardActivating">
                    <!-- Success Card - To Activate -->
                    <div v-if="!success">
                        <h3 class="text-xl font-medium uppercase mb-3">Success Card Details</h3>
                        <div class="text-gray-800 my-3">
                            Input your Success Card number
                            <input
                                type="text"
                                class="border border-gray-300 py-1 px-2 mx-2"
                                :class="{error: invalid}"
                                v-model="cardNumber"
                            />
                        </div>
                        <button
                            class="button default sm text-white px-16"
                            @click="onActivateCard"
                        >Activate</button>
                    </div>

                    <!-- Success Card - Activated + Points -->
                    <div v-else>
                        <h3 class="text-xl font-medium uppercase mb-3">Success Card Details</h3>
                        <div class="my-3">
                            <p>
                                You have earned a total of
                                <span
                                    class="font-bold text-orange-500 text-lg"
                                >{{this.cardBalance}}</span> Success points (as of yesterday)
                            </p>
                            <p>Use it on your next Suy Sing purchase.</p>
                        </div>
                    </div>
                </div>
                <spinner-component v-else />
            </div>

            <div class="border-b border-gray-200 pt-5 pb-10">
                <h3
                    class="text-xl font-medium uppercase mb-3 text-center block"
                >Saved Order Templates</h3>
                <div v-if="!templateIsLoading" class="table-container mt-3">
                    <table class="hidden lg:table">
                        <thead>
                            <tr>
                                <th width="300">Template Name</th>
                                <th width="200">Date Created</th>
                                <th width="200">Last Order</th>
                                <th width="200">&nbsp;</th>
                                <th width="64">&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="overflow-y-auto">
                        <table>
                            <thead class="lg:hidden">
                                <tr>
                                    <th width="300">Template Name</th>
                                    <th width="200">Date Created</th>
                                    <th width="200">Last Order</th>
                                    <th width="200">&nbsp;</th>
                                    <th width="64">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="template in templates" :key="template.id">
                                    <td width="300">
                                        <span>{{template.name}}</span>
                                    </td>
                                    <td width="200">
                                        <span>{{template.created_at}}</span>
                                    </td>
                                    <td width="200">
                                        <span>{{template.updated_at}}</span>
                                    </td>
                                    <td width="200">
                                        <button
                                            class="button default sm"
                                            @click="attemptUseTemplate(template)"
                                        >Use Template</button>
                                    </td>
                                    <td width="64">
                                        <button
                                            @click="onDeleteTemplate(template.template_ref)"
                                            class="text-2xl leading-tight pt-1 outline-none"
                                        >
                                            <i class="ico-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <spinner-component v-else />
            </div>

            <div class="py-10">
                <h3 class="text-xl font-medium uppercase mb-3 text-center block">Purchase History</h3>
                <div v-if="!orderHistoryIsLoading" class="table-container mt-3">
                    <table class="hidden lg:table">
                        <thead>
                            <tr>
                                <th width="130">Date Purchased</th>
                                <th width="120">PO Number</th>
                                <th width="120" class="text-right">Amount</th>
                                <!--th width="130">Transaction Type</th>
                                <th width="250">Branch / Address</th-->
                                <td width="200">&nbsp;</td>
                            </tr>
                        </thead>
                    </table>
                    <div class="overflow-y-auto">
                        <table>
                            <thead class="lg:hidden">
                                <tr>
                                    <th width="130">Date Purchased</th>
                                    <th width="120">PO Number</th>
                                    <th width="120" class="text-right">Amount</th>
                                    <!--th width="130">Transaction Type</th>
                                    <th width="250">Branch / Address</th-->
                                    <td width="200">&nbsp;</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="order in orderHistory" :key="order.id">
                                    <td width="130">
                                        <span>{{order.date_purchased}}</span>
                                    </td>
                                    <td width="120">
                                        <span class="font-bold">{{order.po_number}}</span>
                                    </td>
                                    <td
                                        width="120"
                                        class="text-right font-medium"
                                    >&#8369; {{order.amount}}</td>
                                    <!--td width="130">
                                      <span>{{order.transaction_type}}</span>
                                  </td>
                                  <td width="250">
                                      <span>{{order.ship_to}}</span>
                                    </td-->
                                    <td width="200" class="text-right">
                                        <button
                                            class="button default sm px-6"
                                            @click="onViewOrderDetail(order.po_number)"
                                        >Order Details</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <spinner-component v-else />
            </div>
        </div>

        <spinner-component v-else />
        <!-- Modals -->
        <success-card-modal
            v-if="modalData"
            :data="modalData"
            :onShow="showModal"
            v-model="showModal"
        ></success-card-modal>

        <activate-success-card-modal
            v-if="activateCardData"
            :data="activateCardData"
            :onShow="showActivatedCard"
            v-model="showActivatedCard"
        ></activate-success-card-modal>

        <template-modal
            type="changing-template"
            v-if="templateData"
            :data="templateData"
            :onShow="showTemplateModal"
            v-model="showTemplateModal"
            @onProceed="onUseTemplate($event)"
        ></template-modal>
    </div>
</template>

<script>
/* eslint-disable no-undef */
/* eslint-disable camelcase */
import { HeroSmComponent, TabsComponent } from "@components/common/index";
import { mapGetters } from "vuex";
import {
    SuccessCardModal,
    ActivateSuccessCardModal,
    TemplateModal
} from "@components/common/modal/index";
export default {
    name: "dashboard-component",
    components: {
        HeroSmComponent,
        SuccessCardModal,
        ActivateSuccessCardModal,
        TabsComponent,
        TemplateModal
    },
    data() {
        return {
            modalData: {},
            showModal: false,
            cardNumber: "",
            cardBalance: 0,
            success: false,
            invalid: false,
            activateCardData: {},
            showActivatedCard: false,
            successCardActivating: false,
            templateData: {},
            showTemplateModal: false,
            transactionTypes: [
                { value: "PICK-UP", text: "Pick up" },
                { value: "DEL", text: "Delivery" }
            ]
        };
    },
    async mounted() {
        await this.$store.dispatch("USER_STORE/getAccountInfo");
        this.success = !_.isEmpty(
            _.find(this.accountInfo.success_cards, { activated: 1 })
        );

        const activatedCard = _.find(this.accountInfo.success_cards, {
            activated: 1
        });
        this.cardBalance = !_.isEmpty(activatedCard)
            ? activatedCard.balance
            : 0;

        if (_.isEmpty(this.branches)) {
            await this.$store.dispatch("BRANCH_STORE/getBranches");
        }

        if (this.$userHasPermission(this.PermissionNames.SaveOrderTemplate)) {
            await this.onGetTemplates();
        }
        if (this.$userHasPermission(this.PermissionNames.PlaceOrderOnline)) {
            await this.onGetOrderHistory();
        }
    },
    computed: {
        ...mapGetters({
            accountInfo: "USER_STORE/accountInfo",
            isLoading: "USER_STORE/isLoading",
            templates: "TEMPLATES_STORE/templates",
            templateIsLoading: "TEMPLATES_STORE/isLoading",
            orderHistory: "ORDER_STORE/orderHistory",
            orderHistoryIsLoading: "ORDER_STORE/isLoading",
            branches: "BRANCH_STORE/branches"
        }),
        defaultTransactionType() {
            const transaction_type = _.find(this.transactionTypes, {
                value: this.accountInfo.default_transaction_type
            });
            if (!_.isEmpty(transaction_type)) {
                return transaction_type.text;
            }
        },
        defaultBranch() {
            if (!_.isEmpty(this.branches)) {
                const branch = _.find(this.branches, {
                    branch_code: this.accountInfo.default_branch_code
                });
                if (!_.isEmpty(branch)) {
                    return branch.name;
                }
            }
        }
    },
    methods: {
        onShowModal() {
            this.showActivatedCard = true;
            this.activateCardData = {};
        },
        onGetTemplates() {
            this.$store.dispatch("TEMPLATES_STORE/getTemplates");
        },
        attemptUseTemplate(template) {
            if (_.isEmpty(this.cartItems)) {
                this.onUseTemplate(template.template_ref);
                return;
            }
            this.showTemplateModal = true;
            this.templateData = template;
        },
        onUseTemplate(temp_ref) {
            const params = {
                temp_ref,
                type: "use"
            };
            this.$store.dispatch("TEMPLATES_STORE/useTemplate", params);
        },
        onDeleteTemplate(temp_ref) {
            this.$store.dispatch("TEMPLATES_STORE/deleteTemplate", temp_ref);
        },
        onGetOrderHistory() {
            this.$store.dispatch("ORDER_STORE/getOrderHistory");
        },
        onViewOrderDetail(orderRef) {
            this.$router.push({
                name: "order-history-details",
                params: { orderRef }
            });
        },
        async onActivateCard() {
            if (_.isEmpty(this.cardNumber)) {
                this.invalid = true;
                return false;
            }
            this.successCardActivating = true;
            const response = await this.$store.dispatch(
                "USER_STORE/activateSuccessCard",
                this.cardNumber
            );
            if (response.data.success) {
                this.success = true;
                this.invalid = false;
                this.showActivatedCard = true;
                this.activateCardData = {};
                this.cardBalance = response.data.card.balance;
            } else {
                this.invalid = true;
            }

            this.successCardActivating = false;
        }
    }
};
</script>
