<template>
    <div class="container mx-auto p-6 mt-10">
        <span class="flex justify-between">
            <h2 class="text-2xl lg:text-4xl font-medium uppercase mb-3">Order Details</h2>
            <!-- <span>
                <button class="border border-gray-200 hover:border-gray-500 p-2 leading-none">
                    <i class="ico-arrow-l"></i>
                </button>
                <button class="border border-gray-200 hover:border-gray-500 p-2 leading-none">
                    <i class="ico-arrow-r"></i>
                </button>
            </span>-->
        </span>
        <div v-if="!isLoading">
            <div
                class="flex flex-col md:flex-row justify-between mb-5 border-b border-gray-200 pb-5"
            >
                <div class="md:w-3/5">
                    <table>
                        <tr>
                            <td width="200" class="pl-0 py-1">
                                <strong>PO Number:</strong>
                            </td>
                            <td class="pl-0 py-1">
                                <p class="font-bold">{{orderDetails.po_number}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 py-1">
                                <strong>Amount:</strong>
                            </td>
                            <td class="pl-0 py-1">
                                <strong v-if="orderDetails.amount">&#8369; {{orderDetails.amount}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 py-1">
                                <strong>Transaction Type:</strong>
                            </td>
                            <td class="pl-0 py-1">
                                <strong
                                    v-if="orderDetails.transaction_type"
                                >{{orderDetails.transaction_type}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="pl-0 py-1">
                                <strong>Branch/Address:</strong>
                            </td>
                            <td class="pl-0 py-1">
                                <strong v-if="orderDetails.location">{{orderDetails.location}}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <tr>
                            <td width="160" class="pl-0 py-1">
                                <strong>Date Purchased:</strong>
                            </td>
                            <td class="pl-0 py-1">
                                <strong>{{orderDetails.date_purchased}}</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="main-order-summary">
                <div class="order-summary">
                    <tabs>
                        <tab
                            v-for="(order_detail, index) in orderDetails.order_details"
                            :key="order_detail.order_number"
                            :name="'Order # '+order_detail.order_number"
                            :selected="index == 0"
                        >
                            <div class="table-container">
                                <div class="scrollable hidden md:block">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="text-left" width="80">Qty.</th>
                                                <th class="text-left" width="120">Qty. Served</th>
                                                <th width="80">Unit</th>
                                                <th width="110">Item Code</th>
                                                <!-- <th width="24"></th> -->
                                                <th width="480">Item Description</th>
                                                <th width="150" class="text-right">Price</th>
                                                <th width="150" class="text-right">Total Price</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="scrollable">
                                    <table>
                                        <thead class="md:hidden">
                                            <tr>
                                                <th class="text-center" width="80">Qty.</th>
                                                <th class="text-center" width="120">Qty. Served</th>
                                                <th width="80">Unit</th>
                                                <th width="110">Item Code</th>
                                                <!-- <th width="24"></th> -->
                                                <th width="480">Item Description</th>
                                                <th width="150" class="text-right">Price</th>
                                                <th width="150" class="text-right">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                v-for="order in orderDetailItems(order_detail.items)"
                                                :key="order.id"
                                            >
                                                <td width="80">{{order.quantity}}</td>
                                                <td
                                                    width="120"
                                                    align="center"
                                                >{{order.quantity_served}}</td>
                                                <td width="80" v-if="order.info">{{order.info.unit}}</td>
                                                <td
                                                    width="110"
                                                    v-if="order.info"
                                                >{{order.info.code}}</td>
                                                <!-- <td width="24" class="p-0"></td> -->
                                                <td width="480">
                                                    <span
                                                        v-if="order.info"
                                                    >{{order.info.description}}</span>
                                                </td>
                                                <td width="150" class="text-right">
                                                    <span
                                                        class="font-medium"
                                                    >&#8369; {{order.price}}</span>
                                                </td>
                                                <td width="150" class="text-right">
                                                    <span
                                                        class="font-medium"
                                                    >&#8369; {{order.total_price}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="text-sm">
                                <div v-if="order_detail.amount" class="order-amount">
                                    <!--<ul>
                                        <li>
                                            <span>Gross Amount:</span>
                                            <span class="amount-value">{{order_detail.amount.net}}</span>
                                        </li>
                                        <li class="border-b">
                                            <span>Less - Pick-Up Allowances:</span>
                                            <span
                                                class="amount-value"
                                            >{{order_detail.amount.pickup_discount}}</span>
                                        </li>
                                        <li class="border-b">
                                            <span>Less - Payment Discount:</span>
                                            <span
                                                class="amount-value"
                                            >{{order_detail.amount.payment_discount}}</span>
                                        </li>
                                    </ul>
                                    <hr style="width: 150px" class="float-right" />-->
                                    <ul class="mt-2">
                                        <li>
                                            <span
                                                class="text-base font-bold text-purple-500"
                                            >Net Amount:</span>
                                            <span
                                                class="amount-value font-bold text-base text-purple-500"
                                            >
                                                <span>&#8369;</span>
                                                <span>{{order_detail.amount.grand_total}}</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </tab>
                    </tabs>

                    <div class="button-group mt-3 block text-right">
                        <button
                            @click="onNavigateDashboard"
                            class="button default sm inline-block"
                        >Back to my Account</button>
                    </div>
                </div>
            </div>
        </div>
        <spinner-component v-else />
    </div>
</template>

<script>
import Tab from "../common/tabs/tab";
import Tabs from "../common/tabs/tabs";
import { mapGetters } from "vuex";
export default {
    name: "order-history-details",
    components: {
        tab: Tab,
        tabs: Tabs
    },
    props: { orderRef: [String, Number] },
    mounted() {
        // this.$router.go(-1);
        this.$store.dispatch(
            "USER_STORE/getOrderHistoryDetails",
            this.orderRef
        );
    },
    computed: {
        ...mapGetters({
            isLoading: "USER_STORE/isLoading",
            orderDetails: "USER_STORE/orderDetails"
        })
    },
    methods: {
        onNavigateDashboard() {
            this.$router.push({
                name: "dashboard"
            });
        },
        orderDetailItems(items) {
            return _.filter(items, item => {
                return !_.isEmpty(item.info);
            });
        }
    }
};
</script>
