<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>
        <div class="container mx-auto p-6 max-w-screen-900">
            <form v-if="!careerLoading" @submit.stop.prevent="submit">
                <article class="form">
                    <div v-if="$route.name === 'career-job-form'">
                        <h2
                            class="text-2xl lg:text-4xl font-medium uppercase mb-3"
                        >Job Application Form</h2>
                        <div class="field-name" >
                            <label for class="font-bold block">
                                Name
                                <span class="text-red">*</span>
                            </label>
                            <input
                                v-model="application.name"
                                type="text"
                                class="w-full block py-2 px-3 border border-gray-200"
                                placeholder="Name"
                                :class="{ error: _.isEmpty(application.name) && validate}"
                            />
                            <label
                                v-if="_.isEmpty(application.name) && validate"
                                class="text-red block mt-1"
                            >This field is required</label>
                        </div>
                        <div class="mt-5 field-email" >
                            <label for class="font-bold block">
                                Email Address
                                <span class="text-red">*</span>
                            </label>
                            <input
                                v-model="application.email"
                                type="email"
                                placeholder="ex. juan.delacruz@gmail.com"
                                class="w-full block py-2 px-3 border border-gray-200"
                                :class="{ error: (_.isEmpty(application.email) || !$validateEmail(application.email)) && validate}"
                            />
                            <label
                                v-if="(_.isEmpty(application.email) || !$validateEmail(application.email)) && validate"
                                class="text-red mt-1 block"
                            >Please provide a valid email</label>
                        </div>
                        <div class="mt-5 field-mobile" >
                            <label for class="font-bold block">
                                Mobile Number
                                <span class="text-red">*</span>
                            </label>
                            <input
                                v-model="application.mobile"
                                placeholder="ex. +63 915 826 7281"
                                v-mask="PhoneMaskFormat"
                                type="text"
                                class="w-full block py-2 px-3 border border-gray-200"
                                :class="{ error: (_.isEmpty(application.mobile) || invalidMobile) && validate}"
                            />
                            <label
                                v-if="(_.isEmpty(application.mobile) || invalidMobile) && validate"
                                class="text-red block mt-1"
                            >{{!_.isEmpty(application.mobile) ? ErrorMessage.Mobile:'This field is required'}}</label>
                        </div>
                        <div class="mb-5 mt-5">
                            <strong class="uppercase font-bold">Position</strong>
                            <span class="block font-bold mb-5">{{ career.title}}</span>
                        </div>
                        <span class="block mt-5 field-resume" >
                            <strong class="font-normal uppercase font-bold">Requirements:</strong>

                            <label
                                v-if="_.isEmpty(fileNames) && validate"
                                class="text-red block mt-1"
                            >This field is required</label>
                            <div v-html="career.requirements" class="font-bold"></div>
                        </span>
                        <br />
                        <files-uploader-component
                            v-model="fileNames"
                            title="Please upload your Resume:"
                        ></files-uploader-component>

                        <span class="terms mb-5">
                            <input type="checkbox" id="_terms" v-model="application.agree" />
                            <label for="_terms">
                                I have read and agree to the
                                <a
                                    @click="$onViewLinks('suy-sing-terms-and-conditions')"
                                    target="_blank"
                                >Terms and Conditions</a>,
                                <a
                                    @click="$onViewLinks('job-applicant-privacy-notice')"
                                    target="_blank"
                                >Data Policy</a>, and
                                <a
                                    @click="$onViewLinks('suy-sing-cookie-use')"
                                    target="_blank"
                                >Cookie Use</a>.
                            </label>
                        </span>
                        <span class="block text-center">
                            <input
                                type="submit"
                                value="submit"
                                class="button default sm w-full sm:w-auto"
                                @click="validate = true"
                            />
                        </span>
                    </div>

                    <response-message-component v-else messageType="career"></response-message-component>
                </article>
            </form>
            <spinner-component v-else />
        </div>
    </div>
</template>

<script>
/* eslint-disable no-undef */
import { mapGetters, mapMutations } from "vuex";
import $ from "jquery";
import { PhoneMaskFormat, ErrorMessage } from "@interfaces/enum";
import {
    ResponseMessageComponent,
    FilesUploaderComponent,
    HeroComponent
} from "@components/common/index";
export default {
    name: "career-form-component",
    props: {
        id: [Number, String],
        title: String
    },
    components: {
        HeroComponent,
        ResponseMessageComponent,
        FilesUploaderComponent
    },
    data() {
        return {
            page: {},
            PhoneMaskFormat: PhoneMaskFormat,
            ErrorMessage: ErrorMessage,
            formData: new FormData(),
            validate: false,
            document: false,
            fileNames: []
        };
    },
    async mounted() {
        this.resetApplicationForm({});
        if (this.id) {
            this.$store.dispatch("CAREER_STORE/getCareer", this.id);
        }

        if (!this.pagesContent["careers"]) {
            await this.$store.dispatch("PAGE_STORE/getPageContent", "careers");
        }
        this.page = this.pagesContent["careers"];
    },
    methods: {
        submit() {
            this.application.applicant = "job";
            this.application.career_id = this.career.id;

            let error = 0;
            let keys = [
                "name",
                "email",
                "mobile"];

            for (let i = 0; i < keys.length; i++) {
                if (_.isEmpty(this.application[keys[i]])) {
                    $("html, body").animate({scrollTop: $(`.field-${keys[i]}`).offset().top - 80, scrollLeft: 0}, 300);
                    return false;
                }
            }

            if (!this.$validateEmail(this.application.email)) {
                $("html, body").animate({scrollTop: $(".field-email").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }
            if (error || this.invalidMobile) {
                $("html, body").animate({scrollTop: $(".field-mobile").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }
            if (_.isEmpty(this.fileNames)) {
                $("html, body").animate({scrollTop: $(".field-resume").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }

            for (const i in this.application) {
                this.formData.append(i, this.application[i]);
            }
            for (var i = 0; i < this.fileNames.length; i++) {
                let file = this.fileNames[i];
                this.formData.append("documents[]", file);
            }

            this.$store.dispatch("APPLICATION_STORE/submitApplication", {
                data: this.formData,
                type: "job"
            });
            this.formData = new FormData();
        },
        ...mapMutations({
            resetApplicationForm: "APPLICATION_STORE/setApplication"
        })
    },
    computed: {
        invalidMobile() {
            return !Methods.validLength(this.application.mobile, 10);
        },
        ...mapGetters({
            isLoading: "APPLICATION_STORE/isLoading",
            application: "APPLICATION_STORE/application",
            careerLoading: "CAREER_STORE/isLoading",
            career: "CAREER_STORE/career"
        })
    }
};
</script>
