<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>

        <div class="p-6 flex-none">
            <h2 class="font-medium uppercase text-3xl mb-3">Careers</h2>
            <div v-html="page.body"></div>
        </div>

        <div class="flex flex-col md:flex-row">
            <div class="sidebar filters w-full mx-0 p-6 md:w-4/12 lg:w-3/12 mt-0">
                <span class="flex justify-between">
                    <h4 class="font-bold">Filter by</h4>
                    <button @click="onResetFilters" class="button default sm py-2 lg:w-auto sm:w-auto" >Reset Filters</button>
                </span>
                <span class="block">
                    <label>Location</label>
                    <multiselect
                        v-model="branch"
                        :loading="branchIsLoading"
                        track-by="name"
                        label="name"
                        placeholder="Select/Search Branch"
                        :options="branches"
                        :searchable="true"
                        :allow-empty="false"
                        class="w-full"
                        :show-labels="false"
                    ></multiselect>
                </span>
                <span class="block">
                    <label>Specializations</label>
                    <multiselect
                        v-model="workField"
                        track-by="title"
                        label="title"
                        placeholder="Work Field"
                        :options="fieldsOfWork"
                        :searchable="true"
                        :allow-empty="false"
                        class="w-full"
                        :show-labels="false"
                    ></multiselect>
                </span>
                <button
                    class="button default sm px-5 w-full mt-5 text-white"
                    @click="onSetFilters()"
                >Search</button>
            </div>

            <div class="flex flex-wrap flex-col w-full md:w-2/3 lg:flex-row lg:w-4/5">
                <div class="flex-none w-full">
                    <div v-if="!isLoading" >
                        <div v-if="!_.isEmpty(careers)" class="career-list" >
                            <div v-for="career in careers" :key="career.id">
                                <h3
                                    class="font-bold uppercase text-xl flex-initial w-full"
                                >{{career.title}}</h3>
                                <div
                                    class="flex-initial w-full mb-4 text-gray-500 text-sm career-locations"
                                >
                                    <span
                                        :key="location.id"
                                        v-for="location in careerLocations(career.location)"
                                        :class="{'font-bold text-gray-900':  findSelectedLocation(location)}"
                                    >{{location.name}}</span>
                                </div>
                                <span class="block mb-5 md:mb-0 md:flex-auto md:w-1/3">
                                    <strong class="font-bold uppercase block">Description</strong>
                                    <div v-html="career.description" class="mt-1"></div>
                                </span>
                                <span class="block mb-8 md:mb-0 md:ml-10 md:flex-auto md:w-1/3">
                                    <strong class="font-bold uppercase">Requirements:</strong>
                                    <div v-html="career.requirements" class="mt-1"></div>
                                </span>
                                <span class="flex-auto text-right mt-8 lg:ml-10">
                                    <router-link
                                        class="button default sm py-3 w-full lg:w-auto"
                                        :to="{name: 'career-job-form', params: {id: career.id, title: career.title.replace(/\s+/g, '-')}}"
                                    >Apply Now</router-link>
                                </span>
                            </div>
                        </div>
                        <div v-else class="container mx-auto px-6 py-10">
                            <div class="order-summary">
                                <div class="text-center">
                                    <p>No Result Found.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div v-else>
                        <spinner-component />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable no-undef */
import { mapGetters } from "vuex";
import Multiselect from "vue-multiselect";
import { HeroComponent } from "../common/index";
export default {
    name: "career-list-component",
    data() {
        return {
            branch: null,
            selectedLocation: {},
            employmentType: null,
            workField: null,
            employmentTypes: [
                { name: "Full-Time", value: "full-time" },
                { name: "Part-Time", value: "part-time" },
                { name: "Contractual", value: "contractual" }
            ],
            page: {}
        };
    },
    components: {
        HeroComponent,
        Multiselect
    },
    async mounted() {
        this.$store.dispatch("CAREER_STORE/getCareers", this.filter);
        if (_.isEmpty(this.branches)) {
            this.$store.dispatch("BRANCH_STORE/getBranches");
        }
        if (_.isEmpty(this.fieldsOfWork)) {
            this.$store.dispatch("CAREER_STORE/getFieldOfWorks");
        }
        if (!this.pagesContent["careers"]) {
            await this.$store.dispatch("PAGE_STORE/getPageContent", "careers");
        }
        this.page = this.pagesContent["careers"];
    },
    methods: {
        onSetFilters() {
            const params = {
                location: this.branch ? this.branch.id : null,
                // type: this.employmentType ? this.employmentType.value : null,
                field_of_work: this.workField ? this.workField.id : null
            };
            this.$store.dispatch("CAREER_STORE/filterCareer", params);
            this.selectedLocation = this.branch;
        },
        onResetFilters() {
            this.branch = null;
            this.employmentType = null;
            this.workField = null;
            this.selectedLocation = {};
            this.$store.dispatch("CAREER_STORE/filterCareer", {});
        },
        findSelectedLocation(location) {
            return (
                !_.isEmpty(location) &&
                !_.isEmpty(this.selectedLocation) &&
                location.name.toLowerCase() ===
                    this.selectedLocation.name.toLowerCase()
            );
        },
        careerLocations(locations) {
            if (!_.isEmpty(locations)) {
                return Methods.formatNames(locations, "name", ["del", "de"]);
            }
            return [];
        }
    },

    computed: {
        ...mapGetters({
            isLoading: "CAREER_STORE/isLoading",
            careers: "CAREER_STORE/careers",
            branchOptions: "BRANCH_STORE/branches",
            fieldsOfWork: "CAREER_STORE/fieldsOfWork",
            branchIsLoading: "BRANCH_STORE/isLoading"
        }),
        branches() {
            return Methods.formatNames(this.branchOptions, "name", [
                "del",
                "de"
            ]);
        }
    }
};
</script>
