
<template>
    <div>
        <b-form v-if="!isLoading" @submit.stop.prevent="submit">
            <article class="form">
                <span class="block mb-5 field-existing_business">
                    <label for class="font-bold mb-2 block">
                        Do you have an existing business?
                        <span class="text-red">*</span>
                    </label>
                    <span class="flex flex-col">
                        <b-form-radio-group
                            id="radio-slots"
                            v-model="application.existing_business"
                            :options="options"
                            name="radio-options-slots"
                            :class="{ error: _.isEmpty(application.existing_business) && validate}"
                        />
                    </span>
                    <label
                        v-if="_.isEmpty(application.existing_business) && validate"
                        class="text-red block mt-1"
                    >This field is required</label>
                </span>

                <span class="block mt-5 field-business_format" >
                    <label for class="font-bold block">Business Format:</label>
                 <!--   <label
                        v-if="(_.isEmpty(application.business_format) || (application.business_format === 'others' && _.isEmpty(other_type))) && validate  "
                        class="text-red block mt-1 mb-3"
                    >This field is required</label> -->
                    <span class="flex-col">
                        <b-form-radio-group
                            id="radio-slots"
                            @change="other_type = null"
                            v-model="application.business_format"
                        >
                            <span class="flex flex-col lg:flex-row justify-between">
                                <b-form-radio class="mb-3 md:w-1/3" value="grocery">Grocery</b-form-radio>

                                <b-form-radio class="mb-3 md:w-1/3" value="supermarket">Supermarket</b-form-radio>

                                <b-form-radio
                                    class="mb-3 md:w-1/3"
                                    value="sari_sari_store"
                                >Sari-Sari Store</b-form-radio>
                            </span>

                            <span class="flex flex-col lg:flex-row justify-between">
                                <b-form-radio
                                    class="mb-3 md:w-1/3"
                                    value="wholesale_reseller"
                                >Wholesaler / Reseller</b-form-radio>

                                <b-form-radio class="mb-3 md:w-1/3" value="drugstore">Drugstore</b-form-radio>

                                <b-form-radio
                                    class="mb-3 md:w-1/3"
                                    value="restaurant_hotel"
                                >Restaurant / Hotel</b-form-radio>
                            </span>

                            <span class="flex flex-col lg:flex-row justify-between">
                                <b-form-radio
                                    class="mb-3 md:w-1/3"
                                    value="institutions"
                                >Institutions</b-form-radio>

                                <b-form-radio class="mb-3 md:w-2/3" value="others">
                                    <span>
                                        Others, please specify:
                                        <input
                                            v-model="other_type"
                                            class="w-1/3 px-1 flex-grow-1 border border-gray-200 mb-5"
                                        />
                                    </span>
                                </b-form-radio>
                            </span>
                        </b-form-radio-group>
                    </span>
                </span>

                <span class="field-name_of_establishment">
                    <label for class="font-bold block">Name of Establishment</label>
                    <input
                        type="text"
                        v-model="application.name_of_establishment"
                        class="w-full block py-2 px-3 border border-gray-200 mb-5"
                    />
                </span>

                <span class="field-address" >
                    <label for class="font-bold block mt-5">Business Address</label>
                    <input
                        type="text"
                        v-model="application.address"
                        class="w-full block py-2 px-3 border border-gray-200 mb-5"
                    />
                </span>

                <span class="field-contact_person" >
                    <label for class="font-bold block">
                        Contact Person
                        <span class="text-red">*</span>
                    </label>
                    <input
                        type="text"
                        v-model="application.contact_person"
                        class="w-full block py-2 px-3 border border-gray-200"
                        :class="{ error: _.isEmpty(application.contact_person) && validate}"
                    />
                    <label
                        v-if="_.isEmpty(application.contact_person) && validate"
                        class="text-red block mt-1"
                    >This field is required</label>
                </span>

                <div class="field-landline mt-5" >
                    <label for class="font-bold block">
                        Landline Number
                    </label>
                    <input
                        type="text"
                        v-model="application.landline"
                        placeholder="Area Code + Phone Number ex. 0287654321"
                        v-mask="LandLineMaskFormat"
                        class="w-full block py-2 px-3 border border-gray-200"
                    />
                </div>

                <span class="field-mobile" >
                    <label for class="font-bold block mt-5">
                        Mobile Number
                        <span class="text-red">*</span>
                    </label>
                    <input
                        type="text"
                        v-model="application.mobile"
                        placeholder="ex. +63 915 826 7281"
                        v-mask="PhoneMaskFormat"
                        :class="{ error: (_.isEmpty(application.mobile) || invalidMobile) && validate}"
                        class="w-full block py-2 px-3 border border-gray-200"
                    />
                    <label
                        v-if=" (_.isEmpty(application.mobile) || invalidMobile) && validate"
                        class="text-red block mt-1"
                    >{{_.isEmpty(application.mobile) ? 'This field is required' : ErrorMessage.Mobile}}</label>
                </span>
                <span class="field-email" >
                    <label for class="font-bold block mt-5">
                        Email Address
                        <span class="text-red">*</span>
                    </label>
                    <input
                        type="text"
                        v-model="application.email"
                        placeholder="ex. juan.delacruz@gmail.com"
                        :class="{ error: (_.isEmpty(application.email)  || !$validateEmail(application.email)) && validate}"
                        class="w-full block py-2 px-3 border border-gray-200"
                    />
                    <label
                        v-if="(_.isEmpty(application.email) || !$validateEmail(application.email)) && validate"
                        class="text-red block mt-1"
                    >Please provide a valid email</label>
                </span>
                <span class="terms mb-5">
                    <input type="checkbox" id="_terms" v-model="application.agree" />
                    <label for="_terms">
                        I have read and agree to the
                        <router-link
                            target="_blank"
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-terms-and-conditions'}}"
                        >Terms and Conditions</router-link>,
                        <router-link
                            target="_blank"
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-privacy-policy'}}"
                        >Data Policy</router-link>, and
                        <router-link
                            target="_blank"
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-cookie-use'}}"
                        >Cookie Use</router-link>.
                    </label>
                </span>
                <span class="block text-center">
                    <input
                        type="submit"
                        value="Submit"
                        class="button default sm w-full sm:w-auto"
                        @click="validate = true"
                    />
                </span>
            </article>
        </b-form>

        <spinner-component v-else />
    </div>
</template>
<script>
/* eslint-disable no-undef */
/* eslint-disable camelcase */
import { mapGetters, mapMutations } from "vuex";
import $ from "jquery";
import {
    PhoneMaskFormat,
    LandLineMaskFormat,
    ErrorMessage
} from "@interfaces/enum";
export default {
    name: "application-form-component",
    data() {
        return {
            other_type: "",
            selected: null,
            LandLineMaskFormat: LandLineMaskFormat,
            PhoneMaskFormat: PhoneMaskFormat,
            ErrorMessage: ErrorMessage,
            validate: false,
            options: [
                { text: "Yes, I have an existing business", value: "yes" },
                {
                    text: "No, but I'm planning to put up a business",
                    value: "no"
                },
                {
                    text: "Not planning to put up a business",
                    value: "not_planning"
                }
            ]
        };
    },
    mounted() {
        this.resetApplicationForm({});
    },

    methods: {
        async submit() {
            const { business_format, email } = this.application;
            let error = 0;

            this.application.applicant = "customer";
            if (this.application.agree) {
                this.application.business_format =
                    business_format === "others"
                        ? this.other_type
                        : business_format;
            }

            let keys = [
                "contact_person",
                // "landline",
                "mobile",
                "email",
                "existing_business"
            ];

            for (let i = 0; i < keys.length; i++) {
                if (_.isEmpty(this.application[keys[i]])) {
                    $("html, body").animate({scrollTop: $(`.field-${keys[i]}`).offset().top - 80, scrollLeft: 0}, 300);
                    return false;
                }
            }

            if (!this.$validateEmail(email)) {
                $("html, body").animate({scrollTop: $(".field-email").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }

            if (error || this.invalidMobile) {
                $("html, body").animate({scrollTop: $(".field-mobile").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }

            await this.$store.dispatch("APPLICATION_STORE/submitApplication", {
                type: "customer",
                data: this.application
            });
        },

        ...mapMutations({
            resetApplicationForm: "APPLICATION_STORE/setApplication"
        })
    },
    computed: {
        ...mapGetters({
            isLoading: "APPLICATION_STORE/isLoading",
            application: "APPLICATION_STORE/application"
        }),
        invalidMobile() {
            return !Methods.validLength(this.application.mobile, 10);
        }
    }
};
</script>
