<template>
    <div v-if="!_.isEmpty(page)">
        <hero-component
            v-if="!_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>

        <div class="container mx-auto px-6 py-10 max-w-screen-900">
            <div v-if="$route.name === 'customer-apply'">
                <h2 class="text-3xl font-medium uppercase mb-3">Be a customer</h2>
                <p v-html="page.body"></p>
                <application-form></application-form>
            </div>
            <response-message-component v-else messageType="customer"></response-message-component>
        </div>
    </div>
</template>
<script>
import {
    HeroComponent,
    ResponseMessageComponent
} from "@components/common/index";
import ApplicationForm from "./application-form";
export default {
    name: "apply-component",
    components: {
        HeroComponent,
        ApplicationForm,
        ResponseMessageComponent
    },
    data() {
        return {
            page: {},
            queryParams: this.$route.query
        };
    },
    async mounted() {
        if (!this.pagesContent["be-a-customer"]) {
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "be-a-customer"
            );
        }
        this.page = this.pagesContent["be-a-customer"];
    }
};
</script>
