<template>
    <div>
        <div v-if="!isLoading">
            <div v-if="!_.isEmpty(page)">
                <hero-component
                    v-if="!_.isEmpty(page.banner)"
                    :image-url="page.banner.path"
                    :show-title="true"
                    :content="page.short_description"
                ></hero-component>

                <div class="container mx-auto px-6 py-10 max-w-screen-900">
                    <h2 class="text-2xl lg:text-4xl font-medium uppercase mb-3">Retail Academy</h2>
                    <p v-html="page.body"></p>
                </div>
            </div>
        </div>
        <spinner-component v-else></spinner-component>
    </div>
</template>

<script>
import { HeroComponent } from "../common/index";
export default {
    name: "retail-academy-component",
    components: {
        HeroComponent
    },
    data() {
        return {
            page: {},
            isLoading: false
        };
    },
    async mounted() {
        if (!this.pagesContent["retail-academy"]) {
            this.isLoading = true;
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "retail-academy"
            );
        }
        this.page = this.pagesContent["retail-academy"];
        this.isLoading = false;
    }
};
</script>
