
<script>
/* eslint-disable camelcase */
import { mapGetters } from "vuex";
import { PermissionNames } from "@interfaces/enum";
export default {
    data() {
        return {
            PermissionNames: PermissionNames,
            MIXHideMenu: true,
            MIXHideSearchbar: true,
            MIXloginForm: false,
            acceptedFiles: `application/msword, application/vnd.ms-powerpoint, application/pdf,
            application/vnd.openxmlformats-officedocument.wordprocessingml.document
            image/jpg, image/jpeg, image/png,
            text/plain,
            .docx, .xls, .xlsx`
        };
    },
    methods: {
        $setBanner(size, images) {
            let banners = [];
            if (_.isEmpty(images)) {
                return banners;
            }
            _.forEach(images, image => {
                let component = "";
                component = `
                    <div class="hero ${size}" style="background-image: url(${image.images.desktop.path});">
                            <span>
                                `;
                if (!_.isEmpty(image.text)) {
                    component += `<h2 class="inline-block mb-1 text-5xl uppercase font-medium">
                                    ${image.text}</h2>`;
                }

                if (image.cta.link && image.cta.text) {
                    component += ` <span class="block text-center" >
                                <router-link class="button default w-full sm:w-auto" to="${image.cta.link}">${image.cta.text}</router-link>
                            </span>`;
                }
                component += ` </span>
                    </div>`;
                if (image.cta.link && !image.cta.text) {
                    component = `<a href="${image.cta.link}">${component}</a>`;
                }
                banners.push(component);
            });

            return banners;
        },
        $goToShopping() {
            this.$router.push({
                name: "brands-branch",
                params: {
                    branchCode: !_.isEmpty(this.personal_token)
                        ? this.personal_token.info.default_branch_code
                        : "BDO"
                }
            });
        },
        $onViewLinks(links) {
            let routeData = this.$router.resolve({
                name: "terms-info",
                params: { slug: links }
            });
            window.open(routeData.href, "_blank");
        },
        $itemPromo(product) {
            return product.item && !_.isEmpty(product.item.promo);
        },
        $itemFavorite(product) {
            return product.item && product.item.favorite;
        },
        $validateEmail(email) {
            var re = /\S+@\S+\.\S+/;
            return re.test(String(email).toLowerCase());
        },
        $userHasPermission(permissionName) {
            if (_.isEmpty(permissionName) || !this.logged_in) return false;
            if (_.isEmpty(this.personal_token.info.permissions)) return false;
            return _.includes(
                this.personal_token.info.permissions,
                permissionName
            );
        },
        $hasCartPermission() {
            return (
                this.$userHasPermission(
                    this.PermissionNames.ViewProductPrice
                ) ||
                this.$userHasPermission(this.PermissionNames.PlaceOrderOnline)
            );
        },
        $goHome() {
            this.$router.push({
                name: "Home"
            });
        },
        $onToggleMenu() {
            this.MIXHideMenu = !this.MIXHideMenu;
            this.MIXHideSearchbar = true;
        },
        $onToggleLoginForm() {
            this.MIXloginForm = !this.MIXloginForm;
        },
        $onToggleSearchbar() {
            this.MIXHideSearchbar = !this.MIXHideSearchbar;
            this.MIXHideMenu = true;
            this.$nextTick(() => {
                this.$refs.search_input.focus();
            });
        }
    },

    watch: {
        "$route.name"(newValue) {
            this.MIXHideMenu = true;
            this.MIXloginForm = false;
            this.MIXSearchbar = false;
        }
    },
    computed: {
        ...mapGetters({
            personal_token: "USER_STORE/personal_token",
            client_token: "USER_STORE/client_token",
            logged_in: "USER_STORE/logged_in",
            cartItems: "CART_STORE/cartItems",
            pagesContent: "PAGE_STORE/pages",
            defaultCart: "CART_STORE/cart",
            currentKeyword: "UTILITIES_STORE/currentKeyword"
        }),

        $branchCode() {
            if (!this.logged_in) {
                return "BDO";
            }

            const {
                ship_tos,
                default_ship_to_id,
                default_branch_code,
                cart
            } = this.personal_token.info;

            let cartDetails = _.isEmpty(this.defaultCart)
                ? cart
                : this.defaultCart;
            if (_.isEmpty(cartDetails) || _.isEmpty(ship_tos)) {
                return default_branch_code;
            }

            if (
                cartDetails.transaction_type === "PICK-UP" ||
                !default_ship_to_id
            ) {
                return cartDetails.branch_code;
            }

            const address = _.find(ship_tos, {
                ship_to_id: default_ship_to_id
            });

            if (!_.isEmpty(address)) {
                return address.branch_code;
            }

            return "BDO";
        }
    }
};
</script>
