
<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <!-- Add margin if you want to see some of the overlay behind the modal-->
            <!-- <div class="modal-content py-4 text-left px-6"> -->
            <!--Title-->
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>

            <!--Body-->
            <div class="modal-body w-full">
                <b-form-group label="Product Code" label-for="input-2">
                    <b-form-input v-model="product.item_code"></b-form-input>
                </b-form-group>
                <b-form-group label="Quantity" label-for="input-2">
                    <b-form-input v-model="product.quantity"></b-form-input>
                </b-form-group>
            </div>

            <div class="modal-footer w-full justify-center mt-5">
                <!-- <span class="text-red text-sm">Minimum of 3 orders.</span> -->
                <button class="button purple pt-2 pb-1 px-5" @click="onAddToCart()">Add to Cart</button>
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable camelcase */
export default {
    name: "product-info-modal",
    props: {
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            isLoading: false,
            product: {}
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.random();
        }
    },
    methods: {
        onAddToCart() {
            const { item_code, quantity } = this.product;
            const {
                default_payment_code,
                default_ship_to_id,
                default_transaction_type,
                default_branch_code
            } = this.personal_token.info;

            const params = {
                branch_code: default_branch_code,
                transaction_type: default_transaction_type,
                payment_code: default_payment_code,
                ship_to_id: default_ship_to_id,
                item_code,
                quantity
            };
            this.$store.dispatch("CART_STORE/addToCart", params);
            this.resetModal();
        },
        resetModal() {
            this.showModal = false;
            this.$emit("input", false);
            this.product = {};
        }
    }
};
</script>
