<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>
            <!--Body-->
            <div v-if="data.warning" class="modal-body">
                <h1 class="text-lg font-bold mb-3 text-center">
                    Some items in your cart may not be available in
                    <span
                        class="border-b-2 border-gray-800"
                    >{{data.text | capitalize}}</span> branch.
                </h1>
                <span class="flex flex-col items-center">
                    <button
                        @click="onRevert()"
                        class="button default sm text-white mb-2 md:w-full"
                    >DO NOT SWITCH BRANCH</button>
                    <button @click="onProceed" class="button red sm md:w-full">SWITCH ANYWAY</button>
                </span>
            </div>
            <!--Body-->
            <div v-if="data.success" class="modal-body">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto mb-2"
                    width="73.029"
                    height="73.029"
                    viewBox="0 0 73.029 73.029"
                >
                    <g transform="translate(-17.726 -17.726)">
                        <path
                            d="M164.515,128a36.515,36.515,0,1,0,36.515,36.515A36.558,36.558,0,0,0,164.515,128Zm18.508,28.778-19.777,19.777a3.04,3.04,0,0,1-4.3,0l-9.891-9.891a3.043,3.043,0,1,1,4.3-4.3L161.1,170.1l17.628-17.627a3.043,3.043,0,1,1,4.3,4.308Zm0,0"
                            transform="translate(-110.274 -110.274)"
                            fill="#7fef39"
                        />
                    </g>
                </svg>
                <h1 class="text-lg font-bold mb-3 text-center text-green-500">
                    Switched to
                    <span>{{data.branch.name | capitalize}}</span> branch.
                </h1>
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
export default {
    name: "branch-modal",
    props: {
        data: Object,
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
        this.updateCart = false;
    },
    data() {
        return {
            showModal: false,
            isLoading: false,
            updateCart: false
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        }
    },
    methods: {
        async resetModal() {
            this.showModal = false;
            this.$emit("input", false);
        },
        onProceed() {
            // eslint-disable-next-line camelcase
            // this.$emit("onChangeBranch", true);
            if (this.data.warning) {
                this.$emit("updateCartDetails", true);
            }
            this.resetModal();
        },
        onRevert() {
            this.$emit("updateCartDetails", false);
            this.resetModal();
        }
    }
};
</script>
