
<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>
            <!--Body-->
            <div class="modal-body">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    width="72"
                    class="mx-auto mb-3"
                >
                    <g class="nc-icon-wrapper">
                        <path
                            fill="#ffc935"
                            d="M256 48C141.2 48 48 141.2 48 256s93.2 208 208 208 208-93.2 208-208S370.8 48 256 48zm21 312h-42V235h42v125zm0-166h-42v-42h42v42z"
                        />
                    </g>
                </svg>
                <!-- <h1 class="text-lg font-bold mb-3 text-center text-green-500">Order submitted!</h1> -->
                <p v-if="data" class="text-center">{{data.message}}</p>
                <span class="flex items-center justify-center">
                    <button @click="resetModal" class="button purple sm w-5/12 mx-3 my-5">Edit Order</button>
                    <button
                        v-if="data && !_.isEmpty(data.items)"
                        @click="onProceedCheckout"
                        class="button default sm w-5/12 mx-3 m-5"
                    >Submit Order</button>
                </span>
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
export default {
    name: "checkout-prompt-modal",
    props: {
        data: Object,
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            isLoading: false
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        }
    },
    methods: {
        resetModal() {
            this.$emit("input", false);
            this.showModal = false;
        },

        async onProceedCheckout() {
            const itemCodes = _.join(this.data.items, ",");

            const response = await this.$store.dispatch(
                "CART_STORE/checkoutCart",
                { except_item: itemCodes }
            );
            await this.resetModal();
            this.$emit("onProceedCheckout", response);
        }
    }
};
</script>
