<template>
    <div c>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="absolute z-30"
            content-class="relative p-12 pt-16 text-left modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>
            <!--Body-->
            <div class="modal-body product-info" v-if="product.item">
                <div class="flex mb-8">
                    <div class="inline-block w-1/3">
                        <img class="block w-full" :src="product.item.photo.medium_thumbnail" alt />
                    </div>
                    <div class="inline-block w-2/3">
                        <span class="flex items-center">
                            <span
                                v-if="logged_in"
                                class="add-to-favorites leading-none"
                                @click.prevent.stop="onProductFavorite(product)"
                            >
                                <input type="checkbox" id="_a" :checked="$itemFavorite(product)" />
                                <label for="_a">
                                    <i class="ico-heart"></i>
                                </label>
                            </span>
                            <h3 class="text-base">{{product.item_code}}</h3>

                            <span v-if="$itemPromo(product)" class="promo-tag">Promo</span>
                        </span>
                        <h3
                            class="text-lg pt-1 pb-4 font-medium leading-tight"
                        >{{product.item.description}}</h3>
                        <div
                            v-if="$userHasPermission(PermissionNames.ViewProductPrice) && !hidePrices"
                            class="leading-tight"
                        >
                            <span class="item-price flex items-end justify-between w-10/12">
                                <strong
                                    class="text-2xl text-purple-500 font-bold"
                                >&#8369; {{product.price}}</strong>
                                <span
                                    class="text-sm font-medium font-display"
                                >per {{product.item.unit}}</span>
                            </span>
                            <span class="item-price flex items-center justify-between w-10/12">
                                <strong
                                    class="font-normal text-xs font-display"
                                >&#8369; {{product.unit_price}}</strong>
                                <span class="text-xs font-display">unit price</span>
                            </span>
                        </div>
                    </div>
                </div>
                <span class="w-full mt-5">
                    <p>{{product.item.short_description}}</p>
                </span>
                <div v-if="data.editable">
                    <div v-if="$hasCartPermission">
                        <div v-if="!isLoading">
                            <span class="prod-btns z-10">
                                <button
                                    v-if="!product.alreadyInCart"
                                    @click="onAddToCart(product)"
                                    class="button default sm text-white w-full"
                                >Add to Cart</button>
                                <quantity-picker-component
                                    v-else
                                    :item="product"
                                    @onChangeQuantity="onChangeQuantity($event)"
                                    @onRemoveItem="resetModal"
                                />
                            </span>
                        </div>
                        <spinner-component v-else />
                    </div>
                </div>

                <div>
                    <item-promo-list-component :promos="promo"></item-promo-list-component>
                </div>
            </div>
            <spinner-component v-else />
            <template v-slot:modal-footer>
                <b-button variant="primary" class="px-4" @click="showModal=false">CLOSE</b-button>
            </template>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
/* eslint-disable camelcase */
import {
    QuantityPickerComponent,
    ItemPromoListComponent
} from "@components/common/index";
import { mapGetters } from "vuex";
export default {
    name: "product-info-modal",
    props: {
        data: Object,
        onShow: Boolean,
        hidePrices: Boolean
    },
    components: {
        QuantityPickerComponent,
        ItemPromoListComponent
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            product: {},
            quantity: 1,
            promo: []
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;

            this.quantity = this.product.quantity;
        },
        data: function(newValue) {
            this.product = _.clone(newValue);
            if (!this.product.alreadyInCart) {
                this.product.quantity = this.product.item.minimum
                    ? this.product.item.minimum
                    : 1;
            }
        },
        product(newValue, oldValue) {
            if (!_.isEmpty(newValue) && newValue.id !== oldValue.id) {
                this.getItemPromo();
            }
        },
        quantity(newValue) {
            if (newValue <= this.product.item.minimum) {
                this.quantity = this.product.item.minimum;
            }
        },
        isSuccess() {
            if (this.isSuccess) {
                this.product.alreadyInCart = this.isSuccess;
            }
        }
    },
    computed: {
        myModal: function() {
            return `"modal" ${this.data.id}`;
        },
        ...mapGetters({
            isLoading: "CART_STORE/isLoading",
            isSuccess: "CART_STORE/isSuccess"
        })
    },
    methods: {
        async onAddToCart() {
            await this.$emit("onAddToCart", this.product);
            this.product.focus = true;
        },
        async onProductFavorite() {
            await this.$emit("onProductFavorite", this.product);
            this.product.item.favorite = !this.product.item.favorite;
        },
        async getItemPromo() {
            const { item_code, branch_code } = this.product;
            if (!this.$itemPromo(this.product)) {
                return;
            }
            const response = await this.$store.dispatch(
                "PRODUCT_STORE/getItemPromoByCode",
                {
                    item_code,
                    branch_code: _.isEmpty(branch_code)
                        ? this.personal_token.info.default_branch_code
                        : branch_code,
                    promoChecker: false
                }
            );
            const { item } = response.data;
            this.promo = item.promo;
        },
        resetModal() {
            this.showModal = false;
            this.product = {};
            this.promo = [];
            this.$emit("input", false);
        },

        async onChangeQuantity() {
            this.product.ref = _.isEmpty(this.product.ref)
                ? this.data.ref
                : this.product.ref;
            await this.$emit("onChangeQuantity", this.product);
        }
    }
};
</script>
