<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            :no-close-on-backdrop="true"
            :no-close-on-esc="true"
            :hide-header-close="true"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <!-- <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                        :disabled="transactionType === 'PICK-UP'"
                    :class="{'disabled' : isLoading}">
                </svg>-->
            </template>
            <!--Body-->
            <div class="modal-body">
                <h1
                    class="text-lg font-bold mb-3 text-center text-red"
                >Would you like to remove this item?</h1>
                <span class="flex flex-row items-center justify-center">
                    <button
                        @click="onProceed"
                        :disabled="isLoading"
                        :class="{'disabled' : isLoading}"
                        class="button red sm text-white mb-2 mx-2"
                    >Yes</button>
                    <button
                        @click="onRevertQuantity"
                        :class="{'disabled' : isLoading}"
                        class="button default sm text-white mb-2 mx-2"
                        :disabled="isLoading "
                    >No</button>
                </span>
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
import { mapGetters } from "vuex";
export default {
    name: "remove-item-modal",
    props: {
        data: Object,
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            isLoading: false
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        },
        ...mapGetters({
            isSuccess: "CART_STORE/isSuccess"
        })
    },
    methods: {
        resetModal() {
            this.showModal = false;
            this.isLoading = false;
            this.$emit("input", false);
        },
        async onProceed() {
            // eslint-disable-next-line camelcase
            if (_.isEmpty(this.data.ref)) return;
            this.isLoading = true;
            await this.$store.dispatch(
                "CART_STORE/removeToCart",
                this.data.ref
            );
            this.$emit("onRemoveItem", this.isSuccess);
            this.resetModal();
        },
        onRevertQuantity() {
            this.$emit("onRevertQuantity");
            this.resetModal();
        }
    }
};
</script>
