<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>
            <!--Body-->

            <div class="modal-body">
                <span
                    class="mx-auto flex items-center justify-center rounded-full bg-red text-white text-center text-5xl pt-2"
                    style="width: 72px; height: 72px;"
                >!</span>
                <h1
                    class="text-lg font-bold mb-3 text-center text-red"
                >Are you 18 years old and above?</h1>
                <span class="flex flex-row items-center justify-center">
                    <button @click="onProceed" class="button default sm text-white mb-2 mx-2">Yes</button>
                    <button @click="onDenied" class="button default sm text-white mb-2 mx-2">No</button>
                </span>
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
export default {
    name: "restriction-modal",
    props: {
        data: Object,
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            isLoading: false
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        }
    },
    methods: {
        resetModal() {
            this.showModal = false;
            this.$emit("input", false);
        },
        onProceed() {
            this.$emit("onProceed", true);
            this.resetModal();
        },
        onDenied() {
            // this.$router.back();
            this.resetModal();
        }
    }
};
</script>
