<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>
            <!--Body-->

            <div class="modal-body">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mx-auto mb-2"
                    width="73.029"
                    height="73.029"
                    viewBox="0 0 73.029 73.029"
                >
                    <g transform="translate(-17.726 -17.726)">
                        <path
                            d="M164.515,128a36.515,36.515,0,1,0,36.515,36.515A36.558,36.558,0,0,0,164.515,128Zm18.508,28.778-19.777,19.777a3.04,3.04,0,0,1-4.3,0l-9.891-9.891a3.043,3.043,0,1,1,4.3-4.3L161.1,170.1l17.628-17.627a3.043,3.043,0,1,1,4.3,4.308Zm0,0"
                            transform="translate(-110.274 -110.274)"
                            fill="#7fef39"
                        />
                    </g>
                </svg>
                <h3 class="text-lg font-bold mb-3 text-center text-green-500">
                    Congratulations Ka-Suy Sing! <br />
                    You have activated your Success Card.
                </h3>
                <p>All your rebates will be loaded here. Check My 2 Account for your Success Points balance.</p>
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
export default {
    name: "restriction-modal",
    props: {
        data: Object,
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            isLoading: false
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        }
    },
    methods: {
        resetModal() {
            this.showModal = false;
            this.$emit("input", false);
        },
        onProceed() {
            this.$emit("onProceed", true);
            this.resetModal();
        },
        onDenied() {
            // this.$router.back();
            this.resetModal();
        }
    }
};
</script>
