<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center pb-3"
            content-class=" py-4 text-left px-6 modal-container"
            footer-class="d-none"
        >
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>

            <!--Body-->
            <div class="modal-body">
                <div v-if="!isLoading">
                    <div v-if="type === 'saving-template'">
                        <div v-if="!templateExist">
                            <h1 class="text-lg font-bold mb-3 text-center">Save order as template</h1>
                            <span class="flex flex-col items-center">
                                <input
                                    type="text"
                                    class="border-gray-200 border p-2 md:w-full mb-2"
                                    placeholder="Template name"
                                    v-model="templateName"
                                />
                                <button
                                    @click="onSaveTemplate"
                                    class="button default sm text-white mb-2 md:w-full"
                                >Save Template</button>
                                <button
                                    @click="resetModal"
                                    class="button default text-white sm md:w-full"
                                >Cancel</button>
                            </span>
                        </div>

                        <div v-else>
                            <span class="flex flex-col items-center">
                                <button
                                    class="button default sm text-white mb-2 md:w-1/2"
                                >Update Template</button>
                                <button
                                    class="button default sm text-white mb-2 md:w-1/2"
                                >Save as new template</button>
                                <button
                                    class="button gray sm text-gray-800 mb-2 md:w-1/2"
                                >Update Template</button>
                            </span>
                        </div>
                    </div>
                    <div v-if="type === 'changing-template'">
                        <h1 class="text-lg font-bold mb-3 text-center">
                            Using
                            <span class="border-b-2 border-gray-800">{{data.name}}</span> will remove existing items in your cart. Proceed?
                        </h1>
                        <span class="flex flex-col items-center">
                            <button
                                @click="onProceed"
                                class="button default sm text-white mb-2 md:w-full"
                            >YES</button>
                            <button @click="resetModal" class="button red sm md:w-full">NO</button>
                        </span>
                    </div>
                </div>
                <spinner-component v-else />
            </div>
        </b-modal>
    </div>
</template>

<script>
/* eslint-disable indent */
/* eslint-disable no-undef */
import { mapGetters } from "vuex";
export default {
    name: "template-modal",
    props: {
        data: Object,
        onShow: Boolean,
        type: String
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            // isExist: false,
            templateName: ""
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        ...mapGetters({
            isLoading: "TEMPLATES_STORE/isLoading",
            templates: "TEMPLATES_STORE/templates"
        }),
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        },
        templateExist() {
            if (_.isEmpty(this.templates)) return false;
            let exist = _.filter(this.templates, { id: this.data.id });
            return !_.isEmpty(exist);
        }
    },
    methods: {
        resetModal() {
            this.showModal = false;
            this.$emit("input", false);
        },

        async onSaveTemplate() {
            if (_.isEmpty(this.templateName)) {
                Methods.toastMessage({
                    success: false,
                    message: "Please fill up template name first."
                });
                return;
            }
            const response = await this.$store.dispatch(
                "TEMPLATES_STORE/saveTemplate",
                {
                    name: this.templateName
                }
            );
            this.$emit("saveTemplate", response);
            this.resetModal();
        },
        onProceed() {
            this.$emit("onProceed", this.data.template_ref);
        }
    }
};
</script>
