<template>
    <div>
        <b-modal
            :id="myModal"
            :append-to-body="true"
            v-model="showModal"
            @hidden="resetModal"
            header-class="flex justify-end items-center"
            content-class=" py-4 text-left px-6 modal-container"
        >
            <template v-slot:modal-title></template>
            <div class="modal-overlay"></div>
            <template slot="modal-header-close">
                <svg
                    class="fill-current text-gray-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 18 18"
                >
                    <path
                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
                    />
                </svg>
            </template>

            <!--Body-->
            <div class="modal-body">
                <h1 class="text-lg uppercase font-bold mb-3">Terms and Conditions</h1>
                <div class="scrollable">
                    <p>Lorem sipsum dolor sit amet, fringilla pede vel sapien eu, nibh eget vel, eu mauris enim. Dolor pretium eu praesent libero, dui eget ullamcorper diam a pede, a habitasse. Nam dolor mauris a mauris. Nonummy varius tempor eu cras orci malesuada. Ultricies pulvinar ac vitae, id ullamcorper rutrum in penatibus rutrum massa, diam ipsum, quam tortor blandit id eu sem, at dictumst.</p>
                    <p>Rutrum in sit vehicula et quia, in eros nibh sit eu labore dolor, amet turpis etiam wisi, amet nec. Pretium fringilla. Vehicula duis sapien, pede nec nec, phasellus fusce arcu ultricies donec. Accumsan ornare justo morbi faucibus tempor dignissim, et tortor placerat pharetra sed et leo. Consectetuer et autem turpis orci neque, senectus nullam fringilla pellentesque fugiat. Nunc elit etiam magni suscipit ut, habitasse tempor vestibulum arcu, amet nunc arcu lectus aliquam. Libero sodales, tincidunt sed dui semper, consequat blandit. Pellentesque et, orci justo morbi diam magnis quis mauris, felis ultrices.</p>
                    <p>Officiis dolores enim sit autem itaque sed praesentium reiciendis necessitatibus recusandae, exercitationem accusamus quia adipisci, repellat dignissimos ullam.</p>
                </div>
            </div>

            <template v-slot:modal-footer></template>
        </b-modal>
    </div>
</template>
<script>
/* eslint-disable indent */
export default {
    name: "terms-modal",
    props: {
        data: Object,
        onShow: Boolean
    },
    async mounted() {
        this.onShow = this.showModal;
    },
    data() {
        return {
            showModal: false,
            isLoading: false
        };
    },
    watch: {
        onShow: function(newValue) {
            this.showModal = this.onShow;
        }
    },
    computed: {
        myModal: function() {
            return "modal" + Math.floor(Math.random() * 10);
        }
    },
    methods: {
        resetModal() {
            this.showModal = false;
            this.$emit("input", false);
        }
    }
};
</script>
