<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>
        <div class="container mx-auto px-6 py-10">
            <div class="container mx-auto px-6 py-10">
                <h2 class="text-4xl font-medium uppercase mb-3">SUY SING FLYER - JANUARY 1-15, 2020</h2>

                <div class="flipbook-viewport">
                    <div cl ass="container">
                        <flipbook class="flipbook" :pages="images" v-slot="images">
                            <button @click="images.flipLeft">
                                <i class="ico-arrow-l"></i>
                            </button>
                            <button @click="images.flipRight">
                                <i class="ico-arrow-r"></i>
                            </button>
                        </flipbook>
                        <div class="mt-3 flex justify-between">
                            <span>
                                <input
                                    type="text"
                                    class="border-gray-500 border p-1 mr-1 w-12 text-center"
                                /> of
                                <span>15</span>
                            </span>
                            <span class="flex flex-col text-right">
                                <a href="#" class="text-gray-500 underline">Download PDF</a>
                                <a href="#" class="underline">Back to SUY SING FLYERS</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { HeroComponent } from "@components/common/index";
import Flipbook from "flipbook-vue";
export default {
    name: "catalogue-component",
    components: {
        HeroComponent,
        Flipbook
    },
    data() {
        return {
            images: [
                "static/catalogue/1.png",
                "static/catalogue/2.png",
                "static/catalogue/3.png",
                "static/catalogue/4.png"
            ],
            page: {}
        };
    },
    async mounted() {
        if (!this.pagesContent["promotions"]) {
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "promotions"
            );
        }
        this.page = this.pagesContent["promotions"];
    }
};
</script>
