<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>

        <div class="container mx-auto px-6 py-10">
            <h3 class="text-4xl font-medium uppercase mb-3">Features &amp; Services</h3>
            <h4
                class="text-center block text-lg mb-6"
            >Get Your Grocery Requirements in 3 Easy Steps:</h4>

            <div class="flex flex-col justify-between items-inital lg:flex-row lg:fle-wrap">
                <div class="lg:w-1/5 mb-10 lg:mb-0">
                    <span class="flex items-center mb-6">
                        <img src="../../assets/img/ico-services-call.svg" width="80" alt />
                        <span class="uppercase leading-tight">
                            Step 1:
                            <h3 class="block text-4xl font-bold">Call</h3>
                        </span>
                    </span>
                    <p>Call or visit any of our branches to book your orders</p>
                    <a href="#" class="inline-block button default sm text-white my-5">Branches</a>
                </div>

                <div class="lg:w-2/5 mb-10 lg:mb-0 lg:pl-16 lg:ml-16 lg:border-l border-orange-500">
                    <div>
                        <span class="flex items-center mb-6">
                            <img src="../../assets/img/ico-services-pay.svg" width="80" alt />
                            <span class="uppercase leading-tight ml-4">
                                Step 2:
                                <h3 class="block text-4xl font-bold">Pay</h3>
                            </span>
                        </span>
                        <strong
                            class="mb-3 block"
                        >Choose from our safe and easy payment options and pay for your orders.</strong>
                        <p>Get additional 0.5% Payment Discount with:</p>
                        <ul class="ml-3 mb-3">
                            <li>ATM Cards</li>
                            <li>Auto Debit Arrangement (ADDA)</li>
                            <li>Cebuana Lhuillier via Pera Padala</li>
                            <li>Palawan Express Pera Padala</li>
                            <li>Express Payment System</li>
                            <li>Phone Banking</li>
                        </ul>
                        <p>You can also pay via:</p>
                        <ul class="ml-3 mb-3">
                            <li>Cash</li>
                            <li>All Major Credit Cards</li>
                            <li>Success Card</li>
                            <li>Suy Sing Visa</li>
                        </ul>
                        <a href="#" class="inline-block button default sm text-white my-5">Branches</a>
                    </div>
                </div>

                <div class="lg:w-2/5 lg:pl-16 lg:ml-16 lg:border-l border-orange-500">
                    <div>
                        <span class="flex items-center mb-6">
                            <img src="../../assets/img/ico-services-get-stocks.svg" width="80" alt />
                            <span class="uppercase leading-tight ml-4">
                                Step 3:
                                <h3 class="block text-4xl font-bold">Get your stocks</h3>
                            </span>
                        </span>
                        <p>
                            <strong>For as low as P15,000</strong>, you can enjoy free delivery right at your doorstep. Rates may vary for different areas and formats. You can also opt to pick up your stocks from our branches and enjoy additional 1.00% Pick-Up Discount.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-10">
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">COMPLETE ASSORTMENT OF GROCERY PRODUCTS</h3>
                    <p>Equip your store with the best and most complete product mix! We have over 4,000 SKU’s across 185 categories recommended for all your grocery requirements.</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">EVERYDAY LOW PRICES AND ONE-PRICE POLICY</h3>
                    <p>Our consolidated volumes and high operational efficiencies are translated into lower prices for you. We’ve got great bracket discounts for you to enjoy so you can earn more with Suy Sing.</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">NO MEMBERSHIP FEE</h3>
                    <p>Enjoy our great deals without worrying about membership fees. It’s absolutely free to be part of the Suy Sing community!</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">EXCITING PROMOTIONS</h3>
                    <p>Get the best deals from us and save big on exclusive promotions! Earn rebates and get freebies when you buy featured brands and items from our bi-monthly promos: Suy Sing Mail, Super Grocer Extravaganza, Promo Packs, Super Grocer’s Extravaganza, and Introductory Specials! Know more about these great offers and deals in our Success Flyers.</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">SUCCESS CARD</h3>
                    <p>Earn Success points when you buy from our promoted items and use these points for your next Suy Sing purchases. Free membership for a minimum purchase. Apply now and start enjoying unlimited Success!</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">SUY SING VISA</h3>
                    <p>Have power over your Suy Sing purchases with Suy Sing VISA! Enjoy perks such as 0.5% rebate on your purchases, flexible payment terms (as much as 53 days credit), and the convenience of utility payments by phone.</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">LUCKY GROCERS’ CLUB</h3>
                    <p>Join the Lucky Grocers’ Club and level up your business! LG members can enjoy exclusive perks and benefits for their stores including easy inventory management, customer loyalty program, store makeover and exciting promotions!</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">RETAIL ACADEMY</h3>
                    <p>Let us educate and guide you towards a better path for your stores by participating in our Retail Academy, where we can all be learners and achievers of success.</p>
                </div>
                <div class="mb-6">
                    <h3 class="text-lg uppercase font-bold">BREAKCASE</h3>
                    <p>Expand your assortment and earn more with Suy Sing’s Breakcase items. We’re now selling in pieces or smaller packs for selected items. Available in Isabela, Pangasinan, Meycauayan, Taguig, Iloilo, CDO, and Davao.</p>
                </div>
            </div>
        </div>
    </div>
</template>
