 <!--Body-->
<div class="modal-body">
    <h1 class="text-lg font-bold mb-3 text-center">Save order as template</h1>
    <span class="flex flex-col items-center">
        <input type="text" class="border-gray-200 border p-2 md:w-1/2 mb-2" placeholder="Template name" />
        <button class="button default sm text-white mb-2 md:w-1/2">Save Template</button>
        <button class="button default sm md:w-1/2 ">Cancel</button>
    </span>
</div>