 <!--Body-->
<div class="modal-body">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mx-auto mb-2"
        width="73.029"
        height="73.029"
        viewBox="0 0 73.029 73.029"
    >
        <g transform="translate(-17.726 -17.726)">
            <path
                d="M164.515,128a36.515,36.515,0,1,0,36.515,36.515A36.558,36.558,0,0,0,164.515,128Zm18.508,28.778-19.777,19.777a3.04,3.04,0,0,1-4.3,0l-9.891-9.891a3.043,3.043,0,1,1,4.3-4.3L161.1,170.1l17.628-17.627a3.043,3.043,0,1,1,4.3,4.308Zm0,0"
                transform="translate(-110.274 -110.274)"
                fill="#7fef39"
            />
        </g>
    </svg>
    <h1 class="text-lg font-bold mb-3 text-center text-green-500">Switched to <span>Binondo</span> branch.</h1>
</div>