<!--Body-->
<div class="modal-body">    
    <h1 class="text-lg font-bold mb-3 text-center text-red">Would you like to remove this item?</h1>
    <span class="flex flex-row items-center justify-center">
        <button class="button red sm text-white mb-2 mx-2">Yes</button>
        <button class="button default sm text-white mb-2 mx-2">No</button>
    </span>
</div>