<!--Body-->
<div class="modal-body">
    <span class="mx-auto flex items-center justify-center rounded-full bg-red text-white text-center text-5xl pt-2" style="width: 72px; height: 72px;">!</span>
    <h1 class="text-lg font-bold mb-3 text-center text-red">Are you 18 years old and above?</h1>
    <span class="flex flex-row items-center justify-center">
        <button class="button default sm text-white mb-2 mx-2">Yes</button>
        <button class="button default sm text-white mb-2 mx-2">No</button>
    </span>
</div>