 <!--Body-->
<div class="modal-body">
    <h1 class="text-lg font-bold mb-3 text-center">Some items in your cart may not be available in <span class="border-b-2 border-gray-800">Binondo</span> branch.</h1>
    <span class="flex flex-col items-center">
        <button class="button default sm text-white mb-2 md:w-1/2">DO NOT SWITCH BRANCH</button>
        <button class="button red sm md:w-1/2 ">SWITCH ANYWAY</button>
    </span>
</div>