 <!--Body-->
<div class="modal-body">
    <h1 class="text-lg font-bold mb-3 text-center">Save order as template</h1>
    <span class="flex flex-col items-center">
        <button class="button default sm text-white mb-2 md:w-1/2">Update Template</button>
        <button class="button default sm text-white mb-2 md:w-1/2">Save as new template</button>
        <button class="button gray sm text-gray-800 mb-2 md:w-1/2">Update Template</button>
    </span>
</div>