<!--Body-->
<div class="modal-body">
    <h1 class="text-lg font-bold mb-3 text-center">This will clear all items in your cart?</h1>
    <span class="flex flex-col items-center">
        <button class="button default sm text-white mb-2 w-1/2">Cancel</button>
        <button class="button red sm w-1/2">Clear all items</button>
    </span>
</div>