<template>
    <div class="container mx-auto px-6 py-10">
        <span class="flex justify-between">
            <h2 class="text-2xl font-medium uppercase mb-8">Order Details</h2>
            <span>
                <button class="border border-gray-200 hover:border-gray-500 p-2 leading-none"><i class="ico-arrow-l"></i></button>
                <button class="border border-gray-200 hover:border-gray-500 p-2 leading-none"><i class="ico-arrow-r"></i></button>
            </span>
        </span>
        <div class="flex flex-col md:flex-row justify-between mb-5 border-b border-gray-200 pb-5">
            <div class="md:w-3/5">
                <table>
                    <tr>
                        <td width="160" class="pl-0 py-1">
                            <strong>PO Number:</strong>
                        </td>
                        <td class="pl-0 py-1">
                            <p class="text-link font-bold">1234567</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="pl-0 py-1">
                            <strong>Amount:</strong>
                        </td>
                        <td class="pl-0 py-1">
                            <strong>₱ 10,000.00</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="pl-0 py-1">
                            <strong>Transaction Type:</strong>
                        </td>
                        <td class="pl-0 py-1">
                            <p>Delivery</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="pl-0 py-1">
                            <strong>Branch/Address:</strong>
                        </td>
                        <td class="pl-0 py-1">
                            <p>123 Sto. Cristo Street, Binondo, Manila</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td width="160" class="pl-0 py-1">
                            <strong>Date Purchased:</strong>
                        </td>
                        <td class="pl-0 py-1">
                            <p>03/03/2020</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="main-order-summary">
            <div class="order-summary">
                <div class="table-container">
                    <div class="scrollable hidden md:block">
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-left" width="100">Qty. Orderded</th>
                                    <th class="text-left" width="100">Qty. Served</th>
                                    <th width="80">Unit</th>
                                    <th width="110">Item Code</th>
                                    <th width="24"></th>
                                    <th width="480">Item Description</th>
                                    <th width="150" class="text-right">Price</th>
                                    <th width="150" class="text-right">Total Price</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="scrollable">
                        <table>
                            <thead class="md:hidden">
                                <tr>
                                    <th class="text-center" width="100">Qty. Orderded</th>
                                    <th class="text-center" width="100">Qty. Served</th>
                                    <th width="80">Unit</th>
                                    <th width="110">Item Code</th>
                                    <th width="24"></th>
                                    <th width="480">Item Description</th>
                                    <th width="150" class="text-right">Price</th>
                                    <th width="150" class="text-right">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100">
                                        2
                                    </td>
                                    <td width="100">
                                        1
                                    </td>
                                    <td width="80">
                                       CS
                                    </td>
                                    <td width="110">
                                        Wee
                                    </td>
                                    <td width="24" class="p-0">
                                        <span class="promo-v">
                                            <img src="../../assets/img/promo-v@2x.png" width="16" />
                                        </span>
                                    </td>
                                    <td width="480">
                                        <span>3Q KOMEYA BIHON 30/16OZ. (454G)</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 828.45</span>
                                    </td>
                                    <td width="150" class="text-right">
                                        <span class="font-medium">₱ 3,313.80</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-sm">
                    <div class="order-amount">
                        <ul>
                            <li>
                                <span>Gross Amount:</span>
                                <span
                                    class="amount-value"
                                >₱ 0.00</span>
                            </li>
                            <li class="border-b">
                                <span>Less - Pick-Up Allowances:</span>
                                <span
                                    class="amount-value"
                                >₱ 0.00</span>
                            </li>
                            <li class="border-b">
                                <span>Less - Payment Discount:</span>
                                <span
                                    class="amount-value"
                                >₱ 0.00</span>
                            </li>
                        </ul>
                        <hr style="width: 150px" class="float-right" />
                        <ul class="mt-2">
                            <li>
                                <span class="text-base font-bold text-purple-500">Net Amount:</span>
                                <span
                                    class="amount-value font-bold text-base text-purple-500"
                                >₱ 0.00</span>
                            </li>
                        </ul>
                    </div>
                    <em
                        class="block text-red text-right p-3"
                    >Prices and availability is subject to change without prior notice.*</em>
                </div>
                <div class="button-group mt-3 float-right">
                        <button class="button default">Back to my Account</button>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
</script>
