<template>
    <div class="container mx-auto px-6">
        <div class="w-full text-center p-6">
            Search results for “
            <strong>Q7734</strong>”
        </div>
        <h3 class="text-purple-500 mb-6">Products</h3>
        <div class="mb-5">
            <div class="products-container">
                <div class="product-list overflow-y-auto" style="max-height: 1280px">
                    <ul>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="prod-btns z-50">
                                            <button class="add-to-cart">Add to Cart</button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="cursor-pointer">
                                <span class="ribbon">Promo</span>
                                <span class="add-to-favorites">
                                    <input type="checkbox" id="_a" />
                                    <label for="_a">
                                        <i class="ico-heart"></i>
                                    </label>
                                </span>
                                <span class="prod_img">
                                    <img
                                        src="http://suysing.asset.dev.s3-website-ap-southeast-1.amazonaws.com/upload/products/3Q008.png"
                                        alt
                                    />
                                </span>
                                <span class="prod_desc">
                                    <div>
                                        <p id="amount">324</p>
                                        <p class="font-bold" id="item-code">asdsada</p>
                                        <p class id="description">3Q KOMEYA BIHON 30/16OZ. (454G)</p>
                                    </div>
                                    <div>
                                        <span class="qty-counter">
                                            <button>
                                                <i class="ico-minus"></i>
                                            </button>
                                            <input type="text" />
                                            <button>
                                                <i class="ico-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="opacity-50 my-6" />
            <div>
                <div class="mb-5">
                    <a href="#">
                        <h3 class="text-purple-500 text-lg">Alvin Lim: Planting Seeds for Growth</h3>
                        <p>In ex orci, egestas id congue sed, imperdiet quis risus. Praesent hendrerit commodo ex facilisis pharetra. Donec id dapibus neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas….</p>
                    </a>
                </div>
                <div class="mb-5">
                    <a href="#">
                        <h3 class="text-purple-500 text-lg">Alvin Lim: Planting Seeds for Growth</h3>
                        <p>In ex orci, egestas id congue sed, imperdiet quis risus. Praesent hendrerit commodo ex facilisis pharetra. Donec id dapibus neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas….</p>
                    </a>
                </div>
                <div class="mb-5">
                    <a href="#">
                        <h3 class="text-purple-500 text-lg">Alvin Lim: Planting Seeds for Growth</h3>
                        <p>In ex orci, egestas id congue sed, imperdiet quis risus. Praesent hendrerit commodo ex facilisis pharetra. Donec id dapibus neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas….</p>
                    </a>
                </div>
                <div class="mb-5">
                    <a href="#">
                        <h3 class="text-purple-500 text-lg">Alvin Lim: Planting Seeds for Growth</h3>
                        <p>In ex orci, egestas id congue sed, imperdiet quis risus. Praesent hendrerit commodo ex facilisis pharetra. Donec id dapibus neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas….</p>
                    </a>
                </div>
            </div>
            <a href="#" class="text-purple-500 text-sm">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    width="24"
                    height="24"
                    class="inline"
                >
                    <g class="nc-icon-wrapper" fill="#1E009B">
                        <path
                            d="M85 277.375h259.704L225.002 397.077 256 427l171-171L256 85l-29.922 29.924 118.626 119.701H85v42.75z"
                        />
                    </g>
                </svg>
                See all search results
            </a>
        </div>
    </div>
</template>
