<template>
    <div class="container mx-auto px-6">
        <div class="w-full text-center p-6">
            Search results for “
            <strong>Q7734</strong>”
        </div>

        <div class="flex flex-col items-center py-16">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 122.728 163.448">
                <path
                    d="M10,167.063H93.137l33.207-33.207V10H10Zm0,0"
                    transform="translate(-6.808 -6.808)"
                    fill="#fff"
                    fill-rule="evenodd"
                />
                <path
                    d="M270.426,431.187V397.98h33.207Zm0,0"
                    transform="translate(-184.097 -270.932)"
                    fill="#fff"
                    fill-rule="evenodd"
                />
                <path
                    d="M3.192,128.331a3.192,3.192,0,0,0,3.192-3.192V6.385H116.343v6.386a3.192,3.192,0,1,0,6.385,0V3.192A3.192,3.192,0,0,0,119.536,0H3.192A3.192,3.192,0,0,0,0,3.192V125.138A3.192,3.192,0,0,0,3.192,128.331Zm0,0"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
                <path
                    d="M119.536,110a3.192,3.192,0,0,0-3.192,3.192v85.547H86.329a3.192,3.192,0,0,0-3.192,3.192V231.95H6.385v-6.386a3.192,3.192,0,0,0-6.385,0v9.578a3.192,3.192,0,0,0,3.192,3.192H86.329l.05,0c.087,0,.175,0,.262-.012.054-.005.106-.016.158-.024s.1-.012.15-.022.106-.026.16-.039.1-.022.143-.036.1-.035.146-.052.1-.032.148-.052.086-.041.128-.061.1-.046.155-.072.079-.046.117-.07.1-.057.151-.091.089-.065.132-.1.082-.057.121-.09a2.712,2.712,0,0,0,.236-.213l33.207-33.207a3.063,3.063,0,0,0,.277-.322c.022-.027.044-.056.064-.085a3.307,3.307,0,0,0,.221-.35l.01-.022a3.142,3.142,0,0,0,.157-.358c.012-.032.025-.066.036-.1a3.312,3.312,0,0,0,.11-.4.024.024,0,0,1,0-.009,3.278,3.278,0,0,0,.049-.4c0-.036,0-.072.006-.109s0-.071,0-.107V113.2A3.192,3.192,0,0,0,119.536,110ZM89.521,227.436V205.128h22.306Zm0,0"
                    transform="translate(0 -74.887)"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
                <path
                    d="M251.549,105.931a3.191,3.191,0,0,0-4.514,0l-7.214,7.214-7.215-7.214a3.192,3.192,0,0,0-4.514,4.514l7.214,7.214-7.214,7.215a3.192,3.192,0,0,0,4.514,4.514l7.215-7.214,7.214,7.214a3.192,3.192,0,0,0,4.514-4.514l-7.214-7.215,7.214-7.214A3.191,3.191,0,0,0,251.549,105.931Zm0,0"
                    transform="translate(-154.64 -71.478)"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
                <path
                    d="M83.142,273.585c7.983-6.432,19.386-10.122,31.285-10.122s23.3,3.69,31.285,10.122a3.192,3.192,0,1,0,4.005-4.972c-9.1-7.33-21.961-11.535-35.29-11.535s-26.193,4.2-35.29,11.535a3.192,3.192,0,1,0,4.005,4.972Zm0,0"
                    transform="translate(-53.063 -175.01)"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
                <path
                    d="M78.884,129.386a3.192,3.192,0,0,0,4.514,0l7.214-7.214,7.214,7.214a3.192,3.192,0,0,0,4.515-4.514l-7.214-7.214,7.214-7.215a3.192,3.192,0,0,0-4.515-4.514l-7.214,7.214L83.4,105.927a3.192,3.192,0,1,0-4.514,4.514l7.214,7.215-7.214,7.214A3.193,3.193,0,0,0,78.884,129.386Zm0,0"
                    transform="translate(-53.065 -71.475)"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
                <path
                    d="M3.192,428.381A3.192,3.192,0,1,0,0,425.188,3.2,3.2,0,0,0,3.192,428.381Zm0,0"
                    transform="translate(0 -287.281)"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
                <path
                    d="M367.638,70A3.192,3.192,0,1,0,370.83,73.2,3.2,3.2,0,0,0,367.638,70Zm0,0"
                    transform="translate(-248.102 -47.656)"
                    fill="#fa9300"
                    fill-rule="evenodd"
                />
            </svg>
            <h3 class="text-xl mt-4">No results found.</h3>
        </div>
    </div>
</template>
