<template>
    <div>
        <div class="pw-setup-container">
            <span class="bg-market">
                <img class="object-cover h-screen" src="../../assets/img/img_pw-setup.jpg" alt />
            </span>
            <div class="form-container">
                <span class="mx-auto">
                    <img class="w-full mb-4 mx-auto" src="../../assets/img/logo_suysing_navy.png" style="max-width: 300px;" alt />
                    <h3 class="font-bold text-xl mb-2">Let’s setup your password</h3>

                    <span
                        class="block py-2 px-2 font-bold text-red bg-pippin mb-2"
                    >Passwords did not match. Try again.</span>

                    <h3 class="text-lg">
                        Customer code:
                        <span>101E01</span>
                    </h3>
                    <br />
                    <form action>
                        <span class="block mb-3">
                            <label for>Password</label>
                            <span class="flex py-2 px-3 border border-gray-300 mb-1">
                                <input type="text" class="w-full" />
                                <button class="ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.969 12" width="24" height="24">
                                        <path d="M712,197a3,3,0,1,0,2.992,3A3,3,0,0,0,712,197Zm7.907,2.628C719.814,199.4,717.6,194,712,194s-7.816,5.4-7.908,5.628a1,1,0,0,0,0,.743C704.182,200.6,706.4,206,712,206s7.816-5.4,7.907-5.629A1,1,0,0,0,719.905,199.628ZM712,204c-3.538,0-5.342-2.931-5.882-4,0.54-1.054,2.364-4,5.882-4,3.539,0,5.343,2.933,5.882,4C717.34,201.052,715.516,204,712,204Z" transform="translate(-704.031 -194)" fill-rule="evenodd"/>
                                    </svg>
                                </button>
                            </span>
                        </span>
                        <span class="block mb-3">
                            <label for>Confirm Password</label>
                            <span class="flex py-2 px-3 border border-gray-300 mb-2">
                                <input type="text" class="w-full" />
                                <button class="ml-2 opacity-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.813 15.906" width="24" height="24">
                                        <path d="M742.044,197.727l4.174,4.2a2.952,2.952,0,0,1-1.77,1.044,3.024,3.024,0,0,1-.525.05,2.737,2.737,0,0,1-.989-0.179,2.96,2.96,0,0,1-1.8-1.81,2.769,2.769,0,0,1-.178-1,3.037,3.037,0,0,1,.049-0.527A2.974,2.974,0,0,1,742.044,197.727Zm9.724,1.939c-0.089-.229-2.3-5.6-7.845-5.6a7.267,7.267,0,0,0-1.583.16l1.831,1.84c3.353,0.129,5.065,2.934,5.589,3.968a7.947,7.947,0,0,1-.633,1.014l1.424,1.433a10,10,0,0,0,1.217-2.079A1.048,1.048,0,0,0,751.768,199.666Zm-4.521,3.292a5.206,5.206,0,0,1-1.187.637,3.805,3.805,0,0,1-.742.248c-0.1.03-.208,0.05-0.316,0.08a5.326,5.326,0,0,1-.911.079,0.888,0.888,0,0,1-.168.01,2.041,2.041,0,0,1-.247-0.01,5.237,5.237,0,0,1-1.148-.159,7.113,7.113,0,0,1-4.441-3.809c0.059-.119.138-0.259,0.227-0.428,0.109-.179.238-0.378,0.4-0.6l0.178-.239a6.919,6.919,0,0,1,.445-0.547c0.059-.07.119-0.139,0.188-0.209a6.062,6.062,0,0,1,.514-0.477,5.707,5.707,0,0,1,1.079-.746l-1.454-1.462a8.313,8.313,0,0,0-1.039.785c-0.178.159-.346,0.329-0.5,0.488-0.069.069-.128,0.139-0.188,0.208-0.168.18-.316,0.359-0.455,0.538-0.059.079-.128,0.159-0.178,0.238a6.221,6.221,0,0,0-.4.587,9.853,9.853,0,0,0-.812,1.492,1.048,1.048,0,0,0,0,.736c0.089,0.229,2.3,5.6,7.845,5.6a5.474,5.474,0,0,0,.713-0.04,5.9,5.9,0,0,0,.87-0.12,3.021,3.021,0,0,0,.336-0.069h0.01c0.258-.07.515-0.149,0.752-0.239a2.438,2.438,0,0,0,.287-0.109,6.945,6.945,0,0,0,.673-0.319,7.879,7.879,0,0,0,1.118-.706Zm3.6,5.033a0.98,0.98,0,0,1-.7-0.292L736.3,193.775a1,1,0,0,1,0-1.406,0.984,0.984,0,0,1,1.4,0l13.85,13.924a1,1,0,0,1,0,1.406A0.984,0.984,0,0,1,750.848,207.991Z" transform="translate(-736.031 -192.094)" fill-rule="evenodd"/>
                                    </svg>
                                </button>
                            </span>
                        </span>

                        <span class="block my-4">
                            <p>
                                By clicking
                                <strong>SUBMIT</strong>, you agree to our
                                <a href="#">Terms and Conditions</a> and
                                <a href="#">Privacy Policy</a>.
                            </p>
                        </span>

                        <span>
                            <button class="button default sm w-full">Submit</button>
                        </span>
                    </form>
                </span>
            </div>
        </div>
    </div>
</template>
