<template>
    <div>
        <div>
            <div class="flex items-center">
                <span class="mx-auto">
                    <span class="text-center block">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="mx-auto mb-2"
                            width="73.029"
                            height="73.029"
                            viewBox="0 0 73.029 73.029"
                        >
                            <g transform="translate(-17.726 -17.726)">
                                <path
                                    d="M164.515,128a36.515,36.515,0,1,0,36.515,36.515A36.558,36.558,0,0,0,164.515,128Zm18.508,28.778-19.777,19.777a3.04,3.04,0,0,1-4.3,0l-9.891-9.891a3.043,3.043,0,1,1,4.3-4.3L161.1,170.1l17.628-17.627a3.043,3.043,0,1,1,4.3,4.308Zm0,0"
                                    transform="translate(-110.274 -110.274)"
                                    fill="#7fef39"
                                />
                            </g>
                        </svg>
                        <h2 class="text-limeade font-bold text-2xl mb-2">Application Submitted</h2>
                        <p class="text-lg mb-6">
                            Thank you for your application, Ka-Suy Sing! Our Account Officer will get in touch with you soon.
                            <br />For orders, you may call us at (02) 8706 8888.
                        </p>
                        <a
                            href="#"
                            class="button default sm text-white mx-auto font-normal hover:no-underline px-16"
                        >Go to Homepage</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</template>
