<template>
    <div>
        <!-- Hero Small -->
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>

    <!-- End:Hero Small -->
    <div class="container about-suysing max-w-screen-900">
        <h3 class="text-2xl lg:text-4xl font-medium uppercase mb-3">About Us</h3>
        <p v-html="page.body"></p>
      <!-- <p>Suy Sing Commercial Corporation is the country’s leading one-stop grocery distribution company for over 70 years.</p>
        <div class="my-10 mx-auto lg:w-10/12">
            <div class="flex flex-col w-full lg:flex-row justify-center">
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-like.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <h3 class="text-4xl leading-tight">74</h3>
                        <p>Years</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-branches.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <h3 class="text-4xl leading-tight">10</h3>
                        <p>Branches</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-employees.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <h3 class="text-4xl leading-tight">700</h3>
                        <p>Employees</p>
                    </span>
                </span>
            </div>
            <div class="flex flex-col w-full lg:flex-row justify-center">
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-skus.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <h3 class="text-4xl leading-tight">4,000</h3>
                        <p>SKU’s</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-suppliers.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <h3 class="text-4xl leading-tight">300</h3>
                        <p>Suppliers</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-customers.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <h3 class="text-4xl leading-tight">15,000</h3>
                        <p>Customers</p>
                    </span>
                </span>
            </div>
        </div>
        <p
            class="mb-5"
        >We consolidate fast-moving consumer goods from local and multinational manufacturers and distribute them to businesses nationwide.</p>
        <p>
            Established in 1946, we started as a small store in Divisoria, the main trading center in the heart of Manila. Today, we have a dedicated
            Sales Team of more than 200 people who serve our accounts through telemarketing or via field. Distribution Centers in Isabela,
            Pangasinan, Meycauayan, Binondo, Paranaque, Taguig, Lipa City, Iloilo City, Cagayan de Oro and Davao City serve as strategic delivery
            hubs and convenient pick-up points.
        </p>

        <h3 class="text-4xl font-medium uppercase mb-3 mt-8">OUR CUSTOMERS</h3>
        <p class="mb-5">
            With over 7 decades of experience in serving the Filipino Grocer, we have developed long lasting partnerships with our customers, staying
            true to our commitment:
            <br />
            <strong class="font-body">We are the Grocer’s partner towards Success.</strong>
        </p>
        <p>
            As we expand our reach to different areas and business formats, we also continue to strengthen our clients’ trust as their source for
            wholesale grocery.
        </p>

        <div class="my-10 mx-auto w-10/12">
            <div class="flex flex-col w-full lg:flex-row justify-center">
                <span class="flex items-center justify-center p-8 px-12">
                    <img src="../../assets/img/ico-lg-grocery.svg" alt class="mr-8 w-20" />
                    <span>
                        <p>Groceries, Supermarkets, Minimarts, Convenience Stores</p>
                    </span>
                </span>
                <span class="flex items-center justify-center p-8 px-12">
                    <img src="../../assets/img/ico-lg-resellers.svg" alt class="mr-8 w-20" />
                    <span>
                        <p>Resellers, Exporters, Wholesalers</p>
                    </span>
                </span>
                <span class="flex items-center justify-center p-8 px-12">
                    <img src="../../assets/img/ico-lg-drugstores.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <p>Drugstores</p>
                    </span>
                </span>
            </div>
            <div class="flex flex-col w-full lg:flex-row justify-center">
                <span class="flex items-center justify-center p-8 px-12">
                    <img src="../../assets/img/ico-lg-drink.svg" alt class="mr-8 w-20" />
                    <span>
                        <p>Restaurants, Cafes, Catering Business</p>
                    </span>
                </span>
                <span class="flex items-center justify-center p-8 px-12">
                    <img src="../../assets/img/ico-lg-bottles.svg" alt class="mr-8 w-20" />
                    <span>
                        <p>Hotels, Hospitals, Institutions, Cooperative</p>
                    </span>
                </span>
            </div>
        </div>

        <h3 class="text-4xl font-medium uppercase mb-3 mt-8">OUR GUIDING PRINCIPLES</h3>

        <div class="my-10 mx-auto lg:w-10/12">
            <div class="flex flex-col w-full lg:flex-row justify-center">
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-excellence.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <p>Service Excellence</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img
                        src="../../assets/img/ico-lg-concern-for-people.svg"
                        alt
                        class="mr-8 w-20"
                    />
                    <span class="flex-grow">
                        <p>Concern for People</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-drugstores.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <p>Continuous Improvement</p>
                    </span>
                </span>
            </div>
            <div class="flex flex-col w-full lg:flex-row justify-center">
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-integrity.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <p>Integrity and Fairness</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-teamwork.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <p>Teamwork</p>
                    </span>
                </span>
                <span
                    class="flex items-center p-8 px-16 lg:w-1/3 justify-center lg:justify-between"
                >
                    <img src="../../assets/img/ico-lg-commitment.svg" alt class="mr-8 w-20" />
                    <span class="flex-grow">
                        <p>Commitment</p>
                    </span>
                </span>
            </div>
        </div>

        <h3 class="text-4xl font-medium uppercase mb-3 mt-8">OUR ’S’ COMMITMENT</h3>
        <p class="mb-5">
            We are passionate with our mission, and we have developed a symbol that speaks out of the commitment we have embraced for years -
            the ‘S’ Sign: right over left, close to the heart. With two hands joining to form the letter “S”, the S Sign is the symbol of Suy Sing’s
            commitment to Success in every aspect of the business.
        </p>
        <p class="mb-5">
            The ‘S’ campaign signifies Suy Sing’s over 70 years of service to our customers; an indication of our persistent commitment to Bring
            Success to Independent Grocers. By providing reliable service, nurturing relationships and giving premium to value and efficiency, Suy
            Sing goes hand-in-hand with customers to inspire and pave the way to success.
        </p>
        <p class="mb-5">
            Within our company, we ensure a nurturing work environment for our employees’ professional and personal growth. We believe that taking
            care of our team is best for strengthening our shared passion for excellence and delivering the best to our customers.
        </p>
        <p>We go the extra mile for our customers, our people, and our partners. We our committed into Bringing Success to All.</p> -->
        </div>
    </div>
</template>

<script>
import { HeroComponent } from "../common/index";
export default {
    name: "about-component",
    components: {
        HeroComponent
    },
    data() {
        return {
            page: {}
        };
    },
    async mounted() {
        if (!this.pagesContent["about-us"]) {
            await this.$store.dispatch("PAGE_STORE/getPageContent", "about-us");
        }
        this.page = this.pagesContent["about-us"];
    }
};
</script>
