<template>
    <div>
        <div v-if="!isLoading">
            <article class="container news-article my-8 max-w-screen-900">
                <span class="block mb-3">
                    <h1 class="text-2xl lg:text-4xl font-medium">{{article.title}}</h1>
                    <!-- <span class="block">by Admin</span>
                    <span class="block"><i class="ico-time mr-2 text-gray-500"></i>Updated 1610 PST June 27, 2020</span>-->
                </span>
                <!-- <figure v-if="article.banner">
                <img :src="article.banner.path" alt />
                </figure>-->
                <carousel-thumbnail-component
                    v-if="!_.isEmpty(slides)"
                    :show-thumbnail="slides.length > 1"
                    :show-main="true"
                    :slides="slides"
                ></carousel-thumbnail-component>
                <div class="clearfix">&nbsp;</div>
                <span>
                    <div v-html="article.body"></div>
                </span>

                <div class="clearfix">&nbsp;</div>
                <div class="text-center">
                      <router-link
                          class="button default sm"
                          :to="{name: 'news'}"
                      >
                        <span>
                            <i class="ico-arrow-l"></i>
                            Back to articles
                        </span>
                        </router-link>
                </div>
            </article>
            <!-- <news-list-component :related-articles="article.related_articles"></news-list-component>
            -->
        </div>
        <spinner-component v-else />
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { NewsListComponent } from "@components/about/index";
import { CarouselThumbnailComponent } from "@components/index";
export default {
    name: "news-detail-component",
    props: {
        articleId: [String, Number]
    },
    data() {
        return {
            slides: []
        };
    },
    components: {
        NewsListComponent,
        CarouselThumbnailComponent
    },
    async mounted() {
        if (this.articleId) {
            await this.$store.dispatch(
                "ARTICLE_STORE/getArticle",
                this.articleId
            );
        }
        this.$store.dispatch("ARTICLE_STORE/getArticles");
    },
    watch: {
        article(newValue) {
            this.slides = _.map(newValue.banners, banner => {
                return banner.path;
            });
        }
    },
    computed: {
        ...mapGetters({
            isLoading: "ARTICLE_STORE/isLoading",
            article: "ARTICLE_STORE/article",
            articles: "ARTICLE_STORE/articles"
        })
    }
};
</script>
