<template>
    <div>
        <div v-if="!isLoading">
            <hero-component
                v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
                :image-url="page.banner.path"
                :show-title="true"
                :content="page.short_description"
            ></hero-component>
            <span class="block mt-3"></span>
            <news-list-component></news-list-component>
        </div>
        <spinner-component v-else></spinner-component>
    </div>
</template>
<script>
import { HeroComponent } from "@components/common/index";
import NewsListComponent from "./news-list";
export default {
    name: "news-component",
    components: {
        HeroComponent,
        NewsListComponent
    },
    data() {
        return {
            page: {},
            isLoading: false
        };
    },
    async mounted() {
        if (!this.pagesContent["news"]) {
            this.isLoading = true;
            await this.$store.dispatch("PAGE_STORE/getPageContent", "news");
        }
        this.page = this.pagesContent["news"];
        this.isLoading = false;
    }
};
</script>
