<template>
    <div>
        <div v-if="!_.isEmpty(items)" class="blocks triple news">
            <router-link
                v-for="article in items"
                :key="article.id"
                :to="{name: 'news-details', params: {articleId: article.id}}"
            >
                <span class="thumb">
                    <img v-if="article.thumbnail" :src="article.thumbnail.path" alt />
                </span>
                <span class="info">
                    <div id="wrap">
                        <!-- <span v-if="article.featured" class="tag">Exclusive</span> -->
                        <h2 class="title">{{article.title}}</h2>
                        <span class="excerpt">
                            <div v-html="article.short_description"></div>
                        </span>
                        <!-- <span class="author">By Juan Dela Cruz</span> -->
                    </div>
                    <div id="bg" v-bind:style="{'background-color': article.description_bg}"></div>
                </span>
            </router-link>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    name: "news-list-component",
    props: {
        relatedArticles: Array
    },
    data() {
        return {
            items: []
        };
    },
    async mounted() {
        if (_.isEmpty(this.relatedArticles)) {
            await this.$store.dispatch("ARTICLE_STORE/getArticles");
            this.items = this.articles;
        } else {
            this.items = this.relatedArticles;
        }
    },

    computed: {
        ...mapGetters({
            isLoading: "ARTICLE_STORE/isLoading",
            articles: "ARTICLE_STORE/articles"
        })
    }
};
</script>
