<template>
    <div>
        <div v-if="!isLoading">
            <div v-if="!_.isEmpty(page)">
                <hero-component
                    v-if="!_.isEmpty(page.banner)"
                    :image-url="page.banner.path"
                    :show-title="true"
                    :content="page.short_description"
                ></hero-component>
                <div class="container mx-auto px-6 py-10 max-w-screen-900">
                    <div v-if="_.isEmpty($route.query)">
                        <h2 class="text-2xl lg:text-4xl font-medium uppercase mb-3">{{supplier}}</h2>
                        <p v-html="page.body"></p>
                        <div v-if="supplierType == 'trade-suppliers'">
                            <h4 class="uppercase font-bold text-xl mt-10 mb-5">Our Partners</h4>
                            <div class="trade-suppliers-partners">
                                <carousel-thumbnail-component
                                    v-if="partner.length === slides.length"
                                    :auto-play="true"
                                    :show-thumbnail="true"
                                    :slides="slides"
                                ></carousel-thumbnail-component>
                            </div>
                            <div>&nbsp;</div>
                        </div>
                        <div>&nbsp;</div>
                        <supplier-form></supplier-form>
                    </div>
                    <response-message-component v-else messageType="supplier"></response-message-component>
                </div>
            </div>
        </div>
        <spinner-component v-else></spinner-component>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import {
    HeroComponent,
    CarouselThumbnailComponent,
    ResponseMessageComponent
} from "@components/common/index";

import SupplierForm from "./supplier-form";
export default {
    name: "apply-supplier-component",
    props: {
        supplierType: String
    },
    components: {
        HeroComponent,
        SupplierForm,
        ResponseMessageComponent,
        CarouselThumbnailComponent
    },
    data() {
        return {
            page: {},
            queryParams: this.$route.query,
            slides: [],
            isLoading: false
        };
    },
    async mounted() {
        this.isLoading = true;
        let type = this.supplierType;
        if (!_.isEmpty(this.queryParams)) {
            type = this.queryParams.type;
        }
        if (!this.pagesContent[this.supplierType]) {
            await this.$store.dispatch("PAGE_STORE/getPageContent", type);
        }
        if (_.isEmpty(this.partner)) {
            await this.$store.dispatch("BANNER_STORE/getBanners", "partner");
        }
        _.forEach(this.partner, data => {
            this.slides.push(data.photo.path);
        });
        this.page = this.pagesContent[type];
        this.isLoading = false;
    },
    computed: {
        ...mapGetters({
            partner: "BANNER_STORE/partner"
        }),
        supplier() {
            return this.supplierType.split("-").join(" ");
        }
    }
};
</script>
