<template>
    <div>
        <b-form v-if="!isLoading" @submit.stop.prevent="submit">
            <article class="form">
                <h2 class="text-xl uppercase font-medium mb-4">Application Form</h2>

                <label for class="font-bold block field-company_name">
                    Company Name
                    <span class="text-red">*</span>
                </label>
                <b-form-input
                    name="company_name"
                    v-model="application.company_name"
                    class="w-full block py-2 px-3 border border-gray-200"
                    :class="{ error: _.isEmpty(application.company_name) && validate}"
                ></b-form-input>
                <label
                    v-if="_.isEmpty(application.company_name) && validate"
                    class="text-red block mt-1"
                >This field is required</label>
                <span class="field-contact_person" >
                    <label for class="font-bold block mt-5">
                        Contact Person
                        <span class="text-red">*</span>
                    </label>
                    <input
                        v-model="application.contact_person"
                        type="text"
                        class="w-full block py-2 px-3 border border-gray-200"
                        :class="{ error: _.isEmpty(application.contact_person) && validate}"
                    />
                    <label
                        v-if="_.isEmpty(application.contact_person) && validate"
                        class="text-red block mt-1"
                    >This field is required</label>
                </span>
                <span class="field-contact_designation" >
                    <label for class="font-bold block mt-5">
                        Designation
                        <span class="text-red">*</span>
                    </label>
                    <input
                        v-model="application.contact_designation"
                        type="text"
                        class="w-full block py-2 px-3 border border-gray-200"
                        :class="{ error: _.isEmpty(application.contact_designation) && validate}"
                    />
                    <label
                        v-if="_.isEmpty(application.contact_designation
                        ) && validate"
                        class="text-red block mt-1"
                    >This field is required</label>
                </span>
                <span class="field-email" >
                    <label for class="font-bold block mt-5">
                        Email Address
                        <span class="text-red">*</span>
                    </label>
                    <input
                        v-model="application.email"
                        type="email"
                        placeholder="ex. juan.delacruz@gmail.com"
                        class="w-full block py-2 px-3 border border-gray-200"
                        :class="{ error: (_.isEmpty(application.email) || !$validateEmail(application.email)) && validate}"
                    />
                    <label
                        v-if="(_.isEmpty(application.email) || !$validateEmail(application.email)) && validate"
                        class="block text-red mt-1 mb-5"
                    >Please provide a valid email</label>
                </span>
                <span class="field-mobile" >
                    <label for class="mt-5 font-bold block mt-5">
                        Mobile Number
                        <span class="text-red">*</span>
                    </label>
                    <input
                        v-model="application.mobile"
                        placeholder="ex. +63 915 826 7281"
                        v-mask="PhoneMaskFormat"
                        type="text"
                        class="w-full block py-2 px-3 border border-gray-200"
                        :class="{ error: (_.isEmpty(application.mobile) || invalidMobile) && validate}"
                    />
                    <label
                        v-if="(_.isEmpty(application.mobile) || invalidMobile) && validate"
                        class="text-red block mt-1"
                    >{{!_.isEmpty(application.mobile) ? ErrorMessage.Mobile:'This field is required'}}</label>
                </span>
                <span class="field-address" >
                    <label for class="font-bold block mt-5">
                        Business Address
                        <span class="text-red">*</span>
                    </label>
                    <input
                        v-model="application.address"
                        class="w-full block py-2 px-3 border border-gray-200"
                        :class="{ error: _.isEmpty(application.address) && validate}"
                        type="text"
                    />
                    <label
                        v-if="_.isEmpty(application.address) && validate"
                        class="text-red block mt-1"
                    >This field is required</label>
                </span>

                <!-- Document requirements for Trade Suppliers -->
                <div class="mt-8 field-documents" >
                    <h3 class="block font-bold mb-2">
                        Submit the following documents, whichever is applicable:
                        <span
                            class="text-red"
                        >*</span>
                    </h3>
                    <label
                        v-if="!fileNames && validate"
                        class="text-red block mt-1"
                    >This field is required</label>

                    <ol class="list-decimal ml-8 mb-4">
                        <li class="py-2">Company profile</li>
                        <li
                            class="py-2"
                        >Government-issued permits (e.g. SEC, DTI Certificate, Mayor’s Permit, BIR 2303, etc.)</li>
                        <li class="py-2">Samples of Sales Invoice and /or Official Receipt</li>
                        <li
                            class="py-2"
                        >Comprehensive Product Listing (Include Prices, Packaging Info, Promo Deals, etc.)</li>
                    </ol>
                    <br />

                    <files-uploader-component v-model="fileNames"></files-uploader-component>
                </div>

                <span class="terms mb-5">
                    <input type="checkbox" id="_terms" v-model="application.agree" />
                    <label for="_terms">
                        I have read and agree to the
                        <router-link
                            target="_blank"
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-terms-and-conditions'}}"
                        >Terms and Conditions</router-link>,
                        <router-link
                            target="_blank"
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-privacy-policy'}}"
                        >Data Policy</router-link>, and
                        <router-link
                            target="_blank"
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-cookie-use'}}"
                        >Cookie Use</router-link>.
                    </label>
                </span>
                <span class="block text-center">
                    <button
                        class="button default sm w-full sm:w-auto text-white"
                        type="submit"
                        @click="validate = true"
                    >Submit</button>
                </span>
            </article>
        </b-form>

        <spinner-component v-else />
    </div>
</template>

<script>
/* eslint-disable no-undef */
import { mapGetters, mapMutations } from "vuex";
import $ from "jquery";
import { PhoneMaskFormat, ErrorMessage } from "@interfaces/enum";
import { FilesUploaderComponent } from "@components/common/index";
export default {
    name: "supplier-form-component",
    components: {
        FilesUploaderComponent
    },
    data() {
        return {
            PhoneMaskFormat: PhoneMaskFormat,
            ErrorMessage: ErrorMessage,
            product_category: {},
            supplierType: this.$route.params.supplierType,
            formData: new FormData(),
            fileNames: null,
            validate: false
        };
    },
    async mounted() {
        this.resetApplicationForm({});
    },
    methods: {
        submit() {
            let error = 0;

            let keys = [
                "company_name",
                "contact_person",
                "contact_designation",
                "email",
                "mobile",
                "address"
            ];

            for (let i = 0; i < keys.length; i++) {
                if (_.isEmpty(this.application[keys[i]])) {
                    $("html, body").animate({scrollTop: $(`.field-${keys[i]}`).offset().top - 80, scrollLeft: 0}, 300);
                    return false;
                }
            }

            if (!this.$validateEmail(this.application.email)) {
                $("html, body").animate({scrollTop: $(".field-email").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }
            if (error || this.invalidMobile) {
                $("html, body").animate({scrollTop: $(".field-mobile").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }
            if (!this.fileNames) {
                $("html, body").animate({scrollTop: $(".field-documents").offset().top - 80, scrollLeft: 0}, 300);
                return false;
            }

            this.formData = new FormData();
            this.application.type = _.replace(
                this.supplierType,
                "-suppliers",
                ""
            );

            this.application.mobile = this.application.mobile.replace(/ /g, "");

            for (const i in this.application) {
                this.formData.append(i, this.application[i]);
            }
            for (var i = 0; i < this.fileNames.length; i++) {
                let file = this.fileNames[i];
                this.formData.append("documents[]", file);
            }

            this.$store.dispatch("APPLICATION_STORE/submitApplication", {
                type: "supplier",
                data: this.formData
            });
        },

        ...mapMutations({
            resetApplicationForm: "APPLICATION_STORE/setApplication"
        })
    },
    computed: {
        ...mapGetters({
            isLoading: "APPLICATION_STORE/isLoading",
            application: "APPLICATION_STORE/application",
            categoryLoading: "CATEGORY_STORE/isLoading",
            categories: "CATEGORY_STORE/categories"
        }),
        invalidMobile() {
            return !Methods.validLength(this.application.mobile, 10);
        },
        banner() {
            return this.supplierType === "non-trade-suppliers"
                ? "BE_A_SUPPLIER_2_DESKTOP"
                : "BE_A_SUPPLIER_1_DESKTOP";
        }
    }
};
</script>
