<template>
    <div>
        <carousel :data="banners" :controls="false"></carousel>
        <customer-review-component :is-home="true" :reviews="testimonials" />
        <promotion-featured-list-component></promotion-featured-list-component>
    </div>
</template>
<script>
import {
    CustomerReviewComponent,
    HeroLgComponent,
    CardComponent
} from "@components/common/index";
import { PromotionFeaturedListComponent } from "@components/products/index";
import { mapGetters } from "vuex";
export default {
    name: "home",
    components: {
        CustomerReviewComponent,
        HeroLgComponent,
        CardComponent,
        PromotionFeaturedListComponent
    },
    mounted() {
        this.$store.dispatch("TESTIMONIAL_STORE/getTestimonials");
        this.$store.dispatch("BANNER_STORE/getBanners", "banner");
    },
    methods: {
        onCLickTiles(item) {}
    },
    computed: {
        ...mapGetters({
            isLoading: "TESTIMONIAL_STORE/isLoading",
            testimonials: "TESTIMONIAL_STORE/testimonials",
            cardImages: "BANNER_STORE/banner",
            promotions: "PROMOTION_STORE/promotions"
        }),
        banners() {
            if (this.cardImages) {
                return this.$setBanner("lg", this.cardImages);
            }
        }
    }
};
</script>
