<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>

        <div class="container mx-auto px-6 py-10 max-w-screen-900">
            <h2 class="text-4xl font-medium uppercase mb-6">Frequently Asked Questions (FAQ)</h2>

            <ol class="faq-list" v-if="!isLoading">
                <li v-for="faq in faqs" :key="faq.id">
                    <details>
                        <summary>{{faq.title}}</summary>
                        <div v-html="faq.body"></div>
                    </details>
                </li>
            </ol>
            <div v-else>
                <spinner-component />
            </div>
        </div>
    </div>
</template>

<script>
import { HeroComponent } from "@components/common/index";
import { mapGetters } from "vuex";
export default {
    name: "faq-list-component",
    components: {
        HeroComponent
    },
    data() {
        return {
            page: {}
        };
    },
    async mounted() {
        this.$store.dispatch("FAQ_STORE/getFaqs");
        if (!this.pagesContent["frequently-asked-questions-faqs"]) {
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "frequently-asked-questions-faqs"
            );
        }
        this.page = this.pagesContent["frequently-asked-questions-faqs"];
    },
    computed: {
        ...mapGetters({
            isLoading: "FAQ_STORE/isLoading",
            faqs: "FAQ_STORE/faqs"
        })
    }
};
</script>
