<template>
    <div>
        <!-- Hero Small -->
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>
        <!-- End:Hero Small -->

        <div class="container mx-auto px-6 py-10">
            <h2 class="text-2xl lg:text-4xl font-medium uppercase mb-3">Suy Sing Branches</h2>
            <div class="flex flex-wrap">
                <div class="w-full mb-10 xl:w-1/3 md:pr-10 xl:mb-0">
                    <ul v-if="!isLoading" class="branch-list">
                        <li
                            v-for="item in branches"
                            :key="item.id"
                            :class="{active: selected === item.id}"
                        >
                            <div class="cursor-pointer" @click="onBranchClicked(item)">
                                <h5
                                    class="block uppercase text-purple-600 text-lg font-medium"
                                >{{item.name}}</h5>
                                <div>{{item.address}}</div>
                                <div>
                                    <strong>Hotline:</strong>
                                    {{item.hotline_no || 'N/A' }}
                                </div>
                                <div style="width: 60%">
                                    <strong>Mobile:</strong>
                                    {{item.contact_no}}
                                </div>
                                <div>
                                    <strong>Store Hours:</strong>
                                    <p>{{ item.schedule || 'N/A'}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <spinner-component v-else />
                </div>
                <div class="w-full xl:w-2/3">
                    <div>
                        <div class="mapouter">
                            <div v-if="currentBranch" class="gmap_canvas">
                                <iframe
                                    class="w-full"
                                    width="auto"
                                    height="500"
                                    id="gmap_canvas"
                                    :src="currentBranch"
                                    @load="load"
                                    v-show="loaded"
                                    frameborder="0"
                                    scrolling="no"
                                    marginheight="0"
                                    marginwidth="0"
                                ></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import { HeroComponent } from "../common/index";
export default {
    name: "branch-component",
    components: {
        HeroComponent
    },
    data() {
        return {
            currentBranch: {},
            selected: null,
            loaded: false,
            page: {}
        };
    },
    async mounted() {
        if (_.isEmpty(this.branches)) {
            await this.$store.dispatch("BRANCH_STORE/getBranches");
        }
        this.onBranchClicked(this.branches[0]);
        if (!this.pagesContent["branches"]) {
            await this.$store.dispatch("PAGE_STORE/getPageContent", "branches");
        }
        this.page = this.pagesContent["branches"];
    },
    methods: {
        onBranchClicked(branch) {
            const currentBranch = branch;
            this.currentBranch = currentBranch.map_coordinate.map;
            this.selected = branch.id;
        },
        load: function() {
            this.loaded = true;
        }
    },
    computed: {
        ...mapGetters({
            isLoading: "BRANCH_STORE/isLoading",
            branches: "BRANCH_STORE/branches"
        })
    }
};
</script>
