<template>
    <div class="search-results container mx-auto px-6">
        <div v-if="!searchIsLoading">
            <div class="w-full text-center p-6 pb-0 text-lg">
                Search results for “
                <strong>{{keyword}}</strong>”
            </div>
            <div class="mb-5">
                <brand-tiles-component
                    v-if="!searchIsLoading"
                    :products="searchResult"
                    :is-loading="searchIsLoading"
                    :is-searching="true"
                    :show-title="false"
                    @onPaginate="onPaginate($event)"
                ></brand-tiles-component>
            </div>
        </div>
        <spinner-component v-else />
    </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapGetters } from "vuex";
import {
    BrandTilesComponent,
    PromotionTilesComponent
} from "@components/common/index";
export default {
    name: "search-results-component",
    props: { keyword: String },
    components: {
        BrandTilesComponent,
        PromotionTilesComponent
    },
    data() {
        return {
            page: 1
        };
    },
    methods: {
        async searchItemByKeyword() {
            await this.$store.dispatch("UTILITIES_STORE/onSearchByKeyword", {
                keyword: this.keyword,
                branch: this.$branchCode,
                page: this.page
            });
        },
        onPaginate(event) {
            this.page = event;
            this.searchItemByKeyword();
        }
    },
    async mounted() {
        await this.searchItemByKeyword();
        if (
            _.isEmpty(this.searchResult.data) &&
            this.$route.name === "search-result"
        ) {
            this.$router.push({
                name: "search-result-empty"
            });
        }
    },
    computed: {
        ...mapGetters({
            searchIsLoading: "UTILITIES_STORE/isLoading",
            searchResult: "UTILITIES_STORE/searchResult"
        })
    }
};
</script>
