<template>
    <div v-if="!_.isEmpty(items)">
        <tabs>
            <tab
                v-for="(item, index) in items"
                :key="item.id"
                :name="item.po_number"
                :selected="index == 0"
            ></tab>
        </tabs>
    </div>
</template>

<script>
import Tab from "./tab";
import Tabs from "./tabs";
import { mapGetters, mapMutations } from "vuex";
export default {
    name: "tabs-component",
    components: {
        tab: Tab,
        tabs: Tabs
    },
    props: {
        items: Array
    },
    computed: {
        ...mapGetters({
            gettingOrders: "ORDER_STORE/gettingOrders",
            purchaseOrders: "ORDER_STORE/purchaseOrders"
        })
    },
    methods: {
        ...mapMutations({
            setOrder: "USER_STORE/setOrderDetails"
        })
    }
};
</script>
