<template>
    <div>
        <nav class="bg-white">
            <div class="-mb-px flex">
                <span
                    v-for="tab in tabs"
                    class="tabs-name border-b-2 text-medium no-underline py-3 cursor-pointer"
                    :class="{ 'tabs-name-active': tab.isActive }"
                    @click="selectTab(tab)"
                    :key="tab.name"
                >{{tab.name}}</span>
            </div>
        </nav>

        <div class="tabs-details">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "tabs",
    data() {
        return { tabs: [] };
    },
    created() {
        this.tabs = this.$children;
    },
    methods: {
        selectTab(selectedTab) {
            this.tabs.forEach(tab => {
                tab.isActive = tab.name === selectedTab.name;
            });
        }
    }
};
</script>
