<template>
    <div>
        <div id="alert_ticker">
            <span>
                <p class="inline" v-html="option.value"></p>
            </span>
            <button id="hide_ticker">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                    <g fill="#ffffff">
                        <g
                            id="Icons"
                            stroke="none"
                            stroke-width="1"
                            fill="none"
                            fill-rule="evenodd"
                        >
                            <g id="Outlined" transform="translate(-649 -3437)">
                                <g id="Navigation" transform="translate(100 3378)">
                                    <g
                                        id="Outlined-/-Navigation-/-close"
                                        transform="translate(544 54)"
                                    >
                                        <path id="Path" d="M0 0h24v24H0z" />
                                        <path
                                            id="🔹-Icon-Color"
                                            fill="#ffffff"
                                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                                        />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "alert-component",
    async mounted() {
        await this.$store.dispatch(
            "OPTIONS_STORE/getOptions",
            "flash-sale-copy"
        );
    },
    computed: {
        ...mapGetters({
            option: "OPTIONS_STORE/option",
            isLoading: "OPTIONS_STORE/isLoading"
        })
    }
};
</script>
