<template>
    <div id="filters-div" class="hidden">
        <div
            class="md:hidden p-5 py-3 flex items-end sticky justify-end w-full z-50 top-0"
            style="background-color: #f5fafe;"
        >
            <span id="filters_toggle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                    <g class="nc-icon-wrapper">
                        <defs />
                        <g id="Layer-11" data-name="Layer">
                            <path
                                class="cls-1"
                                d="M4.93 19.07a1 1 0 0 1 0-1.41L17.66 4.93a1 1 0 1 1 1.41 1.41L6.34 19.07a1 1 0 0 1-1.41 0z"
                                style
                                fill="#4A4A4A"
                            />
                            <path
                                class="cls-1"
                                d="M4.93 4.93a1 1 0 0 1 1.41 0l12.73 12.73a1 1 0 1 1-1.41 1.41L4.93 6.34a1 1 0 0 1 0-1.41z"
                                style
                                fill="#0e1317"
                            />
                        </g>
                    </g>
                </svg>
            </span>
        </div>
        <div
            class="md:hidden p-5 py-3 flex items-stretch fixed w-full z-50 bottom-0"
            style="background-color: #f5fafe;"
        >
            <button id="filters_toggle" class="button default sm w-full">Done</button>
        </div>
        <div class="sidebar filters">
            <div>
                <span class="flex justify-between px-3 mb-3 text-lg md:text-base">
                    <h4 class="font-bold">Filter by</h4>
                    <button @click="resetFilters" class="button default sm py-2 lg:w-auto sm:w-auto" >Reset Filters</button>
                </span>
                <span class="block relative px-3">
                    <span v-for="(filter, index) in filterOptions" :key="index" class="block">
                        <input
                            type="checkbox"
                            name="filter"
                            :id="filter.value"
                            :checked="_.includes(filters, filter.value)"
                            @click="onFilterItems(filter.value)"
                        />
                        <label :for="filter.value" class="font-medium">{{filter.text}}</label>
                    </span>
                </span>
            </div>
            <hr class="mx-3 my-5" />
            <div v-if="!isLoading">
                <span class="flex justify-between px-3 mb-3 text-lg md:text-base">
                    <h4 class="font-bold">Category List</h4>
                </span>
                <span
                    id="category-list"
                    class="category-list relative overflow-auto"
                    :style="{'max-height': `${brandTilesHeight}px`}"
                >
                    <span v-for="item in items" :key="item.code">
                        <details :open="isParentSelected(item.description)">
                            <summary
                                class="parent-category parent"
                                v-if="!_.isEmpty(item.sub_category)"
                            >
                                <span
                                    :class="{active: isParentSelected(item.description)}"
                                >{{item.description | capitalize}}</span>
                                <i class="ico-arrow-r"></i>
                            </summary>
                            <summary
                                v-else
                                class="parent-category children"
                                @click="filterItemsByCategory(item, item)"
                            >
                                <span
                                    :class="{active: isParentSelected(item.description)}"
                                >{{item.description | capitalize}}</span>
                            </summary>

                            <span
                                v-for="sub_item in item.sub_category"
                                :key="sub_item.code"
                                class="block"
                            >
                                <input
                                    type="radio"
                                    name="prod_cat"
                                    :id="sub_item.code"
                                    :checked="isSubSelected(sub_item.code)"
                                />
                                <label
                                    @click="filterItemsByCategory(sub_item, item)"
                                    :for="sub_item.code"
                                    class="font-medium"
                                >{{sub_item.description | capitalize}}</label>
                            </span>
                        </details>
                    </span>
                </span>
            </div>
            <spinner-component v-else />
        </div>
        <restriction-modal :onShow="showModal" v-model="showModal" @onProceed="onProceed"></restriction-modal>
    </div>
</template>

<script>
import { RestrictionModal } from "@components/common/modal/index";
import { mapMutations, mapGetters } from "vuex";
export default {
    name: "brand-filter-component",
    components: {
        RestrictionModal
    },
    data() {
        return {
            category: {},
            showModal: false,
            filterOptions: [
                { value: "promoted", text: "Promoted Items" },
                { value: "top-selling", text: "Bestsellers" },
                { value: "house-brand", text: "House Brand Items" },
                { value: "full-case", text: "Full Case Items" },
                { value: "break-case", text: "Breakcase Items" }
            ],
            filters: [],
            query: {}
            // brandTilesHeight: 250
        };
    },
    props: {
        isLoading: Boolean,
        categories: Array
    },
    watch: {
        products: {
            deep: true,
            async handler() {
                this.getProductTilesHeight();
            }
        },
        async productsView() {
            this.getProductTilesHeight();
        },
        async productIsLoading() {
            this.getProductTilesHeight();
        },
        stateFilters(newValue) {
            this.filters = !_.isEmpty(newValue) ? newValue : [];
        }
    },
    mounted() {
        if (this.logged_in) {
            this.filterOptions.push({
                value: "favorite",
                text: "My Favorites"
            });
        }
        this.filters = _.isEmpty(this.$route.query.filters)
            ? []
            : this.$route.query.filters;
        this.filters = _.isArray(this.filters) ? this.filters : [this.filters];
    },
    methods: {
        getProductTilesHeight() {
            const filterSectionDOM = document.getElementById("item_height");
            let brandTilesHeight;
            if (filterSectionDOM) {
                brandTilesHeight = filterSectionDOM.offsetHeight;
            }
            this.setBrandTilesHeight(brandTilesHeight);
        },
        filterItemsByCategory(category, parentCategory) {
            this.category = category;
            this.category.parentCategory = parentCategory.description;

            const notForMinors = ["LIQUO01", "CIGAR01"];

            if (
                _.includes(notForMinors, parentCategory.code) &&
                !this.logged_in
            ) {
                this.showModal = true;
                return;
            }
            this.onProceed();
        },
        onProceed() {
            if (this.$route.query.category !== this.category.code) {
                this.query.category = this.category.code;
                this.onGetItems();
            }
        },
        onFilterItems(filter) {
            let removing = false;
            if (_.includes(this.filters, filter)) {
                _.pull(this.filters, filter);
                removing = true;
            } else {
                this.filters.push(filter);
                this.filters = _.uniq(this.filters);
            }
            this.query.filters = this.filters;
            this.$route.query.filters = this.filters;

            this.setUrlQuery({
                name: this.$route.name, // put your route information in
                params: this.$route.params, // put your route information in
                query: this.$route.query // put your route information in
            });

            this.setFilters({ filters: this.filters, removing, filter });
        },
        onGetItems() {
            if (!_.isEmpty(this.stateFilters)) {
                this.query.filters = !_.isEmpty(this.stateFilters)
                    ? this.stateFilters
                    : null;
            }

            this.$router.push({
                name: "brands-category",
                params: {
                    branchCode: this.$route.params.branchCode,
                    parentCategory: this.category.parentCategory
                },
                query: this.query
            });
        },
        setUrlQuery(params) {
            let r = this.$router.resolve(params);
            history.pushState({}, null, r.href);
        },
        isParentSelected(name) {
            return name === this.$route.params.parentCategory;
        },
        isSubSelected(code) {
            return code === this.$route.query.category;
        },
        resetFilters() {
            if (!_.isEmpty(this.filters)) {
                this.setFilters([]);
                this.filters = [];
                this.setUrlQuery({
                    name: this.$route.name,
                    params: this.$route.params,
                    query: {}
                });
            }

            if (this.$route.name === "brands-category") {
                this.$router.push({
                    name: "brands-branch",
                    params: {
                        branchCode: this.logged_in
                            ? this.personal_token.info.default_branch_code
                            : ""
                    }
                });
            }
        },
        ...mapMutations({
            setFilters: "PRODUCT_STORE/setFilters",
            setBrandTilesHeight: "PRODUCT_STORE/setBrandTilesHeight"
        })
    },
    computed: {
        items() {
            let items = _.clone(this.categories);
            // items = _.map(this.categories, cat => {
            //     if (!_.isEmpty(cat.sub_category)) {
            //         cat.sub_category = _.filter(cat.sub_category, function(
            //             sub
            //         ) {
            //             if (sub.code !== cat.code) {
            //                 return sub;
            //             }
            //         });
            //     }

            //     return cat;
            // });
            return items;
        },
        ...mapGetters({
            stateFilters: "PRODUCT_STORE/filters",
            products: "PRODUCT_STORE/products",
            productsView: "PRODUCT_STORE/productsView",
            productIsLoading: "PRODUCT_STORE/isLoading",
            brandTilesHeight: "PRODUCT_STORE/brandTilesHeight"
        })
    }
};
</script>
