<template>
    <div>
        <div class="pb-6 flex flex-col md:flex-row justify-between" :class="{'p-6': showTitle}">
            <div v-if="showTitle">
                <h2 id="product-title" class="text-2xl lg:text-4xl font-medium uppercase mb-3">Product List</h2>
                <div v-if="logged_in">
                    <p
                        v-if="personal_token.info.default_transaction_type === 'PICK-UP'"
                        class="block text-xl text-gray-800"
                    >Your orders are for pick up at {{defaultBranch.name | capitalize}} branch.</p>
                    <!-- Copy for Delivery -->
                    <p
                        v-if="personal_token.info.default_transaction_type === 'DEL'"
                        class="block text-xl text-gray-800"
                    >Your orders will be delivered to {{address | capitalize}}.</p>
                    <!-- Copy for Pick-up -->
                </div>
                <em
                    class="block text-gray-500"
                >Item availability, promos and prices may vary per branch.*</em>
            </div>
            <div v-else>
                <h3 class="font-bold text-lg">Products</h3>
            </div>
            <div class="flex items-center w-full md:inline-block md:w-auto">
                <span class="view_options">
                    <span>
                        <input
                            type="radio"
                            name="view_type"
                            id="grid"
                            @click="setProductView('grid')"
                            :checked="productsView === 'grid'"
                        />
                        <label for="grid">
                            <i class="ico-grid"></i>
                            <span>Grid</span>
                        </label>
                    </span>
                    <span>
                        <input
                            type="radio"
                            name="view_type"
                            id="list"
                            @click="setProductView('list')"
                            :checked="productsView === 'list'"
                        />
                        <label for="list">
                            <i class="ico-list"></i>
                            <span>List</span>
                        </label>
                    </span>
                    <span class="filter_options flex items-center md:hidden">
                        <input type="checkbox" id="filters" />
                        <label for="filters" id="filters_toggle">
                            <i class="ico-filter"></i>
                            <span>Filter by</span>
                        </label>
                    </span>
                </span>
            </div>
        </div>
        <branch-modal
            v-if="modalData"
            :data="modalData"
            :onShow="showModal"
            v-model="showModal"
            @onChangeBranch="goToBranch"
        ></branch-modal>
        <branch-success-modal
            v-if="modalDataSuccess"
            :data="modalDataSuccess"
            :onShow="showModalSuccess"
            v-model="showModalSuccess"
        ></branch-success-modal>
    </div>
</template>

<script>
/* eslint-disable camelcase */
import { mapGetters, mapMutations } from "vuex";
import {
    BranchModal,
    BranchSuccessModal
} from "@components/common/modal/index";
export default {
    name: "brand-nav-component",
    components: {
        BranchModal,
        BranchSuccessModal
    },
    props: {
        showTitle: Boolean
    },
    data() {
        return {
            branch: _.clone(this.$route.params.branchCode),
            modalData: {},
            showModal: false,
            modalDataSuccess: {},
            showModalSuccess: false,
            defaultBranch: {},
            newBranch: ""
        };
    },
    async mounted() {
        if (_.isEmpty(this.branches)) {
            await this.$store.dispatch("BRANCH_STORE/getBranches");
        }
        this.defaultBranch = _.find(this.branches, {
            branch_code: this.branch
        });
    },
    methods: {
        onSelectBranch() {
            this.newBranch = this.branch;
            if (_.isEmpty(this.cartItems)) {
                this.goToBranch();
                return;
            }
            const oldBranch = _.find(this.branches, {
                branch_code: this.$route.params.branchCode
            });
            this.defaultBranch = _.find(this.branches, {
                branch_code: this.branch
            });
            this.modalData = this.defaultBranch;
            this.modalData.warning = true;
            this.showModal = true;

            this.branch = oldBranch.branch_code;
        },
        async goToBranch() {
            this.branch = this.newBranch;
            const branch = _.find(this.branches, {
                branch_code: this.branch
            });
            this.modalDataSuccess = { success: true, branch, navigate: true };
            this.showModalSuccess = true;
        },
        ...mapMutations({
            setProductView: "PRODUCT_STORE/setProductsView"
        })
    },
    computed: {
        ...mapGetters({
            isLoading: "BRANCH_STORE/isLoading",
            branches: "BRANCH_STORE/branches",
            productsView: "PRODUCT_STORE/productsView"
        }),
        address() {
            const { ship_tos, default_ship_to_id } = this.personal_token.info;
            if (_.isEmpty(ship_tos)) {
                return "";
            }
            let addressObject = {};
            _.forEach(ship_tos, address => {
                // eslint-disable-next-line eqeqeq
                if (address.ship_to_id == default_ship_to_id) {
                    addressObject = address;
                }
            });
            return _.isEmpty(addressObject) ? "" : addressObject.address;
        }
    }
};
</script>
