
<template>
    <div>
        <div
            v-show="!isLoading && doneProcessing"
            id="products-container"
            class="products-container order-2 md:order-3"
        >
            <div
                v-if="!_.isEmpty(productList)"
                id="prod-viewType"
                class="product-list overflow-y-auto"
                :class="{ listView: productsView === 'list'}"
                :style="{ 'max-height': isSearching ? '1280px' : '100%' }"
            >
                <ul id="item_height" ref="item_height">
                    <li v-for="product in productList" :key="product.item.id">
                        <a class="cursor-pointer">
                            <span
                                v-if="logged_in"
                                class="add-to-favorites"
                                @click.prevent.stop="onProductFavorite(product)"
                            >
                                <input
                                    type="checkbox"
                                    :id="product.id+'_a'"
                                    :checked="$itemFavorite(product)"
                                />
                                <label :for="product.id+'_a'">
                                    <i class="ico-heart"></i>
                                </label>
                            </span>
                            <div @click="onShowModal(product)" class="full_desc">
                                <span v-if="$itemPromo(product)" class="ribbon">Promo</span>

                                <span class="prod_img">
                                    <img :src="product.item.photo.medium_thumbnail" alt />
                                </span>
                                <span class="prod_desc">
                                    <div class="w-full">
                                        <p
                                            v-if="$userHasPermission(PermissionNames.ViewProductPrice)"
                                            id="amount"
                                            class="text-lg font-bold text-purple-500"
                                        >&#8369; {{product.price}}</p>
                                        <p
                                            class="text-gray-800"
                                            id="item-code"
                                        >{{product.item.code}}</p>
                                        <p class id="description">{{product.item.description}}</p>
                                    </div>
                                </span>
                            </div>

                            <div v-if="hasCartPermission" class="btns-container">
                                <span v-if="!product.isLoading" class="prod-btns z-10">
                                    <button
                                        v-if="!alreadyInCart(product)"
                                        @click="onAddToCart(product)"
                                        class="add-to-cart"
                                    >Add to Cart</button>
                                    <quantity-picker-component
                                        v-else
                                        :item="product"
                                        @onChangeQuantity="onChangeQuantity($event)"
                                    />
                                </span>
                                <spinner-component v-else />
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <pagination-component
                v-if="products.meta && (!_.isEmpty(products.data))"
                :meta="products.meta"
                @onPaginate="onPaginate($event)"
            ></pagination-component>
            <div v-else class="container mx-auto px-6 py-10">
                <div class="order-summary">
                    <div class="text-center">
                        <p>No Item Found.</p>
                    </div>
                </div>
            </div>
        </div>
        <spinner-component v-if="isLoading && !doneProcessing" />
        <product-info-modal
            v-if="modalData"
            :data="modalData"
            :onShow="showModal"
            v-model="showModal"
            @onAddToCart="onAddToCart($event)"
            @onChangeQuantity="onChangeQuantity($event)"
            @onProductFavorite="onProductFavorite($event)"
        ></product-info-modal>
    </div>
</template>

<script>
/* eslint-disable no-undef */
/* eslint-disable no-unused-vars */
/* eslint-disable camelcase */
/* eslint-disable indent */
import { mapGetters, mapMutations } from "vuex";
import { PaginationComponent, QuantityPickerComponent } from "./index";
import { ProductInfoModal } from "./modal/index";
import { Toast } from "@interfaces/swal";
export default {
    name: "brand-tiles-component",
    props: {
        products: [Object, Array],
        isLoading: Boolean,
        isLoadingFavorite: Boolean,
        showTitle: {
            type: Boolean,
            default: true
        },
        isSearching: {
            type: Boolean,
            default: false
        },
        getPromos: { type: Boolean, default: true }
    },
    components: {
        PaginationComponent,
        ProductInfoModal,
        QuantityPickerComponent
    },
    data() {
        return {
            currentPage: 1,
            modalData: {},
            showModal: false,
            renderComponent: false,
            doneProcessing: false,
            orientation: "",
            productList: []
        };
    },

    watch: {
        async productsView() {
            this.getProductTilesHeight();
        },

        doneProcessing() {
            this.getProductTilesHeight();
        }
    },
    async mounted() {
        await this.setupProducts();
        this.setBrandTilesHeight();
        this.doneProcessing = true;
    },
    methods: {
        getProductTilesHeight() {
            this.$nextTick(() => {
                let height = !this.$refs.item_height
                    ? 250
                    : this.$refs.item_height.clientHeight;
                this.setBrandTilesHeight(height);
            });
        },
        ...mapMutations({
            setProductView: "PRODUCT_STORE/setProductsView",
            setBrandTilesHeight: "PRODUCT_STORE/setBrandTilesHeight"
        }),
        onPaginate(page) {
            this.$emit("onPaginate", page);
        },
        async onAddToCart(product) {
            const { item_code, price, quantity, branch_code, code } = product;
            this.loadItem(product.id, true);
            const {
                default_payment_code,
                default_ship_to_id,
                default_transaction_type
            } = this.personal_token.info;

            let itemCode = !item_code ? code : item_code;

            const params = {
                branch_code,
                transaction_type: default_transaction_type,
                payment_code: default_payment_code,
                ship_to_id: default_ship_to_id,
                item_code: itemCode,
                price: _.trim(price, " PHP")
            };

            const response = await this.$store.dispatch(
                "CART_STORE/addToCart",
                params
            );
            if (response.success && this.showModal) {
                this.modalData.ref = response.cart_item.ref;
                this.modalData = this.modalData;
                product.inCart = true;
            } else {
                Toast.fire({
                    icon: "info",
                    title: response.message
                });
                product.inCart = false;
            }
            this.loadItem(product.id, false);
        },
        onShowModal(item) {
            if (
                !this.$userHasPermission(this.PermissionNames.PlaceOrderOnline)
            ) {
                return false;
            }
            this.showModal = true;
            item.editable = true;
            item.alreadyInCart = this.alreadyInCart(item);
            this.modalData = _.clone(item);
        },
        async onProductFavorite(product) {
            this.loadItemFavorite(product.id, true);

            const { branch_code, item_code, code } = product;
            let favorite = product.item.favorite;
            let itemCode = !item_code ? code : item_code;
            let branchCode = !branch_code
                ? this.personal_token.info.default_branch_code
                : branch_code;

            await this.$store.dispatch("PRODUCT_STORE/favoriteProduct", {
                branch_code: branchCode,
                item_code: itemCode,
                favorite: !favorite
            });

            this.$nextTick(() => {
                // Add the component back in
                this.loadItemFavorite(product.id, false);
            });
        },

        alreadyInCart(product) {
            const item = _.find(this.cartItems, {
                item_code: product.item_code
            });
            if (item) {
                product.quantity = item.quantity;
                product.ref = item.ref;
                product.focus = item.focus;
            }
            return !_.isEmpty(item);
        },
        onChangeQuantity: _.debounce(async function(item) {
            if (item.quantity > 0) {
                const { ref, quantity } = item;
                this.loadItem(item.id, true);
                const params = {
                    ref,
                    quantity,
                    refresh_cart: false
                };
                await this.$store.dispatch("CART_STORE/updateCartItem", params);
                this.loadItem(item.id, false);
            }
        }, 500),
        loadItem(itemId, loading) {
            this.productList = _.map(this.productList, product => {
                if (product.id === itemId) {
                    product.isLoading = loading;
                }
                return product;
            });
        },
        loadItemFavorite(itemId, loading) {
            this.productList = _.map(this.productList, product => {
                if (product.id === itemId) {
                    product.isLoadingFavorite = loading;
                }
                return product;
            });
        },
        async setupProducts() {
            if (_.isEmpty(this.products) && _.isEmpty(this.products.data)) {
                this.productList = [];
            }

            if (!this.getPromos) {
                this.productList = this.products.data;
                return;
            }

            let codes = _.map(this.products.data, product => {
                if (!_.isEmpty(product.item.code)) return product.item.code;
            });
            codes = codes.join(",");
            if (_.isEmpty(codes)) {
                this.productList = [];
                return false;
            }

            const itemsPromos = await this.$store.dispatch(
                "PRODUCT_STORE/getItemPromoByCode",
                {
                    item_codes: codes,
                    branch_code: this.$branchCode,
                    promoChecker: true
                }
            );
            if (itemsPromos.success && !_.isEmpty(itemsPromos.data)) {
                _.forEach(this.products.data, product => {
                    const productObject = _.find(itemsPromos.data, {
                        item_code: product.item.code
                    });
                    console.log();

                    if (!_.isEmpty(productObject)) {
                        product.item.promo = productObject;
                    }
                    return product;
                });
            }
            this.productList = this.products.data;
        }
    },
    computed: {
        ...mapGetters({
            productLoading: "CART_STORE/productLoading",
            productsView: "PRODUCT_STORE/productsView",
            productStore: "PRODUCT_STORE/products",
            itemCodes: "PRODUCT_STORE/itemCodes"
        }),

        hasCartPermission() {
            return (
                this.$userHasPermission(
                    this.PermissionNames.ViewProductPrice
                ) ||
                this.$userHasPermission(this.PermissionNames.PlaceOrderOnline)
            );
        }
    }
};
</script>
