<template>
    <div>
        <div v-if="!_.isEmpty(images)" class="blocks triple">
            <span v-for="image in images" :key="image.id">
                <a href>
                    <img :src="image.images.desktop.path" alt />
                </a>
            </span>
            <!-- <span>
                <a href>
                    <img src="https://source.unsplash.com/500x500/?sunset" alt />
                </a>
            </span>
            <span>
                <a href>
                    <img src="https://source.unsplash.com/500x500/?minimal" alt />
                </a>
            </span>
            <span>
                <a href>
                    <img src="https://source.unsplash.com/500x500/?gradient" alt />
                </a>
            </span>
            <span>
                <a href>
                    <img src="https://source.unsplash.com/500x500/?arts-culture" alt />
                </a>
            </span>
            <span>
                <a href>
                    <img src="https://source.unsplash.com/500x500/?camera" alt />
                </a>
            </span>-->
        </div>
    </div>
</template>

<script>
export default {
    name: "card-component",
    props: { images: [Array, Object] }
};
</script>
