<template>
    <div class="slideshow-container">
        <div class="mySlides fade" style="display:block;">
            <img :src="currentImg" style="width:100%" />
        </div>

        <a class="prev">
            <i class="ico-arrow-l" @click="plusSlides(-1)"></i>
        </a>
        <a class="next">
            <i class="ico-arrow-r" @click="plusSlides(1)"></i>
        </a>
    </div>
</template>

<script>
export default {
    name: "carousel-component",
    data() {
        return {
            slideIndex: 1,
            slideImages: [
                { src: "https://source.unsplash.com/1000x400/?wallpapers" },
                { src: "https://source.unsplash.com/1000x400/?unset" },
                { src: "https://source.unsplash.com/1000x400/?minimal " }
            ],
            currentImg: 1
        };
    },
    mounted() {
        this.showSlides(this.slideIndex);
    },
    methods: {
        plusSlides(n) {
            this.showSlides((this.slideIndex += n));
        },

        currentSlide(n) {
            this.showSlides((this.slideIndex = n));
        },

        showSlides(n) {
            // var i;
            // var slides = document.getElementsByClassName("mySlides");
            if (n > this.slideImages.length) {
                this.slideIndex = 1;
            }
            if (n < 1) {
                this.slideIndex = this.slideImages.length;
            }
            // for (i = 0; i < slides.length; i++) {
            //     slides[i].style.display = "none";
            // }
            this.currentImg = this.slideImages[this.slideIndex - 1].src;
        }
    }
};
</script>
