<template>
    <div v-if="!_.isEmpty(slides)" class="carousel-thumbnail">
        <agile v-if="showMain" class="main" ref="main" :options="options1" :as-nav-for="asNavFor1">
            <div
                class="main"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
            >
                <img class="m-auto" :src="slide" />
            </div>
        </agile>
        <agile
            v-if="showThumbnail"
            class="thumbnails"
            ref="thumbnails"
            :options="options2"
            :as-nav-for="asNavFor2"
        >
            <div
                class="slide slide--thumbniail"
                v-for="(slide, index) in slides"
                :key="index"
                :class="`slide--${index}`"
                @click="$refs.thumbnails.goTo(index)"
            >
                <img :src="slide" />
            </div>
            <template slot="prevButton">
                <i class="ico-arrow-l"></i>
            </template>
            <template slot="nextButton">
                <i class="ico-arrow-r"></i>
            </template>
        </agile>
    </div>
</template>
<script>
/* eslint-disable vue/require-valid-default-prop */
import { VueAgile } from "vue-agile";
export default {
    name: "apply-supplier-component",
    props: {
        slides: Array,
        showThumbnail: Boolean,
        showMain: Boolean,
        autoPlay: Boolean,
        showDotsButton: Boolean
    },
    components: {
        agile: VueAgile
    },
    mounted() {
        this.asNavFor1.push(this.$refs.thumbnails);
        this.asNavFor2.push(this.$refs.main);
        this.options2.autoplay = this.autoplay;
        // this.options1.autoplay = this.autoplay;
    },
    data() {
        return {
            asNavFor2: [],
            asNavFor1: [],
            options1: {
                fade: true,
                navButtons: false,
                centerMode: true,
                dots: false
            },
            options2: {
                autoplay: this.autoPlay,
                centerMode: true,
                dots: false,
                navButtons: true,
                slidesToShow: 3,
                autoplaySpeed: 5000,
                responsive: [
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow:
                                this.slides.length > 6 ? 6 : this.slides.length
                        }
                    },

                    {
                        breakpoint: 1000,
                        settings: {
                            navButtons: true
                        }
                    }
                ]
            }
        };
    }
};
</script>
