<template>
    <div class="customer-reviews" :class="{home: isHome}">
        <ul v-if="!_.isEmpty(reviews)">
            <li v-for="(review, index) in reviews" :key="review.id">
                <span>
                    <input type="radio" name="reviews" :id="review.id+'_'" :checked="index === 3" />
                    <label :for="review.id+'_'">
                        <span class="customer-img">
                            <img v-if="review.photo" :src="review.photo.path" alt />
                        </span>
                        <span class="content">
                            <blockquote v-html="review.body"></blockquote>
                            <small class="uppercase">{{review.title}}</small>
                        </span>
                    </label>
                </span>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "customer-review-component",
    props: {
        isHome: Boolean,
        reviews: [Array, Object]
    }
};
</script>
