<template>
    <span>
        <strong v-if="title" class="font-bold block">
            {{title}}
            <span class="text-red">*</span>
        </strong>
        <div class="flex content-center">
            <label for="documents" class="upload my-2 block">
                <span class="button default sm text-white uppercase inline-block">Attach Files</span>
                <input
                    type="file"
                    multiple
                    id="documents"
                    ref="upload_docs"
                    class="hidden"
                    @change="handleFileUpload()"
                    :accept="acceptedFiles"
                />
            </label>
        </div>

        <ul
            v-if="!_.isEmpty(fileNames)"
            class="block mt-4 lg:w-1/2 flex flex-col lg:flex-row flex-wrap"
        >
            <li v-for="(file, index) in fileNames" :key="index" class="file_names">
                {{file}}
                <button @click="onDeleteFile(file)">&times;</button>
            </li>
        </ul>
    </span>
</template>

<script>
export default {
    name: "file-uploader-component",
    props: {
        title: String
    },
    data() {
        return {
            fileNames: [],
            documents: []
        };
    },
    watch: {
        documents(newValue) {
            this.$emit("input", newValue);
        }
    },
    methods: {
        handleFileUpload() {
            const files = this.$refs.upload_docs.files;

            for (var i = 0; i < files.length; i++) {
                let file = files[i];
                if (!_.includes(this.fileNames, file.name)) {
                    this.fileNames.push(file.name);
                    this.documents.push(file);
                }
            }
        },
        onDeleteFile(file) {
            this.documents = _.filter(this.documents, docu => {
                return docu.name !== file;
            });
            this.fileNames = _.filter(this.fileNames, docu => {
                return docu !== file;
            });
        }
    }
};
</script>
