<template>
    <footer class="xl:flex xl:justify-between">
        <span class="brand-logo xl:px-10 xl:w-4/12">
            <router-link :to="{name:'Home'}">
                <img class="inline-block" src="../../assets/img/logo_suysing_white.png" />
            </router-link>
            <h2
                class="text-2xl font-bold text-orange-500 mt-5 leading-tight"
            >The country's leading one-stop grocery wholesaler for over 70 years</h2>
        </span>
        <span class="xl:w-4/12 xl:px-8 mb-0">
            <span class="w-full">
                <p class="block mt-2 mb-2 text-base uppercase">Get in touch</p>
                <p class="mb-2 font-medium">
                    10F San Fernando Tower
                    <br />514 Plaza del Conde Street,
                    <br />Binondo, Manila 1006 Philippines
                </p>
                <p class="mb-2 font-medium">
                    Email:
                    <a href="mailto:sales@suysing.com">sales@suysing.com</a>
                </p>
                <p class="font-medium">Hotline: (02) 8706 8888</p>
                <a
                    href="https://www.facebook.com/SuySingOfficial"
                    target="_blank"
                    class="inline-block mt-5 text-base flex items-center font-medium"
                >
                    Like us on
                    <img class="inline w-5 ml-3 mr-2 w-8" src="../../assets/img/ico-facebook.svg" />
                </a>
            </span>
        </span>
        <span class="relative xl:w-4/12 xl:px-8 mb-0">
            <span class="other-links self-start font-medium">
                <ul>
                    <li>
                        <router-link :to="{name: 'faq-list'}">
                            <span>FAQ</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-terms-and-conditions'}}"
                        >
                            <span>Terms &amp; Conditions</span>
                        </router-link>
                    </li>
                    <li>
                        <router-link
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-privacy-policy'}}"
                        >Privacy Policy</router-link>
                    </li>
                    <li>
                        <router-link
                            :to="{name: 'terms-info', params: {slug: 'suy-sing-cookie-use'}}"
                        >Cookie Use</router-link>
                    </li>
                </ul>
            </span>
            <small
                class="copyright block mt-6 xl:absolute xl:bottom-0"
            >&copy; Copyright 2020 Suy Sing Commercial Corporation</small>
        </span>
    </footer>
</template>

<script>
export default {
    name: "footer-component"
};
</script>
