<template>
    <div>
        <!-- Hero Medium -->
        <div class="hero md" :style="{'background-image': `url('${imageUrl}')`}">
            <span v-if="showTitle">
                <h2
                    class="inline-block mb-1 text-5xl uppercase font-medium"
                >Bringing success to grocers</h2>
                <p class="text-2xl font-medium">
                    <a @click="$goToShopping" class="cursor-pointer">Order Now!</a>
                </p>
            </span>
        </div>
        <!-- End:Hero Medium -->
    </div>
</template>

<script>
export default {
    name: "hero-md-component",
    props: {
        imageUrl: { type: String, default: "https://placehold.co/1920x400" },
        showTitle: Boolean
    }
};
</script>
