<template>
    <div>
        <div class="hero">
            <img :src="imageUrl" />
            <div v-if="showTitle" id="content" >
                <h2
                    class="inline-block mb-1 text-5xl uppercase font-bold"
                >{{content}}</h2>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "hero-component",
    props: {
        imageUrl: { type: String, default: "https://placehold.co/1920x300" },
        showTitle: Boolean,
        content: { type: String, default: "" }
    }
};
</script>
