<template>
    <div>
        <div class="hero sm" :style="{'background-image': `url('${imageUrl}')`}">
            <span v-if="showTitle">
                <h2
                    class="inline-block mb-1 text-4xl uppercase font-bold"
                >Bringing success to grocers</h2>
                <p>
                    <a @click="$goToShopping" class="cursor-pointer">Order Now!</a>
                </p>
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: "hero-sm-component",
    props: {
        imageUrl: { type: String, default: "https://placehold.co/1920x300" },
        showTitle: Boolean
    }
};
</script>
