<template>
    <div>
        <div v-if="!_.isEmpty(validPromos)">
            <h3 class="font-bold uppercase block mt-5">Promos Mechanics:</h3>
            <div v-for="promo in validPromos" :key="promo.id" class="promos-mechanics">
                <span class="flex mt-2 items-center">
                    <span class="w-1/4 mr-2">
                        <img
                            v-if="promo.thumbnail"
                            class="w-full block"
                            :src="promo.thumbnail.medium_thumbnail"
                            alt
                        />
                    </span>
                    <span class="text-sm w-3/4">
                        <h4 class="font-bold uppercase">{{promo.title}}</h4>
                        <h5>{{promo.mechanics}}</h5>
                    </span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "promo-list-component",
    props: { promos: Array },
    computed: {
        validPromos() {
            if (_.isEmpty(this.promos)) return [];
            return this.promos;
        }
    }
};
</script>
