<template>
    <div>
        <!-- src="`../../assets/img/logo_suysing_white.png`" -->
        <nav class="main-nav">
            <router-link :to="{name: 'Home'}" class="brand-logo xl:hidden relative z-20">
                <span>
                    <img class="inline-block" src="../../assets/img/logo_suysing_white.png" />
                </span>
            </router-link>
            <div class="flex xl:hidden">
                <button
                    @click="$onToggleSearchbar"
                    id="search-toggle"
                    class="p-1 pt-2 mr-3 outline-none"
                >
                    <i class="ico-search text-purple-550"></i>
                </button>
                <button
                    @click="$onToggleMenu"
                    id="nav-toggle"
                    class="flex items-center text-white outline-none"
                >
                    <svg class="h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" fill="#000464" />
                    </svg>
                </button>
            </div>

            <div
                :class="{hidden: MIXHideMenu}"
                id="nav-content"
                class="w-full flex-none xl:flex xl:flex-grow xl:items-center xl:justify-between xl:w-auto xl:block"
            >
                <router-link :to="{name: 'Home'}" class="brand-logo hidden xl:block relative z-20">
                    <span>
                        <img class="inline-block" src="../../assets/img/logo_suysing_white.png" />
                    </span>
                </router-link>

                <ul class="mt-10 xl:mt-0 xl:flex">
                    <li
                        v-bind:class="{ active: _.includes(['about', 'services', 'news'],$route.name)}"
                    >
                        <label for="_1">
                            Our Company
                            <i class="ico-arrow-d"></i>
                        </label>
                        <input id="_1" type="checkbox" />
                        <ul>
                            <li>
                                <router-link :to="{name: 'about'}">
                                    <span>About Us</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'services'}">
                                    <span>Our Services</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'news'}">
                                    <span>News</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-bind:class="{ active: _.includes(['branch' ],$route.name)}">
                        <router-link :to="{name: 'branch'}">
                            <span>Branches</span>
                        </router-link>
                    </li>
                    <li v-bind:class="{ active: _.includes(['brands-branch'],$route.name)}">
                        <router-link :to="{name: 'brands-branch'}">
                            <span>Products</span>
                        </router-link>
                    </li>
                    <li
                        v-bind:class="{ active: _.includes(['promotions', 'flyers-list'],$route.name) }"
                    >
                        <label for="_3">
                            Promotions
                            <i class="ico-arrow-d"></i>
                        </label>
                        <input id="_3" type="checkbox" />
                        <ul>
                            <li>
                                <router-link :to="{name: 'promotions'}">
                                    <span>Featured</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'flyers-list'}">
                                    <span>SS Mail</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>

                    <li
                        v-bind:class="{ active: _.includes(['customer-apply', 'customer-grocer-club', 'customer-retail-academy' ],$route.name)}"
                    >
                        <label for="_4">
                            <span>Be A Customer</span>
                            <i class="ico-arrow-d"></i>
                        </label>
                        <input id="_4" type="checkbox" />
                        <ul>
                            <li>
                                <router-link :to="{name: 'customer-apply'}">
                                    <span>Apply Now</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'customer-grocer-club'}">
                                    <span>Lucky Grocers’ Club</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'customer-retail-academy'}">
                                    <span>Retail Academy</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-bind:class="{ active: _.includes(['supplier-apply' ],$route.name)}">
                        <label for="_5">
                            <span>Be A Supplier</span>
                            <i class="ico-arrow-d"></i>
                        </label>
                        <input id="_5" type="checkbox" />
                        <ul>
                            <li>
                                <router-link
                                    exact
                                    :to="{name: 'supplier-apply',  params: {supplierType: 'trade-suppliers'}}"
                                >
                                    <span>Trade</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link
                                    :to="{name: 'supplier-apply', params: {supplierType: 'non-trade-suppliers'}}"
                                >
                                    <span>Non-Trade</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li v-bind:class="{ active: _.includes(['career-list' ],$route.name)}">
                        <router-link :to="{name: 'career-list'}">
                            <span>Careers</span>
                        </router-link>
                    </li>
                    <!-- <li v-bind:class="{ active: _.includes(['faq-list' ],$route.name)}">
                        <router-link :to="{name: 'faq-list'}"><span>FAQ</span></router-link>
                    </li>-->
                </ul>

                <span class="block mb-5 xl:mb-0 xl:flex xl:items-center">
                    <span
                        :class="{hidden: MIXHideSearchbar}"
                        class="xl:block my-5 xl:my-0 z-50 search-block"
                    >
                        <form @submit="onSearch">
                            <span
                                class="flex items-center justify-between bg-white border border-orange-500 inline-block px-2 py-1"
                            >
                                <input
                                    type="text"
                                    class="flex-grow bg-transparent py-1 mr-3"
                                    placeholder="SEARCH"
                                    v-model="keyword"
                                />
                                <i type="submit" class="ico-search"></i>
                            </span>
                        </form>
                    </span>
                    <span class="sign-in">
                        <details v-if="!isLoading" ref="loginform" id="loginForm">
                            <summary @click="$onToggleLoginForm" class="xl:ml-6">Sign In</summary>
                            <span v-if="MIXloginForm">
                                <form action @submit.prevent.stop="onSubmit">
                                    <h3 class="text-xl mb-3 font-bold">Sign In</h3>
                                    <span class="text-gray-900">
                                        <span class="block mb-3 p-2 border border-gray-500">
                                            <input
                                                class="w-full"
                                                type="text"
                                                placeholder="Customer Code"
                                                v-model="credentials.account_code"
                                                required
                                            />
                                        </span>
                                        <span class="block mb-3 p-2 border border-gray-500">
                                            <input
                                                class="w-full"
                                                type="password"
                                                placeholder="Password"
                                                v-model="credentials.password"
                                                required
                                            />
                                        </span>

                                        <span class="flex justify-between items-start">
                                            <input
                                                type="submit"
                                                value="Submit"
                                                class="button default sm text-white w-full"
                                            />
                                        </span>
                                        <a
                                            href="#"
                                            class="mt-3 text-orange-400 uppercase text-lg"
                                            @click="onForgotPassword"
                                        >Forgot Password</a>
                                    </span>
                                </form>
                            </span>
                        </details>
                        <div class="empty-state ml-6" v-else>
                            <spinner-component />
                        </div>
                    </span>
                    <!-- End Sign In Dropown -->
                </span>
            </div>
        </nav>

        <div
            :class="{hidden: MIXHideSearchbar}"
            id="mobile-search"
            class="absolute w-full p-6 bg-white flex xl:hidden"
        >
            <form action @submit="onSearch" class="flex-grow mr-2">
                <span
                    class="flex items-center justify-between bg-white border border-orange-500 inline-block px-2 py-1"
                >
                    <input
                        type="text"
                        class="flex-grow bg-transparent py-1 mr-3"
                        placeholder="SEARCH"
                        v-model="keyword"
                        ref="search_input"
                    />
                    <!-- <i class="ico-search"></i> -->
                </span>
            </form>
            <button id="search-toggle" class="outline-none" @click="$onToggleSearchbar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                    <g class="nc-icon-wrapper">
                        <defs />
                        <g id="Layer-11" data-name="Layer">
                            <path
                                d="M4.93 19.07a1 1 0 0 1 0-1.41L17.66 4.93a1 1 0 1 1 1.41 1.41L6.34 19.07a1 1 0 0 1-1.41 0z"
                                fill="#4A4A4A"
                                class="cls-1"
                            />
                            <path
                                d="M4.93 4.93a1 1 0 0 1 1.41 0l12.73 12.73a1 1 0 1 1-1.41 1.41L4.93 6.34a1 1 0 0 1 0-1.41z"
                                fill="#0e1317"
                                class="cls-1"
                            />
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    name: "main-nav-component",
    data() {
        return {
            credentials: {},
            keyword: "",
            showMenu: false
        };
    },
    methods: {
        async onSubmit() {
            const response = await this.$store.dispatch(
                "USER_STORE/getPersonalToken",
                this.credentials
            );
            this.MIXloginForm = false;
            if (!response) {
                this.credentials = {};
            }
        },
        async onSearch(event) {
            event.preventDefault();
            let currentRoute = this.$route.name;
            const searchRoute = "search-result";
            const inSeachPage = searchRoute === currentRoute;
            const sameKeyword = this.keyword === this.currentKeyword;
            if (!_.isEmpty(this.keyword)) {
                if ((inSeachPage && !sameKeyword) || !inSeachPage) {
                    this.routerPush();
                    return;
                }

                if (inSeachPage && sameKeyword) {
                    this.searchByKeyword();
                }
            }
        },
        routerPush() {
            this.$router.push({
                name: "search-result",
                params: { keyword: this.keyword }
            });
        },
        async searchByKeyword() {
            await this.$store.dispatch("UTILITIES_STORE/onSearchByKeyword", {
                keyword: this.keyword,
                branch: this.$branchCode,
                page: 1
            });
        },
        onForgotPassword() {
            window.open(`${process.env.APP_BASE_URL}/user-password/reset`);
        }
    },

    computed: {
        ...mapGetters({
            isLoading: "USER_STORE/isLoading",
            branches: "BRANCH_STORE/branches"
        })
    }
};
</script>
