<template>
    <div>
        <!-- src="`../../assets/img/logo_suysing_white.png`" -->
        <nav class="main-nav">
            <router-link :to="{name: 'Home'}" class="brand-logo xl:hidden relative z-20">
                <span>
                    <img class="inline-block" src="../../assets/img/logo_suysing_white.png" />
                </span>
            </router-link>
            <div class="flex xl:hidden">
                <button
                    @click="$onToggleSearchbar"
                    id="search-toggle"
                    class="p-1 pt-2 mr-3 outline-none"
                >
                    <i class="ico-search text-purple-550"></i>
                </button>
                <button
                    @click="$onToggleMenu"
                    id="nav-toggle"
                    class="flex items-center text-white outline-none"
                >
                    <svg
                        class="fill-current h-6 w-6"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <title>Menu</title>
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" fill="#000464" />
                    </svg>
                </button>
            </div>

            <div
                :class="{hidden: MIXHideMenu}"
                id="nav-content"
                class="w-full flex-none xl:flex xl:flex-grow xl:items-center xl:justify-between xl:w-auto xl:block"
            >
                <router-link :to="{name: 'Home'}" class="brand-logo hidden xl:block relative">
                    <span>
                        <img class="inline-block" src="../../assets/img/logo_suysing_white.png" />
                    </span>
                </router-link>

                <ul class="mb-5 mt-10 xl:my-0 xl:flex">
                    <li v-bind:class="{ active: _.includes(['brands-branch'],$route.name) }">
                        <router-link
                            :to="{name: 'brands-branch', params: {branchCode: $branchCode}}"
                        >
                            <span>Products</span>
                        </router-link>
                    </li>
                    <li
                        v-bind:class="{ active: _.includes(['promotions', 'flyers-list'],$route.name) }"
                    >
                        <label for="_3">
                            Promotions
                            <i class="ico-arrow-d"></i>
                        </label>
                        <input id="_3" type="checkbox" />
                        <ul>
                            <li>
                                <router-link :to="{name: 'promotions'}">
                                    <span>Featured</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'flyers-list'}">
                                    <span>SS Mail</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <!-- <li v-bind:class="{ active: _.includes([ 'faq-list' ],$route.name) }">
                        <router-link :to="{name: 'faq-list'}">
                            <span>FAQ</span>
                        </router-link>
                    </li>-->
                    <li v-if="hasCartPermission" class="cart-link mt-8 lg:mt-0">
                        <router-link :to="{name: 'transaction-summary'}">
                            <span class="relative" id="shopping-cart">
                                <i class="shopping-cart"></i>
                                <span class="cart-notif">{{items}}</span>
                            </span>
                        </router-link>
                    </li>
                </ul>

                <span class="block mt-8 xl:mt-0 xl:flex xl:items-center">
                    <span class="block my-5 xl:mx-5 xl:my-0 search-block relative z-30">
                        <form action @submit="onSearch">
                            <span
                                class="flex items-center justify-between bg-white border border-orange-500 inline-block px-2 py-1"
                            >
                                <input
                                    type="text"
                                    class="flex-grow bg-transparent py-1 mr-3"
                                    placeholder="SEARCH"
                                    v-model="keyword"
                                />
                                <i class="ico-search"></i>
                            </span>
                        </form>
                    </span>
                    <span class="user-account">
                        <span class="uppercase">
                            <router-link :to="{name: 'dashboard'}" class="relative z-30">
                                <span>My Account</span>
                            </router-link>
                            <ul>
                                <li>
                                    <router-link :to="{name: 'change-password'}">
                                        <span>Reset Password</span>
                                    </router-link>
                                </li>
                                <li class="mb-4">
                                    <a class="log-out uppercase cursor-pointer" @click="logout">
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </span>
                </span>
            </div>
        </nav>

        <div
            :class="{hidden: MIXHideSearchbar}"
            id="mobile-search"
            class="absolute w-full p-6 bg-white flex xl:hidden"
        >
            <form action @submit="onSearch" class="flex-grow mr-2">
                <span
                    class="flex items-center justify-between bg-white border border-orange-500 inline-block px-2 py-1"
                >
                    <input
                        type="text"
                        class="flex-grow bg-transparent py-1 mr-3"
                        placeholder="SEARCH"
                        v-model="keyword"
                        ref="search_input"
                    />
                    <!-- <i class="ico-search"></i> -->
                </span>
            </form>
            <button id="search-toggle" class="outline-none" @click="$onToggleSearchbar">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                    <g class="nc-icon-wrapper">
                        <defs />
                        <g id="Layer-11" data-name="Layer">
                            <path
                                d="M4.93 19.07a1 1 0 0 1 0-1.41L17.66 4.93a1 1 0 1 1 1.41 1.41L6.34 19.07a1 1 0 0 1-1.41 0z"
                                fill="#4A4A4A"
                                class="cls-1"
                            />
                            <path
                                d="M4.93 4.93a1 1 0 0 1 1.41 0l12.73 12.73a1 1 0 1 1-1.41 1.41L4.93 6.34a1 1 0 0 1 0-1.41z"
                                fill="#0e1317"
                                class="cls-1"
                            />
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</template>
<script>
/* eslint-disable camelcase */
export default {
    name: "main-nav-logged-in-component",
    data() {
        return {
            keyword: ""
        };
    },
    methods: {
        logout() {
            this.$store.dispatch("USER_STORE/logoutUser");
        },
        async onSearch(event) {
            event.preventDefault();
            let currentRoute = this.$route.name;
            const searchRoute = "search-result";
            const inSeachPage = searchRoute === currentRoute;
            const sameKeyword = this.keyword === this.currentKeyword;
            if (!_.isEmpty(this.keyword)) {
                if ((inSeachPage && !sameKeyword) || !inSeachPage) {
                    await this.routerPush();
                    return;
                }

                if (inSeachPage && sameKeyword) {
                    await this.searchByKeyword();
                }
            }
        },
        routerPush() {
            this.$router.push({
                name: "search-result",
                params: { keyword: this.keyword }
            });
        },
        async searchByKeyword() {
            await this.$store.dispatch("UTILITIES_STORE/onSearchByKeyword", {
                keyword: this.keyword,
                branch: this.$branchCode,
                page: 1
            });
        }
    },
    computed: {
        items() {
            if (!_.isEmpty(this.cartItems)) {
                let availableItems = _.filter(this.cartItems, {
                    available: true
                });
                return availableItems.length;
            }
            return 0;
        },

        hasCartPermission() {
            return (
                this.$userHasPermission(
                    this.PermissionNames.ViewProductPrice
                ) ||
                this.$userHasPermission(this.PermissionNames.PlaceOrderOnline)
            );
        }
    }
};
</script>
