<template>
    <div>
        <div
            v-if="!_.isEmpty(meta)"
            class="paginator w-full flex items-center justify-between font-display lg:max-w-lg m-auto"
        >
            <b-pagination
                v-if="meta"
                v-model="meta.current_page"
                :total-rows="meta.total"
                limit="6"
                first-number
                last-number
                :per-page="meta.per_page"
                @change="onPaginate"
            ></b-pagination>
        </div>
    </div>
</template>

<script>
export default {
    name: "pagination-component",
    props: {
        meta: Object
    },
    data() {
        return {
            currentPage: 1
        };
    },
    methods: {
        onPaginate(page) {
            window.scrollTo(0, 0);
            this.$emit("onPaginate", page);
        }
    },
    watch: {
        meta(newValue) {
            this.currentPage = newValue.current_page;
        }
    }
};
</script>
