<template>
    <div class="products-container order-2 md:order-3">
        <div
            v-if="!_.isEmpty(promotions)"
            id="prod-viewType"
            class="product-list overflow-y-auto"
            :style="{ 'max-height': '1280px' }"
        >
            <ul>
                <li v-for="promo in promotions" :key="promo.id">
                    <a v-if="!_.isEmpty(promo.thumbnail)" class="cursor-pointer">
                        <div class="full_desc">
                            <span class="prod_img">
                                <img :src="promo.thumbnail.path" alt />
                            </span>
                            <span class="prod_desc">
                                <div class="w-full">
                                    <p class="text-gray-800" id="item-code">{{promo.duration}}</p>
                                    <p class id="description">{{promo.title}}</p>
                                </div>
                            </span>
                        </div>
                    </a>
                    <!-- <spinner-component v-else /> -->
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    name: "promotion-tiles-component",
    props: {
        promotions: Array
    }
};
</script>
