<template>
    <span class="qty-counter" :class="{disabled: invalidValue(item)}">
        <button @click="changeQuantity('minus', item)">
            <i class="ico-minus"></i>
        </button>
        <div class="qty-details">
            <!-- <input type="text" v-model="item.quantity" maxlength="5" /> -->
            <vue-numeric
                class="text-cente"
                :class="'quantity_picker'+ item.item_code"
                :max="99999"
                :empty-value="null"
                separator=","
                v-model="quantity"
                maxlength="5"
                :ref="quantityRef"
                v-focus="item.focus"
                @blur="promptModal"
                @keyup.native="onChangeQuantity(item)"
            ></vue-numeric>
            <span class="unit" v-if="item.item">{{item.item.unit || ''}}</span>
        </div>

        <button :disabled="disabled" @click="changeQuantity('plus', item)">
            <i class="ico-plus"></i>
        </button>

        <remove-item-modal
            v-if="modalData"
            :data="modalData"
            :onShow="showModal"
            v-model="showModal"
            @onRevertQuantity="onRevertQuantity"
            @onRemoveItem="removeItem($event)"
        ></remove-item-modal>
    </span>
</template>

<script>
/* eslint-disable indent */
import { RemoveItemModal } from "@components/common/modal/index";

import { Toast } from "@interfaces/swal";
export default {
    name: "quantity-picker",
    props: {
        item: [Object, Array],
        disabled: Boolean
    },
    components: {
        RemoveItemModal
    },
    data() {
        return {
            modalData: {},
            showModal: false,
            oldQuantity: 0,
            outputType: "",
            quantity: 0,
            minimumQuantity: 0
        };
    },
    mounted() {
        this.quantity = this.item.quantity;
        this.minimumQuantity = this.item.item ? this.item.item.minimum : 0;
    },
    computed: {
        quantityRef() {
            return `quantity_picker${this.item.id}`;
        }
    },
    watch: {
        item: {
            deep: true,
            handler() {
                this.quantity = this.item.quantity;
                this.minimumQuantity = this.item.item
                    ? this.item.item.minimum
                    : 0;
            }
        }
    },
    methods: {
        isDivisible(n) {
            var result = n - Math.floor(n) !== 0;

            return !result;
        },
        invalidValue(quantity) {
            if (this.disabled) {
                return true;
            }
            return !quantity;
        },
        changeQuantity(operation, item) {
            if (this.disabled) {
                return;
            }
            switch (operation) {
                case "plus":
                    this.quantity = this.quantity + this.minimumQuantity;
                    break;
                case "minus":
                    if (!this.invalidValue(this.quantity)) {
                        this.quantity = this.quantity - this.minimumQuantity;
                    } else {
                        return;
                    }
            }

            if (this.quantity > 0) {
                item.quantity = this.quantity;
                this.$emit("onChangeQuantity", item);
            } else {
                this.promptModal();
            }
        },
        onRevertQuantity() {
            this.quantity = this.item.quantity;
        },
        removeItem(remove) {
            this.$emit("onRemoveItem", remove);
        },
        onChangeQuantity: _.debounce(function(item) {
            if (this.disabled) {
                return;
            }
            if (!this.item.id) {
                return;
            }
            const quotient = this.quantity / this.minimumQuantity;
            const isDivisible = this.isDivisible(quotient);
            if (!isDivisible) {
                let validQuantity = this.minimumQuantity * quotient.toFixed();

                Toast.fire({
                    icon: "info",
                    title: `Invalid quantity. Input quantity must be multiples of ${this.minimumQuantity}`
                });
                // eslint-disable-next-line camelcase
                const quantity_picker = document.getElementById(
                    this.quantityRef
                );
                quantity_picker.blur();
                this.quantity = !validQuantity
                    ? this.minimumQuantity
                    : validQuantity;
            }
            if (
                !this.invalidValue(this.quantity) &&
                item.quantity !== this.quantity
            ) {
                item.quantity = this.quantity;
                this.$emit("onChangeQuantity", item);
            }
        }, 500),

        promptModal: _.debounce(function() {
            if (!this.quantity && !this.item.isLoading && this.item.id) {
                this.showModal = true;
                this.modalData = _.clone(this.item);
            }
        }, 500)
    }
};
</script>
