
<template>
    <div>
        <div>
            <div class="flex items-center">
                <span class="mx-auto">
                    <span class="text-center block">
                        <svg
                            :xmlns="getMessageByUserType.image"
                            class="mx-auto mb-2"
                            width="73.029"
                            height="73.029"
                            viewBox="0 0 73.029 73.029"
                        >
                            <g transform="translate(-17.726 -17.726)">
                                <path
                                    d="M164.515,128a36.515,36.515,0,1,0,36.515,36.515A36.558,36.558,0,0,0,164.515,128Zm18.508,28.778-19.777,19.777a3.04,3.04,0,0,1-4.3,0l-9.891-9.891a3.043,3.043,0,1,1,4.3-4.3L161.1,170.1l17.628-17.627a3.043,3.043,0,1,1,4.3,4.308Zm0,0"
                                    transform="translate(-110.274 -110.274)"
                                    fill="#7fef39"
                                />
                            </g>
                        </svg>
                        <h2
                            class="text-limeade font-bold text-2xl mb-2"
                        >{{getMessageByUserType.title}}</h2>
                        <div class="text-lg mb-6" v-html="getMessageByUserType.message"></div>
                        <a
                            href="#"
                            @click="buttonClicked(getMessageByUserType.url)"
                            class="button default sm text-white px-16"
                        >{{getMessageByUserType.button}}</a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable indent */
export default {
    name: "response-message",
    props: { messageType: [String] },
    data() {
        return {
            content: {},
            routeName: ""
        };
    },
    computed: {
        getMessageByUserType() {
            let content = {};
            switch (this.messageType) {
                case "supplier":
                    content = {
                        image: "http://www.w3.org/2000/svg",
                        title: "Application Submitted",
                        message:
                            "Thank you for your interest in partnering with us. <br/> A Suy Sing representative will get in touch you soon.",
                        url: "Home",
                        button: "GO TO HOMEPAGE"
                    };
                    break;
                case "customer":
                    content = {
                        image: "http://www.w3.org/2000/svg",
                        title: "Application Submitted",
                        message:
                            "Thank you for your application, Ka-Suy Sing! Our Account Officer will get in touch with you soon. <br/> For orders, you may call us at (02) 8706 8888.",
                        url: "Home",
                        button: "GO TO HOMEPAGE"
                    };
                    break;
                case "password":
                    content = {
                        image: "http://www.w3.org/2000/svg",
                        title: "Setup Complete",
                        message:
                            "Thank you for activating your account, Ka Suy-Sing.<br />You may now log in using your new password.",
                        url: "Home",
                        button: "GO TO HOMEPAGE"
                    };
                    break;
                case "career":
                    content = {
                        image: "http://www.w3.org/2000/svg",
                        title: "Thank you for your interest in Suy Sing. Our HR team will process your application and get in touch with you for updates.",
                        message:
                            "You may also visit our Head Office every Mondays to Fridays, 8:00am to 2:00pm to take the qualifying exams. We are located at the 7F San Fernando Tower 514 Plaza del Conde Street, Binondo, Manila.",
                        url: "career-list",
                        button: "GO TO CAREERS PAGE"
                    };
                    break;
            }
            // this.content = content;
            return content;
        }
    },
    methods: {
        buttonClicked(name) {
            this.$router.replace({
                name
            });
        }
    }
};
</script>
