<template>
    <div>
        <div class="container mx-auto text-center">
            <div class="screen-404">
                <h1>404</h1>
                <h3>We can't find what you're looking for.</h3>
                <div class="my-8 flex items-center flex-grow-0">
                    <a class="button gray" href="#">Go back</a>
                    <a class="button default" href="#">Go to homepage</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>
