<template>
    <div>
        <div class="container mx-auto text-center">
            <div class="min-h-screen flex flex-col items-center justify-center">
                <span class="block mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="128" height="128"
                        viewBox="0 0 64 64"
                        style=" fill:#000000;"><radialGradient id="IkUh6ey5BhnCh~hrMs1fda" cx="32.5" cy="31.5" r="30.516" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#afeeff"></stop><stop offset=".193" stop-color="#bbf1ff"></stop><stop offset=".703" stop-color="#d7f8ff"></stop><stop offset="1" stop-color="#e1faff"></stop></radialGradient><path fill="url(#IkUh6ey5BhnCh~hrMs1fda)" d="M59,20h1.5c2.168,0,3.892-1.998,3.422-4.243C63.58,14.122,62.056,13,60.385,13L53,13 c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h3.385c1.67,0,3.195-1.122,3.537-2.757C60.392,3.998,58.668,2,56.5,2H34.006H32.5h-24 C6.575,2,5,3.575,5,5.5S6.575,9,8.5,9H10c1.105,0,2,0.895,2,2c0,1.105-0.895,2-2,2l-5.385,0c-1.67,0-3.195,1.122-3.537,2.757 C0.608,18.002,2.332,20,4.5,20H18v12L4.615,32c-1.67,0-3.195,1.122-3.537,2.757C0.608,37.002,2.332,39,4.5,39H5c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2H4.5c-2.168,0-3.892,1.998-3.422,4.243C1.42,48.878,2.945,50,4.615,50H10c1.105,0,2,0.895,2,2 c0,1.105-0.895,2-2,2l-1.385,0c-1.67,0-3.195,1.122-3.537,2.757C4.608,59.002,6.332,61,8.5,61h22.494H32.5h23 c1.925,0,3.5-1.575,3.5-3.5S57.425,54,55.5,54H55c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2h4.385c1.67,0,3.195-1.122,3.537-2.757 C63.392,44.998,61.668,43,59.5,43H47V31h12.385c1.67,0,3.195-1.122,3.537-2.757C63.392,25.998,61.668,24,59.5,24H59 c-1.105,0-2-0.895-2-2C57,20.895,57.895,20,59,20z"></path><linearGradient id="IkUh6ey5BhnCh~hrMs1fdb" x1="32" x2="32" y1="56" y2="6" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#ff634d"></stop><stop offset=".204" stop-color="#fe6464"></stop><stop offset=".521" stop-color="#fc6581"></stop><stop offset=".794" stop-color="#fa6694"></stop><stop offset=".989" stop-color="#fa669a"></stop><stop offset="1" stop-color="#fa669a"></stop></linearGradient><path fill="url(#IkUh6ey5BhnCh~hrMs1fdb)" d="M57,31c0,13.805-11.195,25-25,25S7,44.805,7,31S18.195,6,32,6S57,17.195,57,31z"></path><path fill="#fff" d="M43.268,19.732L43.268,19.732c0.976,0.976,0.976,2.559,0,3.535L24.267,42.268 c-0.976,0.976-2.559,0.976-3.535,0l0,0c-0.976-0.976-0.976-2.559,0-3.535l19.001-19.001C40.709,18.756,42.292,18.756,43.268,19.732 z"></path><path fill="#fff" d="M43.268,42.268L43.268,42.268c-0.976,0.976-2.559,0.976-3.535,0L20.732,23.267 c-0.976-0.976-0.976-2.559,0-3.535l0,0c0.976-0.976,2.559-0.976,3.535,0l19.001,19.001C44.244,39.709,44.244,41.292,43.268,42.268z"></path></svg>
                </span>
                <h1 class="text-4xl font-bold">Failed</h1>
                <h3 class="text-lg">Lorem ipsum dolor sit amet.</h3>
                <div class="my-8 flex items-center flex-grow-0">
                    <a class="button gray mx-2" href="#">Button</a>
                    <a class="button default mx-2" href="#">Button</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>
