<template>
    <div>
        <div v-if="!isLoading">
            <article v-if="!_.isEmpty(terms)" class="generic container mx-auto px-6 py-10 max-w-screen-900">
                <h2 class="text-3xl uppercase font-medium mb-8">{{terms.title}}</h2>
                <div v-if="terms.body" v-html="terms.body"></div>
            </article>
        </div>
        <spinner-component v-else></spinner-component>
    </div>
</template>

<script>
import { HeroComponent } from "../common/index";
export default {
    name: "terms-info-component",
    props: {
        slug: [String]
    },
    components: {
        HeroComponent
    },
    data() {
        return {
            page: {},
            terms: {},
            isLoading: false
        };
    },
    async mounted() {
        if (this.slug) {
            this.onViewLinks(this.slug);
        }
    },
    methods: {
        async onViewLinks(links) {
            this.isLoading = true;
            await this.$store.dispatch("PAGE_STORE/getPageContent", links);
            this.terms = this.pagesContent[links];
            this.isLoading = false;
        }
    }
};
</script>
