<template>
    <div id="app">
        <div class="main-content">
            <a href="#app" id="back2top">
                <i class="ico-arrow-d"></i>
            </a>
            <div class="nav-container" :class="{'relative':isMobile}">
                <!-- Alert -->
                <alert-component v-if="logged_in" />
                <!-- End:Alert -->

                <!-- Main Navigation -->
                <main-nav-component v-if="!logged_in" />
                <main-nav-logged-in-component v-else />
                <!-- End:Main Navigation -->
            </div>
            <router-view :key="$route.fullPath" />
        </div>
        <footer-component />
    </div>
</template>

<script>
import { Auth, LocalStorageKey } from "@interfaces/enum";
import {
    MainNavComponent,
    MainNavLoggedInComponent,
    AlertComponent,
    FooterComponent
} from "./components/index";
export default {
    name: "App",
    components: {
        MainNavComponent,
        AlertComponent,
        FooterComponent,
        MainNavLoggedInComponent
    },
    data() {
        return {
            token: JSON.parse(localStorage.getItem(Auth.Personal)),
            userCart: JSON.parse(localStorage.getItem(LocalStorageKey.Cart)),
            isMobile: false
        };
    },
    async mounted() {
        this.getScreenSize();
        if (!_.isEmpty(this.token)) {
            this.$store.dispatch("USER_STORE/savePersonalToken", this.token);
            this.$store.dispatch("CART_STORE/getCartItems");
        }
    },
    methods: {
        async getToken() {
            this.$store.dispatch("USER_STORE/getClientToken");
        },
        getScreenSize() {
            const width = document.getElementById("app").offsetWidth;
            this.isMobile = width <= 1279;
        }
    },

    created() {
        window.addEventListener("resize", this.getScreenSize);
    },
    destroyed() {
        window.removeEventListener("resize", this.getScreenSize);
    }
};
</script>
