<template>
    <div>
        <div v-if="!isLoading" class="container mx-auto">
            <div v-if="!_.isEmpty(images)" class="flipbook-viewport">
                <div cl ass="container">
                    <flipbook
                        :startPage="parseInt(startPage)"
                        class="flipbook"
                        :pages="images"
                        ref="flipbook"
                        v-slot="images"
                        @flip-left-start="flip"
                        @flip-left-end="flip"
                        @flip-right-start="flip"
                        @flip-right-end="flip"
                    >
                        <button @click="images.flipLeft">
                            <i class="ico-arrow-l"></i>
                        </button>
                        <button @click="images.flipRight">
                            <i class="ico-arrow-r"></i>
                        </button>
                    </flipbook>
                    <div class="m-auto mt-5 flex justify-between items-center">
                        <span class="flex items-center">
                            <b-form-input
                                v-model="startPage"
                                v-mask="'####'"
                                class="block py-1 text-center border border-gray-200 mr-2 w-10"
                            ></b-form-input>
                            <label for class="font-bold block">OF {{images.length}}</label>
                        </span>
                        <span class="text-right">
                            <a
                                v-if="!_.isEmpty(flyer.pdf)"
                                :href="flyer.pdf.path"
                                target="_blank"
                                class="block text-gray-500 underline text-sm"
                            >Download PDF</a>
                            <router-link
                                class="block underline font-medium"
                                :to="{name: 'flyers-list'}"
                            >Back to SS MAIL</router-link>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <spinner-component v-else />
    </div>
</template>
<script>
import { HeroComponent } from "@components/common/index";
import { mapGetters } from "vuex";
import Flipbook from "flipbook-vue";
export default {
    name: "flyers-detail-component",
    components: {
        HeroComponent,
        Flipbook
    },
    props: { images: Array },
    data() {
        return {
            startPage: 1
        };
    },

    methods: {
        flip() {
            this.startPage = this.$refs.flipbook.page;
        },
        onChangePage() {
            if (this.startPage > this.images.length) {
                this.startPage = parseInt(this.images.length);
                return false;
            }
        }
    },
    computed: {
        ...mapGetters({
            flyer: "FLYERS_STORE/flyer",
            isLoading: "FLYERS_STORE/isLoading"
        })
    }
};
</script>
