<template>
    <div>
        <hero-component
            v-if="!_.isEmpty(page) && !_.isEmpty(page.banner)"
            :image-url="page.banner.path"
            :show-title="true"
            :content="page.short_description"
        ></hero-component>
        <div class="container mx-auto py-10 px-6">
            <h2
                class="text-2xl lg:text-4xl font-medium uppercase mb-3"
            >SS Mail {{flyerId ? flyer.title: ''}}</h2>
            <div v-if="!isLoading">
                <div v-if="_.isEmpty(flyerId)" class="flyer-list">
                    <div
                        v-if="!_.isEmpty(flyers)"
                        class="flex flex-col lg:flex-row flex-wrap items-start"
                    >
                        <div v-for="flyer in flyers" :key="flyer.id" class="flyer-item">
                            <!-- Hidden on mobile -->
                            <div @click="onViewFlyers(flyer.id)" class="hidden md:block">
                                <div class="flyer-img">
                                    <img
                                        v-if="!_.isEmpty(flyer.thumbnail)"
                                        :src="flyer.thumbnail.path"
                                        class="block mb-1"
                                    />
                                </div>
                                <strong class="block font-normal mt-4">{{flyer.title}}</strong>
                            </div>

                            <!-- Shown on mobile -->
                            <div class="block md:hidden">
                                <div class="flyer-img">
                                    <a
                                        v-if="!_.isEmpty(flyer.pdf)"
                                        target="_blank"
                                        :href="flyer.pdf.path"
                                    >
                                        <img
                                            v-if="!_.isEmpty(flyer.thumbnail)"
                                            :src="flyer.thumbnail.path"
                                            class="block mb-1"
                                        />
                                    </a>
                                </div>
                                <strong class="block font-normal mt-4">{{flyer.title}}</strong>
                            </div>
                            <a
                                v-if="!_.isEmpty(flyer.pdf)"
                                :href="flyer.pdf.path"
                                target="_blank"
                                class="block text-gray-500 underline text-sm"
                            >Download PDF</a>
                        </div>
                    </div>
                </div>
                <div v-else class="flyer-details">
                    <flyers-detail-component :images="images"></flyers-detail-component>
                </div>
            </div>
            <spinner-component v-else />
        </div>
    </div>
</template>

<script>
import { HeroComponent, PaginationComponent } from "@components/common/index";
import { FlyersDetailComponent } from "./index";
import { mapGetters } from "vuex";
export default {
    name: "flyers-list-component",
    components: {
        HeroComponent,
        PaginationComponent,
        FlyersDetailComponent
    },
    props: {
        flyerId: [String, Number]
    },
    data() {
        return {
            page: {},
            images: []
        };
    },
    async mounted() {
        if (!this.pagesContent["suy-sing-flyers"]) {
            await this.$store.dispatch(
                "PAGE_STORE/getPageContent",
                "suy-sing-flyers"
            );
        }
        this.page = this.pagesContent["suy-sing-flyers"];
        let flyerId = !_.isEmpty(this.flyerId) ? this.flyerId.toString() : null;
        await this.$store.dispatch("FLYERS_STORE/getFlyers", flyerId);

        if (this.flyerId && !_.isEmpty(this.flyer.pages)) {
            _.forEach(this.flyer.pages, page => {
                this.images.push(page.asset.path);
            });
        }
    },
    computed: {
        ...mapGetters({
            flyers: "FLYERS_STORE/flyers",
            flyer: "FLYERS_STORE/flyer",
            isLoading: "FLYERS_STORE/isLoading"
        })
    },
    methods: {
        onViewFlyers(flyerId) {
            this.$router.push({
                name: "flyer-details",
                params: {
                    flyerId: flyerId.toString()
                }
            });
        },
        onDownLoadPdf(flyer) {}
    }
};
</script>
