/* html { line-height: 100%!important; } */
html { height: 100%; }
body { @apply text-gray-900 m-0; }
h1, h2, h3, h4, h5, h6, strong { @apply font-display; }
p { @apply block mb-3; }
input, button, summary, select, textarea { @apply outline-none; }
details {
    summary { @apply block;
        &:hover { @apply cursor-pointer }
    }
}
table {
    th, td { @apply p-4; }
    thead th { @apply font-display font-bold; }
    tbody tr:nth-child(odd) td { @apply bg-orange-100; }
    .ico-trash:hover { @apply text-red; }
}
#app { min-height: 100vh; grid-template-rows: 1fr auto; }
#app * {
    &::-webkit-scrollbar { width: 8px; height: 8px; }
    &::-webkit-scrollbar-track { background: transparent; }
    &::-webkit-scrollbar-thumb { @apply bg-orange-500 rounded-full; }
    &::-webkit-scrollbar-corner { background: transparent; }
}
.container {
    &.about-suysing, &.news-article { @apply mx-auto px-6 py-10; }
    &.max-w-screen-900 { max-width: 900px; }
}
.disabled { @apply opacity-50 pointer-events-none;
    .dropr { @apply bg-gray-200; }
}
.qty-counter{
    input[type="text"] { min-width: 10px; }
    &.disabled { @apply opacity-100;
        & * { @apply pointer-events-none; }
        button { @apply bg-gray-200; }
        .qty-details { @apply bg-gray-100 text-gray-500; }
    }
}
.trade-suppliers-partners .carousel-thumbnail {
    & > .agile.thumbnails { @apply m-0 mx-auto;
        width: calc(100% - 100px);
    }
}

/* Article */
article {
    figure { @apply mb-5;
        img { @apply block w-full; }
        figcaption { @apply block mt-2 text-sm; }
    }
    &.news-article { @apply py-16 mx-auto; max-width: 1280px;
        .agile__slide--current img { @apply w-full; }
    }
    &.generic {
        p { @apply mb-3; }
    }
}

/* Footer */
footer { @apply w-full text-white p-6 bg-purple-550 font-display;
    /* Stick it */
    grid-row-start: 2; grid-row-end: 3;
    .brand-logo { @apply block;
        img { max-width: 250px; }
    }
    & > span { @apply block mb-8; }
    /* p, a { @apply font-body; } */
    .other-links ul li { @apply py-1; }
    .copyright { @apply block uppercase text-white text-xs; }
}

.min-h-vport { min-height: calc(100vh - 430px); }
#back2top { @apply fixed bottom-0 leading-tight right-0 m-6 z-30 rounded-full bg-white flex items-center justify-center text-xs text-purple-500 shadow-md hidden; width: 56px; height: 56px; font-size: 1rem;
    &.visible { @apply flex; }
    &:hover { @apply opacity-75; }
    i { transform: rotate(180deg); display: block; }
}
.text-link { @apply text-purple-500 underline; }
.button { @apply py-3 px-8 font-display font-bold uppercase outline-none leading-none;
    &.default { @apply bg-orange-500 text-white;
        &:hover { @apply bg-orange-400; }
    }
    &.purple { @apply bg-purple-550 text-white;
        &:hover, &:focus { @apply bg-purple-600; }
    }
    &.gray { @apply bg-gray-100 text-purple-500;
        &:hover, &:focus { @apply text-purple-600 bg-gray-200; }
    }
    &.red { @apply bg-red text-white;
        &:hover, &:focus { @apply text-white opacity-75; }
    }
    &.sm { @apply py-3 px-8 text-sm; }
    &:hover { @apply cursor-pointer; }
    &.disabled { @apply pointer-events-none bg-gray-500; }
}
.dropr { @apply relative flex items-center;
    select { @apply appearance-none bg-transparent pl-1 pr-6 relative z-10; }
    /* &:after { content: "\e90b"; font-family: 'suysing-icons'; top: 15%; font-size: 0.5rem; @apply absolute right-0 z-0 text-gray-500; } */
    .ico-arrow-d { font-size: 8px; @apply absolute z-0 text-gray-500; right: 5px; }
    &:hover { @apply cursor-pointer; }
}
.custom-select {
    &:hover { @apply cursor-pointer; }
}
#alert_ticker { @apply relative bg-red text-white text-base text-center z-20;
    & > span { @apply py-1 px-10 block; }
    #hide_ticker { @apply absolute; right: 1rem; top: 50%; margin-top: -7px;
        &:hover { @apply opacity-75; }
    }
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea { @apply text-black;
    &.error { @apply text-red; border: #D90429 1px solid!important;
        &:focus { @apply text-black; }
    }
}
.modal { @apply fixed z-50 top-0 left-0 w-full; background-color: rgba(255,255,255, 0.95);
    /* @apply z-50 fixed w-full top-0 left-0 flex items-center justify-center; transition: opacity 0.25s ease; */
    .modal-dialog { @apply min-h-screen flex items-center; }
    .modal-container { @apply bg-white w-11/12 mx-auto rounded shadow-lg z-50 overflow-y-auto border border-gray-200 outline-none;
        p { @apply mb-3 }
        * {
            ::-webkit-scrollbar { width: 8px; }
            ::-webkit-scrollbar-track { background: #F2F2F2; }
            ::-webkit-scrollbar-thumb { @apply bg-orange-500 rounded-full; }
        }
        .modal-body { @apply relative;
            .scrollable { max-height: 400px; overflow-y: scroll; @apply pr-5 }
        }
        .modal-footer { @apply flex items-center pt-4 pb-1; justify-content: space-evenly; }
        & ~ .close-modal { @apply hidden; }
        footer { @apply bg-transparent;
            .btn { @apply w-1/3 uppercase font-bold pt-3 pb-2 px-8;
                &.btn-primary { @apply bg-orange-500 text-white; }
                &.btn-secondary { @apply bg-gray-200 text-gray-800; }
            }
        }
    }
    .ico-arrow-d { @apply mr-2 }
    .item-price { @apply text-xl block;
        strong { @apply mr-3; }
    }
}
body.modal-open { @apply min-h-screen overflow-y-hidden; }

.screen-404 { @apply min-h-screen flex flex-col items-center justify-center;
    h1 { @apply font-bold text-black; font-size: 10vw; line-height: 100%; }
    h3 { @apply text-2xl text-gray-800; }
    .button { @apply mx-2; }
}

/* .add-to-favorites { @apply absolute right-0 text-2xl;
    input[type="checkbox"] { @apply hidden;
        & + label { @apply relative text-gray-500;
            &:hover { @apply cursor-pointer text-gray-800; }
        }
        &:checked + label { @apply text-red; }
    }
} */
.add-to-favorites { @apply absolute text-2xl z-20; right: 1.5rem;
    input[type="checkbox"] { @apply hidden;
        & + label { @apply relative text-gray-500;
            &:hover { @apply cursor-pointer text-gray-800; }
        }
        &:checked + label .ico-heart:before { content: '\e912'; @apply text-red; }
    }
}

.qty-counter { @apply flex items-center text-sm bg-gray-100 justify-center w-full py-1;
    button { @apply flex items-center rounded-full bg-purple-600 text-white text-center p-1 mx-2 outline-none font-bold; max-width: 22px;
        &:hover { @apply bg-purple-500; }
    }
    input[type="tel"] { @apply bg-transparent w-auto text-center; min-width: 10px; }
    .qty-details { @apply bg-white relative border border-gray-200 flex items-center py-1 px-2; max-width: 100px; min-width: 80px;
        .unit { @apply flex items-center leading-none font-bold text-gray-500 uppercase; font-size: 0.65rem; margin-top: 1px;
            &:hover { @apply cursor-default; }
        }
    }
}


.slideshow-container { @apply relative w-full m-auto; padding: 0 50px;
    .mySlides { @apply hidden; }
    .prev, .next { @apply absolute flex items-center w-auto; top: 50%; margin-top: -16px; padding: 16px; transition: 0.6s ease; user-select: none;
        &:hover { @apply cursor-pointer opacity-50; }
    }
    .prev { @apply left-0; }
    .next { @apply right-0; }
    .fade { -webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s; }
}
@-webkit-keyframes fade { from {opacity: .4} to {opacity: 1} }
@keyframes fade { from {opacity: .4} to {opacity: 1} }

.dashed-list {
    li { @apply relative my-1 pl-5;
        &:before { content: '\2013'; @apply absolute left-0; }
    }
}
label.upload {}

.view_options {  @apply flex items-center justify-between w-full mt-5;
    i { @apply text-gray-500 text-xl mr-1 absolute left-0 }
    label { @apply text-sm; line-height: 140%; }

    & > span { @apply flex items-center;
        input[type="radio"] { @apply hidden;
            & + label { @apply relative text-gray-800 text-lg pt-1; padding-left: 28px; }
            &:checked + label { @apply text-purple-500 pointer-events-none;
                i { @apply text-purple-500; }
            }
        }
        &.grid {}
        &.list {}
    }
}
.filter_options { @apply ml-3;
    input[type="checkbox"] { @apply hidden;
        & + label { @apply relative text-gray-800 text-lg pt-1; padding-left: 28px; }
        &:checked + label { @apply text-purple-500;
            i { @apply text-purple-500; }
        }
    }
}

/* Main Nav */
.nav-container { @apply sticky top-0 z-50;
    &.open { @apply relative; }
}
.main-nav { @apply relative font-display bg-white px-6 w-full text-xl flex items-center justify-between flex-wrap font-medium;
  -webkit-box-shadow: 5px -23px 54px 21px rgba(0,0,0,0.24);
  -moz-box-shadow: 5px -23px 54px 21px rgba(0,0,0,0.24);
  box-shadow: 5px -23px 54px 21px rgba(0,0,0,0.24);
    a, label { @apply text-purple-500 inline-block; }
    ul { @apply uppercase;
        li { @apply relative my-3;
            .ico-arrow-d { @apply absolute right-0 text-xs; top: 8px }
            a span { @apply relative pb-1; }
            &.active {
                & > a span, label span { @apply border-b-2 border-orange-500; }
            }
        }
    }
    .brand-logo { @apply self-start relative; width: 220px; min-height: 64px;
        & > span { @apply bg-purple-550 absolute p-2 overflow-hidden;
        /* border-bottom-right-radius: 48px; border-bottom-left-radius: 48px; */
        -webkit-box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.24);
        box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.24); }
        img { @apply w-full }
    }
    #nav-content {
        label { @apply block;
        &:hover { @apply cursor-pointer; }
            & + input { @apply hidden;
                & + ul { @apply hidden relative;
                /* Override */
                left: -1.5rem; width: calc(100% + 3rem); @apply px-6 pl-10; }
            }
            & + input:checked + ul { @apply block; }
        }
        ul li {
            a.router-link-exact-active span { @apply border-b-2 border-orange-500; }
        }
        .router-link-exact-active {
            #shopping-cart { @apply border-none;
                &:after { content: none; }
                span:after { content: none; }
            }
        }
    }
    .shopping-cart { @apply text-3xl mt-0; width: 24px; height: 24px; line-height: auto; }
    .cart-notif { @apply text-xs right-0 absolute text-center text-purple-500 bg-orange-500 font-bold z-20 rounded-full; min-width: 24px; height: 24px; line-height: 25px; top: -20px; right: -10px; }

    .sign-in {
        input {
            &[type="text"], &[type="password"] {
                /* width: calc(100% - 1rem); */
                @apply w-full;
            }
        }
        h3 { @apply font-bold; }
        details { @apply mb-2;
            summary { @apply uppercase text-purple-500;
                &::-webkit-details-marker { display: none; }
            }
            & > span { @apply relative block mt-2 p-6 w-full bg-white; left: -1.5rem;
            .dropr .ico-arrow-d { right: 1rem; @apply text-xs; }
            }
        }
    }

    /* Logged In */
    .user-account {
        ul { @apply bg-white;
            li {}
        }
        a { @apply mb-1 relative;
            span:after { content: none; @apply w-full absolute bg-orange-500 left-0; height: 2px; bottom: -2px; }
            &:hover, &.router-link-active span:after { content: ''; }
        }
        & > span { @apply block z-20;
            &:hover ul { @apply block; }
        }
    }
    /* .user-logged { @apply block relative uppercase mb-2;
        a.router-link-active { @apply border-b-2 border-orange-500; }
        .name { @apply block font-medium truncate; width: 70px; }
        & ~ .log-out { @apply mb-2; }
    } */
}

/* Profile Page */
#page-profile { @apply leading-relaxed;
    *::-webkit-scrollbar { width: 8px; position: relative; }
    a { @apply text-purple-500;
        &:hover { @apply underline; }
    }
    .success-pts { @apply text-orange-500; }
    .profile-details {
        /* p { @apply lowercase;
            &:first-letter { @apply uppercase; }
        } */
    }
    .table-container { @apply overflow-x-auto;
        table { @apply w-full text-left text-sm table-fixed;
        /* max-width: 992px; */ max-width: unset;
            th, td { @apply p-3 align-top; }
            th { @apply font-bold }
            input[type="text"] { @apply border border-gray-200; min-width: 50px;
                &:focus { @apply border-gray-500; }
            }
        }
    }
}

/* Passwordd Setup */
.pw-setup-container { @apply flex flex-col min-h-screen; border-top: #384285 10px solid; border-bottom: #F1862D 10px solid;
    .bg-market { @apply overflow-hidden hidden;
        img { @apply w-full; }
    }
    .form-container { @apply w-full bg-white h-screen flex items-center;
        & > span { max-width: 100%; }
    }
    a { @apply text-purple-500;
        &:hover { @apply underline; }
    }
}

/* Application */
.custom-radio .custom-control-label { @apply ml-2 }
.file_names { @apply max-w-full mr-4 mb-4 py-2 pl-4 pr-6 relative bg-gray-100;
    button { @apply text-xl leading-tight absolute; right: .5rem;
        &:hover { @apply text-red; }
    }
}

/* Hero Image */
.hero { @apply w-full p-10 flex items-center justify-center bg-cover bg-no-repeat bg-center text-white text-center relative overflow-hidden p-0;
    .font-medium { font-weight: 700!important; text-shadow: 0px 6px 24px rgba(0,0,0, 0.5) }
    .text-5xl ( font-size: 10rem!important; )
    &.sm { @apply h-56; }
    &.md { min-height: 200px; }
    &.lg { min-height: 200px; }
    &[style] { background-position: center; }
    img { @apply object-cover; max-width: 100%; min-height: 150px; }
    #content { @apply absolute }
}

/* Customer Reviews */
.customer-reviews { @apply font-display;
    small { @apply block text-xs; }
    blockquote { @apply text-lg mb-2 pl-8 relative overflow-hidden font-normal; line-height: 125%;
        &:before, &:after { @apply absolute text-orange-500; font-size: 250%; line-height: 110%; }
        &:before { content: open-quote; @apply left-0 top-0; }
        &:after { content: close-quote; @apply ml-2; }
    }
    ul { @apply mx-6 py-3 w-auto flex flex-col items-start justify-between;
        li { @apply my-3 w-full; }
    }
    label { @apply flex items-start text-left;
        /* min-width: 200px; */
        .content { @apply flex flex-col self-center text-purple-500 z-10; }
    }
    .customer-img { @apply z-10 mr-4 border-2 border-purple-500 inline-block rounded-full overflow-hidden; width: 80px; min-width: 80px; max-width: unset;
        img { @apply block m-0 w-full object-cover; width: 80px; min-height: 76px }
    }
    .ratings { @apply block mt-1; color: #ec842f; }
    input[type="radio"] { @apply hidden;
        & + label { @apply pointer-events-none; }
        &:checked + label {
            .content { @apply flex-grow; }
            .customer-img { @apply mr-4; width: 80px; }
        }
        &:hover + label { @apply cursor-pointer; }
    }

    &.home { background: rgb(254,109,13); background: linear-gradient(90deg, rgba(254,109,13,1) 0%, rgba(254,194,43,1) 100%);
        @apply w-full my-2;
        label { @apply relative py-3 pr-5; }
        small { @apply inline-block text-black;

        }
        blockquote { @apply px-0 text-black;
            &:before, &:after { content: none; }
        }
         .customer-img { @apply border-2 border-white; }
        input[type="radio"] { @apply hidden;
            & + label {
                &:before { content: ''; @apply absolute bg-white right-0 top-0 shadow-xl rounded; height: 100%; z-index: 0; width: calc(100% - 40px); }
            }
            &:checked + label { @apply z-10 pr-8;
                .customer-img { min-width: 80px; }
            }
        }
    }
}

.carousel-thumbnail button svg { width: 32px; height: 32px; }
.carousel .text-5xl { font-size: 1.3rem !important; padding: 0 20px; }

.flyer-list, .promo-list {
    .flyer-item, .promo-item { @apply w-full mb-5 cursor-pointer; }
    .flyer-item { margin-right: 2rem; }
    .flyer-img {
        img { max-height: 300px; @apply w-full object-cover object-top; }
    }
}

/* Sidebar */
#brand-filter { background-color: #f5fafe; }
.sidebar { background-color: #f5fafe; }
.profile-img { width: 150px; height: 150px; @apply inline-block my-5 text-center rounded-full overflow-hidden border-2 border-purple-500;
    img { @apply inline; }
}
.blocks {
    &.triple { @apply flex flex-wrap; background-color: #431300;
        img { @apply w-full m-0 block; }
        & > span { @apply w-full; }

        /* Touch me not */
        &:hover > span:not(:hover) img { opacity: 0.45; }
    }
    &.news { background-color: #431300;
        & > a { @apply relative w-full inline-block;
            &:hover { @apply cursor-pointer }
        }
        .tag { @apply absolute top-0 left-0 bg-white italic text-sm tracking-widest uppercase font-bold py-2 pt-3 px-3 text-purple-500; top: -41px; }
        .thumb { @apply relative block overflow-hidden h-full;
            img { @apply object-fill; }
        }
        .info { @apply absolute bottom-0 py-5 px-8 text-white w-full;
          #wrap {z-index:1; position: relative;}
          #bg { position: absolute; top:0;left:0;z-index:0;width:100%;height:100%;opacity: .8;}
        }
        .title, .excerpt { @apply block; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
        .title { @apply leading-none uppercase font-bold text-3xl mb-5; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
        .excerpt { @apply mb-3 overflow-hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
        .author { @apply block text-sm; }
        /*a:nth-child(odd) {
            .info { @apply bg-orange-300; }
        }
        a:nth-child(even) {
            .info { @apply bg-purple-500; }
        }*/
    }
}

.ico-search[type="submit"] { -webkit-appearance: none; }
.search-results {
    a { @apply mb-16;
        .title, .excerpt { @apply block; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
        .title { @apply uppercase font-bold text-3xl mb-3; -webkit-line-clamp: 2; }
        .excerpt { @apply mb-3 overflow-hidden; -webkit-line-clamp: 3; }
        &:last-of-type { @apply mb-0 }
    }
}

/* Branch List */
.branch-list { @apply overflow-y-auto;
    li { @apply block mb-3 p-5;
        a > span { @apply block; }
        &:last-of-type { @apply mb-0; }
        &:hover, &.active { @apply bg-orange-100; }
    }
}

/* FAQ List */
.faq-list { counter-reset: counter-decimal;
    p { @apply pb-2; }
    li { @apply relative; counter-increment: counter-decimal; clear: both;
        &:before { content: counter(counter-decimal)'.'; min-width: 50px; @apply float-left inline-block text-right w-auto mr-2 mt-3 text-xl font-bold; }
        &:nth-child(even) { @apply bg-orange-100; }
    }
    details { @apply pl-16 pr-10 py-3;
        summary { @apply text-xl font-bold cursor-pointer;
            &::-webkit-details-marker { @apply hidden; }
            &:after { @apply absolute text-xs mt-5 top-0 text-gray-500; content: "\e901"; font-family: 'suysing-icons'; right: 1rem; }
        }
        &[open] summary { @apply mb-3;
            &:after { transform: rotate(90deg); }
        }
    }
}

/* Careers List */
.career-list {
    & > div { @apply w-full justify-between p-6; }
    ul {
        li { @apply pl-4 mb-1 relative;
            &:before { content: '\2013'; @apply absolute left-0; }
        }
    }
}
.career-locations span::after {content:", ";}
.career-locations span:last-child::after{ content: "";}

.filters { @apply mx-3 my-6;
    /* details { @apply relative mb-8;
        summary { @apply pr-5;
            &::-webkit-details-marker { @apply hidden; }
            &:after { @apply absolute text-xs mt-1 top-0 right-0 text-gray-500; content: "\e901"; font-family: 'suysing-icons'; }
        }
        &[open] summary { @apply mb-3;
            &:after { transform: rotate(90deg); }
        }
        & > span { max-width: calc(100% - 2rem); @apply block; }
        &:last-of-type { @apply mb-0; }
    } */
    span { @apply relative break-words font-medium; }
    & > span { @apply mb-5;
        label { @apply text-sm; }
        &:last-of-type { @apply mb-0; }
    }
    input[type="checkbox"] { @apply hidden; }
    input[type="checkbox"] {
            & + label { @apply text-sm block py-1 pr-6;
            &:first-letter { @apply uppercase; }
            &:hover { @apply cursor-pointer opacity-75; }
            &:after { @apply text-gray-700 text-lg relative right-0 absolute; content: "\e903"; font-family: 'suysing-icons'; top: 0px; }
        }
        &:checked + label:after { content: "\e902"; @apply text-orange-500; }
    }
}
/* .paginator {
    .pages { @apply flex-auto text-center mx-10;
        label { @apply text-gray-700 mx-2;
            &.current, &:hover { @apply text-gray-800; }
        }
    }
    button { @apply text-purple-500 outline-none;
        &:hover { @apply text-purple-600; }
    }
} */

/* .paginator { @apply my-5;
    ul { @apply m-auto; }
    li { width: auto!important;
         a { padding: 10px!important}
    }
} */

.pagination { @apply flex items-center justify-center py-16 text-lg leading-none mx-auto;
    li { @apply mx-2 w-8 text-center border border-gray-200 w-auto rounded-sm;
        a, & > span { @apply outline-none inline-block p-2 px-3; min-width: 34px; }
        /* &:first-of-type, &:last-of-type { @apply text-2xl; } */
        &:hover { @apply bg-gray-100; }
        &.active { @apply font-medium bg-orange-300 border-orange-400;
            a { @apply text-white font-bold; }
        }
    }
}
article.form { @apply w-full mx-auto py-6;
    .terms { @apply block text-center mt-10;
        a { @apply text-purple-500; }
        input[type="checkbox"] { @apply hidden; }
        input[type="checkbox"] {
            & + label { @apply pl-5;
            &:hover { @apply cursor-pointer; }
            &:before { @apply text-gray-700 text-xl relative mr-1; content: "\e903"; font-family: 'suysing-icons'; top: 3px; }
        }
        &:checked + label:before { content: "\e902"; @apply text-orange-500; }
        }
    }
}
/* Product Listing */
.product-list {
    ul { @apply flex flex-wrap; }
    li { @apply relative text-center /* bg-orange-100 */ w-1/2;
        a { @apply flex flex-col items-center justify-between h-full p-6 relative overflow-hidden;
            .full_desc { @apply flex flex-col items-center w-full; }
            .btns-container { @apply w-full;
              .sk-fading-circle { margin: 0 auto; height: 2rem;}
            }
            .prod_img { @apply flex mb-5; width: 150px; height: 150px;
                img { @apply w-auto m-auto; max-height: 100%; max-height: 100%; }
            }
            .prod_desc { @apply text-left w-full font-medium; font-size: 14px;
              #amount {}
              #item-code { @apply mb-0; }
              #description { @apply overflow-hidden w-full mb-2; }

            }
            p { @apply m-0; }
        }
        &:nth-child(4n+1), &:nth-child(4n) { @apply bg-white; }
    }
    .ribbon { @apply bg-red text-white text-xs font-medium absolute py-1 px-3 w-full uppercase; left: -38%; transform: rotate(-45deg) }
    .show-prod-info, .add-to-cart { @apply px-5 py-2 text-sm uppercase w-full; }
    .show-prod-info { @apply bg-gray-100 text-purple-500;
        &:hover, &:focus { @apply bg-gray-200; }
    }
    .prod-btns { @apply flex flex-col items-center w-auto mx-auto max-w-full;
        button { @apply font-display; }
    }
    .add-to-cart { @apply bg-orange-500 text-white font-bold;
        &:hover, &:focus { @apply bg-orange-400; }
    }

    /* List View */
    &.listView {
        ul { @apply flex flex-col items-start; }
        li { @apply w-full items-start border-b border-gray-200;
            a { @apply flex-col items-start;
                .prod_img { @apply mb-0 mr-5; max-width: 96px; max-height: 96px; }
                .qty-counter, .add-to-cart { margin-left: 7rem; min-width: 200px; }
                .btns-container { @apply w-auto; }
                .full_desc { @apply flex-row pr-4 justify-between; }
                .prod_desc { @apply flex-grow }
            }
        }
        .ribbon { @apply w-auto px-8; top: 15px; left: -30px; }
        .prod-btns { @apply block mx-0 relative; }
        p { @apply text-left; }
    }
}


.product-info {
  /* .promo-tag { background-color: #FE0800;} */
  .promo-tag { @apply font-display bg-red text-xs text-white uppercase px-2 py-1 ml-3; }
  .add-to-favorites { @apply right-0 top-0; }
  .prod-btns {
      .sk-fading-circle { margin: 0 auto; height: 39px;}
  }
}
/* Sidebar Categories */
#page-products { @apply flex flex-col;
    * {
        &::-webkit-scrollbar { width: 8px; position: relative; right:10px; }
        &::-webkit-scrollbar-track { background: #F2F2F2; }
        &::-webkit-scrollbar-thumb { @apply bg-orange-500 rounded-full; }
    }
    #sidebar-div { background-color: #f5fafe; border: #f5fafe 10px solid; border-top: #f5fafe 20px solid; border-left: none; }
}
.category-list { @apply flex flex-col px-3;
    /* max-height: 350px; */
    & > span { @apply py-1;
        /* details:hover { opacity: 0.85;
            span:not(:hover) { opacity: 0.85; }
        } */
    }
    label, details { @apply relative font-medium;
        &:first-letter { @apply uppercase; }
    }
    label { @apply inline-block my-0 w-auto text-sm; }
    input[type="radio"] { @apply hidden;
        & + label {
            &:first-letter { @apply uppercase; }
            &:before { content: ''; @apply absolute left-0 bottom-0 w-full; }
            &:hover { @apply cursor-pointer;
                &:before { height: 2px; @apply border-b-2 border-orange-500; }
            }
        }
        &:checked + label {
            &:before { height: 2px; @apply border-b-2 border-orange-500; }
        }
    }

    details { @apply text-sm pr-6;
        i { @apply absolute right-0 text-gray-500 text-xs; top: 5px; }
        summary {
            &::-webkit-details-marker { display:none; }
            & > span {
                &:before { content: ''; @apply absolute left-0 w-full; bottom: -5px; }
                &.active:before { height: 2px; @apply border-b-2 border-orange-500;  }
            }
            &:hover > span:before { height: 2px; @apply border-b-2 border-orange-500;  }
        }
        input[type="radio"] + label { @apply w-auto ml-3 mr-0 px-0 mb-1; }
        &[open] {
            span.block { @apply mt-1; }
            summary .ico-arrow-r { transform: rotate(90deg); }
        }
    }
}
@-moz-document url-prefix() {
    .category-list .parent-category > span:first-letter { @apply uppercase; }
}
.promos-mechanics { @apply overflow-y-auto pr-3; max-height: 250px; }

.order-summary {
    .table-container { @apply overflow-x-auto;
        * { ::-webkit-scrollbar { height: 8px; } }
        table { @apply table-fixed w-full text-left text-sm; min-width: 1080px;
            th, td { @apply py-3 relative; }
            td.promo-v { @apply py-0 px-0;
                span {display:blo}
            }
            th { @apply font-bold }
            .item-code input[type="text"]{ @apply border text-center p-1; max-width: 80px;
                &:not(.error) { @apply border-gray-200; }
                &:focus { @apply border-gray-500; }
            }
            button[disabled] i { @apply pointer-events-none opacity-50 }

            &.add-item { min-width: unset; @apply w-auto table-fixed; }
        }
    }

    .order-amount {
        ul { @apply text-sm text-right table table-fixed w-full text-right mt-8 font-bold;
            li { @apply table-row;
                span { @apply table-cell px-3 py-1;
                    &:last-of-type { width: 180px; }
                }
            }
            .amount-value { @apply relative font-bold; }
        }
    }

    .button-group {
        & > div { @apply flex flex-col; }
        button { @apply my-2;
            &.default { @apply text-white; }
        }
        strong { @apply text-xs; }
        /* .dropr { @apply relative flex items-center justify-between border border-gray-500; min-width: 150px;
            .ico-arrow-d { @apply absolute; right: 10px; }
        } */
        /* .custom-select { @apply w-full p-2 pr-8; } */
        .disabled { @apply opacity-75;

            .multiselect__tags { @apply bg-gray-200; }
            .multiselect__input, .multiselect__single { @apply bg-transparent text-gray-800 opacity-50; }
        }
    }

    button { @apply outline-none;
        .ico-trash { @apply text-xl;
            &:hover { @apply text-red; }
        }
    }
}

/* Flipbook */
.flipbook-viewport { /*box-shadow: #cbcbcb 0 10px 24px; border: #d0d0d0 1px solid;*/
    .flipbook { @apply relative w-full max-w-full m-auto bg-gray-100; min-height: 300px; margin-left: auto!important;
        img { @apply block w-full; }
        button { @apply absolute outline-none text-4xl text-gray-600; top: 50%; margin-top: -18px;
            &:first-of-type { left: 16px; }
            &:last-of-type { right: 16px; }
            &:hover { @apply text-gray-800; }
        }
    }
    .page { width: 50%; height:400px; }

    .page{
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
        box-shadow:0 0 20px rgba(0,0,0,0.2);

        img{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin:0;
        }
    }
    .shadow{
        -webkit-transition: -webkit-box-shadow 0.5s;
        -moz-transition: -moz-box-shadow 0.5s;
        -o-transition: -webkit-box-shadow 0.5s;
        -ms-transition: -ms-box-shadow 0.5s;

        -webkit-box-shadow:0 0 20px #ccc;
        -moz-box-shadow:0 0 20px #ccc;
        -o-box-shadow:0 0 20px #ccc;
        -ms-box-shadow:0 0 20px #ccc;
        box-shadow:0 0 20px #ccc;
    }
}

@media (max-width: 767px) {
    #brand-filter {
        @apply fixed z-50 w-full overflow-y-scroll top-0; max-height: 100vh;
        /* top: 56px; max-height: calc(100vh - 56px); */
    }
    #category-list { max-height: unset; }
    .filters { @apply mt-0;  }
    .filters input[type="checkbox"] + label , .category-list details, .category-list details input[type="radio"] + label { font-size: 1.25rem; }
}

/* Small (sm) */
@media (min-width: 640px) {
    /* .blocks {
        &.triple > span { @apply w-1/2; }
        &.news > a { @apply w-1/2; }
    } */
    .product-list {
        &.listView {
            /* .prod-btns { @apply flex flex-row justify-start items-start; max-width: 100%; } */
        }
    }
}

/* Medium (md) */
@media (min-width: 768px) {
    .modal {
        .modal-container { @apply max-w-lg; }
    }
    .blocks {
        &.triple > span,
        &.news > a { @apply w-1/2; }
    }
    /* .branch-list { @apply mt-20; } */
    .branch-list { max-height: 500px; }
    .career-list > div { @apply flex flex-wrap flex-row py-6; }
    #brand-filter.hidden { @apply flex-col; display: flex!important; }
    #page-products { display: grid; grid-template-columns: 25% 1fr;
        #sidebar-div { border-left: #f5fafe 10px solid;
            .category-list { max-height: unset; overflow-y: none; }
        }
        .view-controls {
            .dropr { min-width: 150px; @apply border border-gray-500; }
            .ico-arrow-d { right: 10px; }
        }
        .sidebar { grid-row: auto / span 2 }
        .products-container { @apply px-6; }
    }
    .view_options { @apply w-full mt-0;
        i { @apply text-gray-500 text-xl mr-0 relative; }
        label { @apply text-sm bg-gray-100; line-height: 0; }

        & > span { @apply flex items-center ml-4;
            input[type="radio"] { @apply hidden;
                & + label { @apply text-gray-800 text-lg p-1;
                    span { @apply hidden; }
                }
                &:checked + label { @apply bg-gray-200;
                    i { @apply text-gray-800; }
                }
                & + label:hover { @apply cursor-pointer; }
            }
            &.grid {}
            &.list {}
        }
    }
    /* .customer- reviews {
        ul li { @apply px-10; }
    } */
    .flipbook-viewport .flipbook { width: 720px; height: 292px; }

    .product-list {
        a:hover { @apply bg-orange-100 cursor-pointer; }
        &.listView {
            .prod-btns { @apply flex items-start;
                button { @apply flex-grow-0 flex-auto;
                    &.show-prod-info { @apply mr-4; }
                }
            }
        }
    }
    /* Passwordd Setup */
    .pw-setup-container { @apply flex-row;
        .bg-market { @apply w-1/2 block; }
        .form-container { @apply w-1/2;
            & > span { max-width: 360px; }
        }
    }
}

/* xLarge (xl) */
@media (min-width: 1280px) {
    .min-h-vport { min-height: calc(100vh - 155px); }
    .main-nav { font-size: 0.9vmax;
        /* @apply text-xs; */
        a, label { @apply static inline-block; }
        ul {
            li { @apply relative mx-3 my-0;
                &:not(.cart-link):hover, &.active {
                    label, & > a span { @apply relative;
                        &:after { content: ''; @apply w-full absolute bg-orange-500 left-0; height: 2px; bottom: -2px; }
                    }
                    label span { @apply border-none; }
                }
                a span { @apply pb-1; }
                .router-link-active span:after { content: ''; @apply w-full absolute bg-orange-500 left-0; height: 2px; bottom: -2px; }
            }
            & > li [class*='ico-'] { @apply hidden; }
        }
        .brand-logo { width: 15vw;
            & > span { @apply p-2; }
            img { @apply w-full; }
        }
        .user-logged { @apply mb-0 leading-tight;
            a { @apply inline-block truncate; max-width: 140px; }
            & ~ .log-out { @apply mb-0; }
        }
        #nav-content { @apply flex-grow; height: 64px;
            a { font-size: 0.9vmax;
                /* @apply text-xs; */
            }
            ul { @apply z-20;
                li { @apply relative cursor-pointer;
                    ul { padding: 26px 0 0 0; @apply ml-3;
                        li { @apply m-0;
                            a { @apply px-3 py-2 block; }
                            &:last-of-type { @apply pb-3; }
                        }
                    }
                    &:hover ul { @apply block bg-white; }
                }
            }
            label {
                & + input + ul { @apply absolute bg-white; min-width: 220px; }
                & + input:checked + ul { @apply hidden; }
            }
        }
        .shopping-cart { line-height: 80%; @apply text-2xl;
            &:hover ~ .cart-notif { @apply bg-orange-300; }
        }
        .cart-notif { top: -20px; right: -15px; }
        .search-block input[type="text"] { min-width: 200px; }
        .sign-in{
            /* div > strong { @apply text-xs uppercase font-medium text-white z-40 relative; }
            .login-form { @apply hidden absolute text-base bg-purple-550 p-5 pt-20 top-0 right-0 z-30; width: 320px; }
            &:hover .login-form { @apply block; } */

          details { @apply mb-0;
            & > span { @apply absolute z-30 mt-0 bg-white text-base right-0; left: unset; width: 320px; top: 64px;
              a { @apply block; font-size: 90%!important; }
              .dropr .ico-arrow-d { font-size: 0.5rem; }

            }
            &[open] summary:after { content: ''; @apply absolute z-10; margin-left: -100vw; width: calc(100vw + 1.5rem); height: calc(100vh - 6rem); top: 2.75rem; }
          }
        }
        .user-account {
            ul { @apply hidden absolute pt-6 px-4 right-0; top: 40px;
                li { @apply text-right my-1 relative;
                    a {  }
                }
            }
            & > span { @apply block z-20;
                &:hover ul { @apply block; }
            }
        }
    }
    .blocks {
        &.triple > span,
        &.news > a { @apply w-1/3; }
        &.news {
            .tag { @apply absolute left-0; top: -41px; }
            .info { @apply absolute bottom-0; min-height: 205px;}

            /* Hover Effect */
            &:hover a {
                &:hover {
                    .info { @apply block; }
                }

                &:not(:hover) { opacity: 0.85; }
            }
        }
    }
    .hero {
        &.md { min-height: 400px; }
        &.lg { min-height: 600px; }
    }

    /* .customer- reviews {
        blockquote { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
        input[type="radio"] + label { @apply pointer-events-auto; }
        &.home {
            label { @apply pr-0; }
        }
        ul { @apply mx-0;
            li { @apply w-auto; }
        }
    } */
    .product-list {
        ul {
            li { @apply bg-white w-1/4;
                &:nth-child(8n+2), &:nth-child(8n+4), &:nth-child(8n+5), &:nth-child(8n+7) { }
            }
        }
        &.listView {
            li a { @apply flex flex-row items-center; }
            .prod_desc { @apply flex justify-between items-center;
                p { @apply mr-10; }
            }
            .prod-btns {
                button { @apply flex-grow-0 flex-auto; min-width: 200px;
                    &.add-to-cart { @apply mt-0; }
                }
            }
            .add-to-favorites { margin-right: 30px;
                input[type="checkbox"] + label { @apply flex; }
            }
            .add-to-cart { @apply ml-0; margin-right: 120px; width: 200px; }
            .qty-counter { @apply z-10; margin-right: 120px; width: 200px;
                button { @apply min-w-0 w-auto; }
            }
        }
    }
    .customer-reviews {
        small { @apply block text-sm; }
        blockquote { @apply text-lg  mb-2 pl-8 relative;
            /* display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; */
            &:before, &:after { @apply absolute text-orange-500; font-size: 250%; line-height: 110%; }
            &:before { content: open-quote; @apply left-0 top-0; }
            &:after { content: close-quote; @apply ml-2; }
        }
        ul { @apply mx-0 mx-auto flex flex-row items-start justify-between; width: calc(100% - 60px);
            li { @apply mx-1 px-0; }
        }
        label { @apply flex items-start text-left;
            .content { @apply hidden text-purple-500; width: 25vmax; }
        }
        .customer-img { @apply mr-0 mx-auto; width: 140px; min-width: 140px; max-width: unset;
            img { @apply block m-0 opacity-75; width: 140px; min-height: 136px }
        }
        input[type="radio"] { @apply hidden;
            & + label { @apply pointer-events-auto; }
            &:checked + label {
                .content { @apply flex flex-grow; }
                .customer-img { width: 140px; min-width: 140px;
                    img { @apply opacity-100; }
                }
            }
            &:hover + label { @apply cursor-pointer;
                .customer-img img { @apply opacity-100; }
            }
        }
        &.home {
            label { @apply pr-0; }
            input[type="radio"] { @apply hidden;
                & + label:before { content: none; }
                &:checked + label:before { content: ''; width: calc(100% - 68px); }
            }
        }
    }
    /* .flipbook-viewport .flipbook { width: 1232px; height: 500px; } */
    .flipbook-viewport .flipbook { width: 100%; height: 500px; }

    .flyer-list, .promo-list {
        .flyer-item, .promo-item { width: calc(33.3333% - 2rem); }
    }

    .order-summary {
        .button-group { @apply flex justify-between items-center;
            & > div { @apply flex-row; }
            button { @apply py-3 px-8 mx-2 text-sm; }
        }
        .table-container { @apply table-auto;
            .scrollable { @apply overflow-y-scroll overflow-x-hidden; max-height: 670px; }
        }
    }
    .file_names { width: calc(33.333% - 1rem); }

    #page-profile {
        .table-container {
            .overflow-y-auto { max-height: 400px; }
        }
    }
    .carousel .text-5xl { font-size: 3.5rem !important; @apply px-10; }
}

/* Large (xl) */
@media (min-width: 1440px) {
    .main-nav {
        font-size: 0.9vmax;
        a, label { font-size: 0.9vmax;}
        .brand-logo { width: 20vw; }
        #nav-content {
            a, label { font-size: 0.9vmax; }
            ul li { margin: 0 0.7vw; }
        }
    }
}

/* Loading Spinner */
.sk-fading-circle { @apply relative my-10 mx-auto w-10 h-10;
    .sk-circle { @apply w-full h-full absolute left-0 top-0;
        &:before { content: ''; width: 15%; height: 15%; -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
        @apply block m-0 mx-auto bg-gray-700 rounded-full; }
    }
    .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    &:before {  -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
    }
    .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
    &:before {  -webkit-animation-delay: -1s; animation-delay: -1s; }
    }
    .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    &:before { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
    }
    .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
    &:before { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
    }
    .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
    &:before { -webkit-animation-delay: -0.7s; animation-delay: -0.7s;  }
    }
    .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    &:before { -webkit-animation-delay: -0.6s; animation-delay: -0.6s; }
    }
    .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
    &:before { -webkit-animation-delay: -0.05; animation-delay: -0.5s; }
    }
    .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
    &:before { -webkit-animation-delay: -0.4s; animation-delay: -0.4s; }
    }
    .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    &:before { -webkit-animation-delay: -0.3s; animation-delay: -0.3s; }
    }
    .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg);
    &:before { -webkit-animation-delay: -0.2s; animation-delay: -0.2s; }
    }
    .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg);
    &:before { -webkit-animation-delay: -0.1s; animation-delay: -0.1s; }
    }
}

@-webkit-keyframes sk-circleFadeDelay { 0%, 39%, 100% { @apply opacity-0; } 40% { @apply opacity-100; } }
@keyframes sk-circleFadeDelay { 0%, 39%, 100% { @apply opacity-0; } 40% { @apply opacity-100; } }
