/* Icons */
@font-face {
  font-family: "suysing-icons";
  src: url("../fonts/suysing-icons.eot?fa3kyu");
  src: url("../fonts/suysing-icons.eot?fa3kyu#iefix") format("embedded-opentype"),
    url("../fonts/suysing-icons.ttf?fa3kyu") format("truetype"),
    url("../fonts/suysing-icons.woff?fa3kyu") format("woff"),
    url("../fonts/suysing-icons.svg?fa3kyu#suysing-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "suysing-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-trash:before {
  content: "\e90f";
}
.ico-plus:before {
  content: "\e910";
}
.ico-minus:before {
  content: "\e911";
}
.shopping-cart {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "suysing-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before { content: "\e90e"; }
} 
.ico-heart:before {
  content: "\e90d";
}
.ico-heart-filled:before {
  content: "\e912";
}
.ico-time:before {
  content: "\e90c";
}
.ico-arrow-d:before {
  content: "\e90b";
}
.ico-arrow-l:before {
  content: "\e900";
}
.ico-arrow-r:before {
  content: "\e901";
}
.ico-box-checked:before {
  content: "\e902";
}
.ico-box-outline:before {
  content: "\e903";
}
.ico-filter:before {
  content: "\e904";
}
.ico-grid:before {
  content: "\e905";
}
.ico-list:before {
  content: "\e906";
}
.ico-star-blank:before {
  content: "\e907";
}
.ico-star-filled:before {
  content: "\e908";
}
.ico-play:before {
  content: "\e909";
}
.ico-search:before {
  content: "\e90a";
}

/* @font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/GothamMedium.eot');
    src: url('../fonts/gotham/GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/GothamMedium.woff2') format('woff2'),
        url('../fonts/gotham/GothamMedium.woff') format('woff'),
        url('../fonts/gotham/GothamMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Bold.eot');
    src: url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Bold.woff') format('woff'),
        url('../fonts/gotham/Gotham-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/Gotham-Book.eot');
    src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('../fonts/gotham/Gotham-Book.woff') format('woff'),
        url('../fonts/gotham/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */