input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000464;
  -webkit-box-shadow: none;
  /* transition: background-color 5000s ease-in-out 0s; */
}

input:-moz-autofill,
input:-moz-autofill:hover, 
input:-moz-autofill:focus,
textarea:-moz-autofill,
textarea:-moz-autofill:hover,
textarea:-moz-autofill:focus,
select:-moz-autofill,
select:-moz-autofill:hover,
select:-moz-autofill:focus {
  -moz-text-fill-color: #000464;
  -moz-box-shadow: 0 0 0px 1000px #e8f0fd inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.empty-state > div.sk-fading-circle {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.d-none {
  display: none !important;
}

/* .customer-reviews.home blockquote {
  font-weight: 400 !important;
  font-size: 1rem !important;
} */

.required {
  color: red;
  font-size: 12px;
}

/* file names */
.file_names {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slide img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain !important;
  -o-object-position: center;
}

#order_list {
  scroll-behavior: smooth;
}
.multiselect__single { @apply truncate m-0 text-gray-900; font-weight: normal!important;
  /* &:first-letter { @apply uppercase; } */
  span { @apply text-gray-900; }
}
.order-summary {
  .multiselect {
    .multiselect__single, .multiselect__option { @apply uppercase; font-weight: 500!important; }
  }
}

.multiselect { @apply relative;
  &:after { @apply absolute; content: ""; top: 50%; right: 16px; color: #999; margin-top: -2px; border-style: solid; border-width: 5px 5px 0; border-color: #999 transparent transparent; }
  &.multiselect--active {
    &:after { border-style: solid; border-width: 0 5px 5px; border-color: transparent transparent #999; }
  }
  &.item-code {
    .multiselect__tags { padding-right: 0.5rem; @apply rounded-none border-purple-500;
      &:hover, &:focus, &:active { @apply cursor-text border-purple-600; }
    }
    &:after { content: none; }
    .multiselect__input { @apply text-center text-sm uppercase; }
  }
  &.ship-to-address {
    .multiselect__single, .multiselect__option { @apply lowercase; }
    &:first-letter { @apply uppercase; }
  }
}
.multiselect__tags { @apply overflow-hidden relative p-2 pr-10; min-height: unset; }
.multiselect__select { @apply z-10 h-full hidden; }
.multiselect--active .multiselect__select {
  &:before { top: 65%; }
}
.multiselect--active {
  .multiselect__tags { @apply rounded-bl-none rounded-br-none; }
}
.multiselect__input { @apply text-base w-auto; }
.multiselect__content-wrapper { @apply overflow-auto w-full; min-width: 100%; border-top: 1px solid #e8e8e8; margin-top: -1px; z-index: 30!important; }
.multiselect__content { @apply bg-white relative  bg-red; }
.multiselect__element { @apply relative; }
.multiselect__option { @apply bg-white font-medium;
  /* &:first-letter { @apply uppercase; } */
  span { @apply text-gray-900; }
  &.multiselect__option--highlight { @apply bg-white;
    span { @apply text-gray-900 border-b-2 border-orange-500; }
  }
}
.multiselect__option--selected { @apply bg-white font-medium;
  &.multiselect__option--highlight { @apply bg-white;
    span { @apply text-gray-900 border-b-2 border-orange-500; }
  }
}

.multiselect__input { @apply mb-0; }
.multiselect__placeholder { @apply font-normal mb-0; font-weight: normal!important; }

.modal-content {}
.modal-header { right: 1rem; top: 1rem; }

@media (min-width: 768px) {
  #app {
    /* overflow-x: hidden; */
    /* min-height: 100vh; */
    /* Sticky Footer */
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
  }
  .multiselect__input, .multiselect__single { max-width: 420px; }
  .multiselect__content-wrapper { @apply w-auto; }
}
