.tabs-name {
  padding: 5px 10px;
  text-align: center;
  margin:0px 1px;
  @apply border-t border-l border-r border-gray-200;
  border-bottom: 0px;
}

.tabs-name-active {
  background-color: #ff9d00;
  color: #fff;
}
